<% active_serivces.sort.reverse.each do |service| %>
  <div class="practitioner-service">
    <div class="practitioner-service-info" id="service-<%= service.id %>">
      <%= render 'services/active_service_detail', service: service %>
    </div>
    <div id="service-edit-container-<%= service.id %>">
      <%= render 'services/service_update_form', practitioner: @practitioner, service: service %>
    </div>
  </div>
  <div class="modal fade" id="newPromotionModal-<%= service.id %>" tabindex="-1" role="dialog" aria-labelledby="newPromotionModalLabel" aria-hidden="true">
    <%= render 'service_promotions/promotion_create_form', service: service, service_promotion: ServicePromotion.new %>
  </div>
<% end %>

