<div class="service-list-item">
  <div class="service-list-item-title details-desktop">
    <div class="d-flex">
      <div class="service-type">
        <p><%= service.service_type.capitalize %></p>
      </div>
      <h3>
        <%= link_to service.name, service_path(service) %>
      </h3>
      <% if service.service_promotions.exists? && service.active_promotion? %>
        <div class="d-flex" style="flex: 1 0 20%;">
          <div class="promo-rectangle">
            <%= service.last_promotion.discount_percentage %>% off
          </div>
          <div class="promo-triangle"></div>
          <p class="small" style="color: red; margin-top: 0.125rem;">
            <% if (service.last_promotion.end_date.to_date - Time.now.to_date).to_i > 1 %>
              (<%= (service.last_promotion.end_date.to_date - Time.now.to_date).to_i %> days left)
            <% elsif ((service.last_promotion.end_date.to_time - Time.now.to_time) / 1.hours).to_i > 1 %>
              (<%= ((service.last_promotion.end_date.to_time - Time.now.to_time) / 1.hours).to_i  %> hours left)
            <% else %>
              (<%= ((service.last_promotion.end_date.to_time - Time.now.to_time) / 1.minutes).to_i  %> minutes left)
            <% end %>
          </p>
        </div>
      <% end %>
    </div>
    <div class="fav-btn" id="fav-btn-<%= service.id %>">
      <% if user_signed_in? %>
        <%= render 'favorite_services/service_btn', service: service %>
      <% end %>
    </div>
  </div>
  <div class="service-list-item-title m-0 details-mobile-flex">
    <div class="service-type">
      <p class="m-0"><%= service.service_type.capitalize %></p>
    </div>
    <% if service.service_promotions.exists? && service.active_promotion? %>
      <div class="d-flex" style="flex: 1 0 20%;">
        <div class="promo-rectangle">
          <%= service.last_promotion.discount_percentage %>% off
        </div>
        <div class="promo-triangle"></div>
        <p class="small" style="color: red; margin-top: 0.125rem;">
          <% if (service.last_promotion.end_date.to_date - Time.now.to_date).to_i > 1 %>
            (<%= (service.last_promotion.end_date.to_date - Time.now.to_date).to_i %> days left)
          <% elsif ((service.last_promotion.end_date.to_time - Time.now.to_time) / 1.hours).to_i > 1 %>
            (<%= ((service.last_promotion.end_date.to_time - Time.now.to_time) / 1.hours).to_i  %> hours left)
          <% else %>
            (<%= ((service.last_promotion.end_date.to_time - Time.now.to_time) / 1.minutes).to_i  %> minutes left)
          <% end %>
        </p>
      </div>
    <% end %>
    <div class="fav-btn" id="fav-btn-<%= service.id %>">
      <% if user_signed_in? %>
        <%= render 'favorite_services/service_btn', service: service %>
      <% end %>
    </div>
  </div>
  <div class="details-mobile">
    <h3>
      <%= link_to service.name, service_path(service) %>
    </h3>
  </div>
  <div class="service-list-item-body details-desktop">
    <div class="service-left-column">
      <div class="service-list-item-practitioner">
        <div class="profile-photo">
          <a href="/practitioners/<%= service.practitioner.user.full_name.delete(' ') %>_<%= service.practitioner.id %>">
            <% if service.practitioner.user.photo.attached? %>
              <img src="<%= cdn_for(service.practitioner.user.cropped_image) %>" class="service-list-item-user avatar-bordered mb-3" alt="">
            <% else %>
              <%= image_tag("profile", class: "service-list-item-user avatar-bordered mb-3") %>
            <% end %>
          </a>
          <h6><%= link_to service.practitioner.user.full_name, practitioner_path(service.practitioner) %></h6>
          <p><%= service.practitioner.title %></p>
          <p><%= service.practitioner.location %></p>
        </div>
      </div>
    </div>
    <div class="service-middle-column">
      <div class="service-list-item-infos">
        <p <%= 'class=short' if service.description.length >= 150 %>><%= service.description.gsub(/\n/, '<br/>').html_safe %></p>
        <% if service.description.length >= 150 %>
          <%= link_to 'Read more', service_path(service) %>
        <% end %>
      </div>
      <div class="service-list-item-goals mt-2">
        <% service.health_goals.order(:name).each do |goal| %>
          <% if params[:search][:health_goal].reject(&:blank?).map(&:to_i).include?(goal.id) %>
            <div class="service-goal match"><%= goal.name %></div>
          <% end %>
        <% end %>
        <% service.health_goals.order(:name).each do |goal| %>
          <% unless params[:search][:health_goal].reject(&:blank?).map(&:to_i).include?(goal.id) %>
            <div class="service-goal"><%= goal.name %></div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="service-right-column">
      <div class="d-flex justify-content-between">
        <div style="flex: 0 0 45%;">
          <label>PRICE</label>
          <% if service.service_promotions.exists? && service.active_promotion? %>
            <p style="color: red; font-weight: 600;">CA$ <%= number_with_precision((service.price - (service.price * service.last_promotion.discount_percentage / 100)), precision: 2, delimiter: ',') %></p>
          <% else %>
            <p>CA$ <%= number_with_precision(service.price, precision: 2, delimiter: ',') %></p>
          <% end %>
        </div>
        <div style="flex: 0 0 45%;">
          <label>DURATION</label>
          <p><%= service.duration %> mins</p>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div style="flex: 0 0 45%;">
          <label>SPECIALTY</label>
          <p><%= service.specialty.name %></p>
        </div>
        <div style="flex: 0 0 45%;">
          <% if service.reviews.count > 0 %>
            <label>Rating</label>
            <p><i class="fas fa-star mr-2 pink-icon"></i><%= service.rating_avg %> (<%= service.reviews.count %>)</p>
          <% end %>
        </div>
      </div>
      <% if service.practitioner.user != current_user %>
        <div class="text-center mt-3">
          <a class="btn btn-flat" href="/services/<%= service.id %>">See availability</a>
        </div>
      <% end %>
    </div>
  </div>
  <div class="service-list-item-body details-mobile">
    <div class="service-list-item-goals">
      <% service.health_goals.order(:name).each do |goal| %>
        <% if params[:search][:health_goal].reject(&:blank?).map(&:to_i).include?(goal.id) %>
          <div class="service-goal match"><%= goal.name %></div>
        <% end %>
      <% end %>
      <% service.health_goals.order(:name).each do |goal| %>
        <% unless params[:search][:health_goal].reject(&:blank?).map(&:to_i).include?(goal.id) %>
          <div class="service-goal"><%= goal.name %></div>
        <% end %>
      <% end %>
    </div>
    <div class="service-list-item-practitioner">
      <div class="profile-photo">
        <a href="/practitioners/<%= service.practitioner.user.full_name.delete(' ') %>_<%= service.practitioner.id %>">
          <% if service.practitioner.user.photo.attached? %>
            <img src="<%= cdn_for(service.practitioner.user.cropped_image) %>" class="service-list-item-user avatar-bordered mb-3" alt="">
          <% else %>
            <%= image_tag("profile", class: "service-list-item-user avatar-bordered mb-3") %>
          <% end %>
        </a>
        <h6><%= link_to service.practitioner.user.full_name, practitioner_path(service.practitioner) %></h6>
      </div>
    </div>
    <div class="service-list-item-infos">
      <p <%= 'class=short' if service.description.length >= 100 %> ><%= service.description.gsub(/\n/, '<br/>').html_safe %></p>
      <% if service.description.length >= 100 %>
        <%= link_to 'Read more', service_path(service) %>
      <% end %>
    </div>
    <div class="d-flex justify-content-between mt-2" style="flex-wrap: wrap;">
      <div style="flex: 0 0 45%;">
        <label>PRICE</label>
        <% if service.service_promotions.exists? && service.active_promotion? %>
          <p style="color: red; font-weight: 600;">CA$ <%= number_with_precision((service.price - (service.price * service.last_promotion.discount_percentage / 100)), precision: 2, delimiter: ',') %></p>
        <% else %>
          <p>CA$ <%= number_with_precision(service.price, precision: 2, delimiter: ',') %></p>
        <% end %>
      </div>
      <div style="flex: 0 0 45%;">
        <label>DURATION</label>
        <p><%= service.duration %> mins</p>
      </div>
      <% if service.reviews.count > 0 %>
        <div style="flex: 0 0 45%;">
          <label>RATING</label>
          <p><i class="fas fa-star mr-2 pink-icon"></i><%= service.rating_avg %> (<%= service.reviews.count %>)</p>
        </div>
      <% end %>
    </div>
    <% if service.practitioner.user != current_user %>
      <div class="text-center mt-3">
        <a class="btn btn-flat" href="/services/<%= service.id %>">See availability</a>
      </div>
    <% end %>
  </div>
</div>
