<% content_for :navbar do %>
  <%= render 'shared/navbar_with_filter' %>
<% end %>
<div class="filter-bar">
  <%= simple_form_for :filter, url: services_path, method: "GET", html: { id: 'filter-form' } do |f| %>
    <% if params[:search] && params[:search][:health_goal] %>
      <div class="d-flex align-items-center">
        <fieldset class="form-group check_boxes required search_health_goal hidden">
          <% HealthGoal.all.sort_by(&:name).each do |goal| %>
            <% if params[:search][:health_goal].include?((goal.id).to_s) %>
              <input class="form-check-input check_boxes required hidden" type="checkbox" value="<%= goal.id %>" name="search[health_goal][]" checked>
            <% else %>
              <input class="form-check-input check_boxes required hidden" type="checkbox" value="<%= goal.id %>" name="search[health_goal][]">
            <% end %>
          <% end %>
          <input type="hidden" name="search[health_goal][]" value="">
        </fieldset>
        <fieldset class="form-group check_boxes required filter_specialty">
          <legend class="btn btn-ghost <% if params[:filter] && params[:filter][:specialty] && params[:filter][:specialty].length > 1 %>active-filter<% end %>" id="specialty-pop">Specialities <% if params[:filter] && params[:filter][:specialty] && params[:filter][:specialty].length > 1 %>(<%= params[:filter][:specialty].reject(&:blank?).count %>)<% end %></legend>
          <div class="specialty-select-box" id="specialty-select-box">
            <div class="specialty-choices">
              <% @filtered_services_specialties.sort_by(&:name).each do |specialty| %>
                <% if params[:filter] && params[:filter][:specialty] %>
                  <% if params[:filter][:specialty].include?((specialty.id).to_s) %>
                    <input class="form-check-input check_boxes required hidden" type="checkbox" value="<%= specialty.id %>" name="filter[specialty][]" id="filter_specialty_<%= specialty.id %>" checked><label class="form-check-label collection_check_boxes specialty-choice active" for="filter_specialty_<%= specialty.id %>"><%= specialty.name %></label>
                  <% else %>
                    <input class="form-check-input check_boxes required hidden" type="checkbox" value="<%= specialty.id %>" name="filter[specialty][]" id="filter_specialty_<%= specialty.id %>"><label class="form-check-label collection_check_boxes specialty-choice" for="filter_specialty_<%= specialty.id %>"><%= specialty.name %></label>
                  <% end %>
                <% else %>
                  <input class="form-check-input check_boxes required hidden" type="checkbox" value="<%= specialty.id %>" name="filter[specialty][]" id="filter_specialty_<%= specialty.id %>"><label class="form-check-label collection_check_boxes specialty-choice" for="filter_specialty_<%= specialty.id %>"><%= specialty.name %></label>
                <% end %>
              <% end %>
            </div>
            <div class="d-flex justify-content-between pt-3">
              <input type="submit" name="commit" value="Clear" class="btn btn-ghost" id="clear-specialty-filter">
              <%= f.submit "Apply", class: "btn btn-flat" %>
            </div>
          </div>
          <input type="hidden" name="filter[specialty][]" value="">
        </fieldset>
        <fieldset class="form-group check_boxes required filter_language">
          <legend class="btn btn-ghost <% if params[:filter] && params[:filter][:language] && params[:filter][:language].length > 1 %>active-filter<% end %>" id="language-pop">Languages <% if params[:filter] && params[:filter][:language] && params[:filter][:language].length > 1 %>(<%= params[:filter][:language].reject(&:blank?).count %>)<% end %></legend>
          <div class="language-select-box" id="language-select-box">
            <div class="language-choices">
              <% @filtered_services_languages.sort_by(&:name).each do |language| %>
                <% if params[:filter] && params[:filter][:language] && params[:filter][:language].include?((language.id).to_s) %>
                  <input class="form-check-input check_boxes required hidden" type="checkbox" value="<%= language.id %>" name="filter[language][]" id="filter_language_<%= language.id %>" checked><label class="form-check-label collection_check_boxes language-choice active" for="filter_language_<%= language.id %>"><%= language.name %></label>
                <% else %>
                  <input class="form-check-input check_boxes required hidden" type="checkbox" value="<%= language.id %>" name="filter[language][]" id="filter_language_<%= language.id %>"><label class="form-check-label collection_check_boxes language-choice" for="filter_language_<%= language.id %>"><%= language.name %></label>
                <% end %>
              <% end %>
            </div>
            <div class="d-flex justify-content-between pt-3">
              <input type="submit" name="commit" value="Clear" class="btn btn-ghost" id="clear-language-filter">
              <%= f.submit "Apply", class: "btn btn-flat" %>
            </div>
          </div>
          <input type="hidden" name="filter[language][]" value="">
        </fieldset>
        <div class="form-group select required filter_service_type">
          <label class="btn btn-ghost <% if params[:filter] && params[:filter][:service_type] && params[:filter][:service_type].length > 1 %>active-filter<% end %>" id="service-type-pop" style="cursor: default;" for="filter_service_type">Service type</label>
          <div class="service-type-select-box" id="service-type-select-box">
            <fieldset class="form-group radio_buttons required filter_service_type">
              <input type="hidden" name="filter[service_type]" id="filter_service_type" value="">
              <div class="form-check">
                <input class="form-check-input radio_buttons required" type="radio" value="" name="filter[service_type]" id="filter_service_type_both" <%= 'checked' unless params[:filter] && params[:filter][:service_type].length > 1 %>><label class="form-check-label collection_radio_buttons" for="filter_service_type_both">Both</label>
              </div>
              <div class="form-check">
                <input class="form-check-input radio_buttons required" type="radio" value="Virtual" name="filter[service_type]" id="filter_service_type_virtual" <%= 'checked' if params[:filter] && params[:filter][:service_type] == "Virtual" %>><label class="form-check-label collection_radio_buttons" for="filter_service_type_virtual">Virtual</label>
              </div>
              <div class="form-check">
                <input class="form-check-input radio_buttons required" readonly="readonly" type="radio" value="In-person" name="filter[service_type]" id="filter_service_type_person" <%= 'checked' if params[:filter] && params[:filter][:service_type] == "In-person" %>><label class="form-check-label collection_radio_buttons" for="filter_service_type_person">In-person</label>
              </div>
            </fieldset>

            <div class="d-flex justify-content-between pt-3">
              <input type="submit" name="commit" value="Clear" class="btn btn-ghost" id="clear-type-filter">
              <%= f.submit "Apply", class: "btn btn-flat" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="search-box-wrapper">
    <i class="fas fa-search"></i><input id="search-box" placeholder="Search by practitioner name or specialty">
    <div id="text-select-box">
      <div id="text-choices">
        <div id="practitioner-choices">
          <h4>By Practitioners</h4>
          <div id="practitioner-choices-list"></div>
        </div>
        <div id="specialty-choices">
          <h4>By Specialities</h4>
          <div id="specialty-choices-list"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container services-page">
  <div>
    <div class="sort-btns">
      <div class="btn btn-ghost pink mr-4 mb-3 active-sort" id="sortPrice">Lower Price</div>
      <div class="btn btn-ghost pink mr-4 mb-3" id="sortDuration">Shorter Duration</div>
    </div>
    <% if @filtered_services %>
      <% if @filtered_services != [] %>
        <div class="service-lists">
          <% @filtered_services.each do |service| %>
            <div class="service-list-item" data-price="<%= service.price.to_i %>" data-duration="<%= service.duration %>">
              <div class="service-left-column">
                <div class="service-list-item-title">
                  <h3><%= link_to service.name, service_path(service) %></h3>
                  <div class="fav-btn" id="fav-btn-<%= service.id %>">
                    <% if user_signed_in? %>
                      <%= render 'favorite_services/service_btn', service: service %>
                    <% end %>
                  </div>
                </div>
                <div class="service-list-item-goals">
                  <% service.health_goals.order(:name).each do |goal| %>
                    <% if params[:search][:health_goal].include?((goal.id).to_s) %>
                      <div class="service-goal match"><%= goal.name %></div>
                    <% else %>
                      <div class="service-goal"><%= goal.name %></div>
                    <% end %>
                  <% end %>
                </div>
                <div class="service-list-item-details details-desktop">
                  <div class="service-list-item-detail-left">
                    <% if service.reviews.count > 0 %>
                      <p><i class="fas fa-star mr-2 pink-icon"></i><%= service.rating_avg %> (<%= service.reviews.count %>)</p>
                    <% else %>
                      <p>No reviews!</p>
                    <% end %>
                    <a class="btn btn-flat" href="/services/<%= service.id %>">Book</a>
                  </div>
                  <div class="service-list-item-detail-middle">
                    <label>TYPE</label>
                    <p><%= service.service_type.capitalize %></p>
                    <label>PRICE</label>
                    <p>CA$ <%= service.price.to_f.round(2) %></p>
                  </div>
                  <div class="service-list-item-detail-right">
                    <label>LANGUAGES</label>
                    <p>
                      <% if service.languages.length <= 2 %>
                        <%= service.languages.pluck(:name).join(', ') %>
                      <% elsif service.languages.length > 2 %>
                        <%= service.languages.first(2).pluck(:name).join(', ') %>, + <%= service.languages.length - 2 %>
                      <% end %>
                    </p>
                    <label>DURATION</label>
                    <p><%= service.duration %> mins</p>
                  </div>
                </div>
                <div class="service-list-item-details details-mobile">
                  <div class="service-list-item-detail-left">
                    <a href="/practitioners/<%= service.practitioner.id %>">
                      <% if service.practitioner.user.photo.attached? %>
                        <img src="<%= proxy_url(service.practitioner.user.photo) %>" class="service-list-item-user avatar-bordered" alt="">
                      <% else %>
                        <%= image_tag("profile", class: "service-list-item-user avatar-bordered") %>
                      <% end %>
                    </a>
                    <p><%= service.practitioner.user.full_name %></p>
                  </div>
                  <div class="service-list-item-detail-middle">
                    <label>TYPE</label>
                    <p><%= service.service_type.capitalize %></p>
                    <% if service.reviews.count > 0 %>
                      <p><i class="fas fa-star mr-2 pink-icon"></i><%= service.rating_avg %> (<%= service.reviews.count %>)</p>
                    <% else %>
                      <p>No reviews!</p>
                    <% end %>
                  </div>
                  <div class="service-list-item-detail-right">
                    <label>PRICE</label>
                    <p>CA$ <%= service.price.to_f.round(2) %></p>
                    <a class="btn btn-flat" href="/services/<%= service.id %>">Book</a>
                  </div>
                </div>
              </div>
              <div class="service-right-column">
                <ul class="list-inline tabs-underlined">
                  <li>
                    <p class="tab-underlined active-tab" id="tab-practitioner-<%= service.id %>">Practitioner</p>
                  </li>
                  <li>
                    <p class="tab-underlined" id="tab-service-<%= service.id %>">Service Info</p>
                  </li>
                </ul>
                <div class="lists" id="practitioner-<%= service.id %>">
                  <div class="service-list-item-practitioner">
                    <div class="profile-photo">
                      <a href="/practitioners/<%= service.practitioner.id %>">
                        <% if service.practitioner.user.photo.attached? %>
                          <img src="<%= proxy_url(service.practitioner.user.photo) %>" class="service-list-item-user avatar-bordered" alt="">
                        <% else %>
                          <%= image_tag("profile", class: "service-list-item-user avatar-bordered") %>
                        <% end %>
                      </a>
                      <p><%= service.practitioner.location %></p>
                    </div>
                    <div class="general-info">
                      <h4><%= link_to service.practitioner.user.full_name, practitioner_path(service.practitioner) %></h4>
                      <div class="practitioner-specialties">
                        <% service.practitioner.specialties.order(:name).each do |specialty| %>
                          <% if params[:search][:specialty] && params[:search][:specialty].include?((specialty.id).to_s) %>
                            <div class="service-goal match"><%= specialty.name %></div>
                          <% else %>
                            <div class="service-goal"><%= specialty.name %></div>
                          <% end %>
                        <% end %>
                      </div>
                      <label>Experience</label>
                      <p><%= service.practitioner.experience %></p>
                    </div>
                  </div>
                </div>
                <div class="lists hidden" id="service-<%= service.id %>">
                  <div class="service-list-item-infos">
                    <p <%= 'class=short' if service.description.length >= 300 %> ><%= service.description.gsub(/\n/, '<br/>').html_safe %></p>
                    <% if service.description.length >= 300 %>
                      <%= link_to 'Read more', service_path(service) %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <script>
              document.getElementById("tab-practitioner-<%= service.id %>").addEventListener('click', (e) => {
                e.target.classList.add('active-tab');
                document.getElementById("tab-service-<%= service.id %>").classList.remove('active-tab');
                document.getElementById("practitioner-<%= service.id %>").classList.remove('hidden');
                document.getElementById("service-<%= service.id %>").classList.add('hidden');
              })
              document.getElementById("tab-service-<%= service.id %>").addEventListener('click', (e) => {
                e.target.classList.add('active-tab');
                document.getElementById("tab-practitioner-<%= service.id %>").classList.remove('active-tab');
                document.getElementById("service-<%= service.id %>").classList.remove('hidden');
                document.getElementById("practitioner-<%= service.id %>").classList.add('hidden');
              })
            </script>
          <% end %>
        </div>
      <% else %>
        <p>Please try different filters for search!</p>
      <% end %>
    <% else %>
      <div class="service-lists">
        <% @all_services.sort_by(&:price).each do |service| %>
          <div class="service-list-item" data-price="<%= service.price.to_i %>" data-duration="<%= service.duration %>">
            <div class="service-left-column">
              <div class="service-list-item-title">
                <h3><%= link_to service.name, service_path(service) %></h3>
                <div class="fav-btn" id="fav-btn-<%= service.id %>">
                  <% if user_signed_in? %>
                    <%= render 'favorite_services/service_btn', service: service %>
                  <% end %>
                </div>
              </div>
              <div class="service-list-item-goals">
                <% service.health_goals.order(:name).each do |goal| %>
                  <% if user_signed_in? %>
                    <% if current_user.health_goals.include?(goal) %>
                      <div class="service-goal match"><%= goal.name %></div>
                    <% else %>
                      <div class="service-goal"><%= goal.name %></div>
                    <% end %>
                  <% else %>
                    <div class="service-goal"><%= goal.name %></div>
                  <% end %>
                <% end %>
              </div>
              <div class="service-list-item-details details-desktop">
                <div class="service-list-item-detail-left">
                  <% if service.reviews.count > 0 %>
                    <p><i class="fas fa-star mr-2 pink-icon"></i><%= service.rating_avg %> (<%= service.reviews.count %>)</p>
                  <% else %>
                    <p>No reviews!</p>
                  <% end %>
                  <a class="btn btn-flat" href="/services/<%= service.id %>">Book</a>
                </div>
                <div class="service-list-item-detail-middle">
                  <label>TYPE</label>
                  <p><%= service.service_type.capitalize %></p>
                  <label>PRICE</label>
                  <p>CA$ <%= service.price.to_f.round(2) %></p>
                </div>
                <div class="service-list-item-detail-right">
                  <label>LANGUAGES</label>
                  <p>
                    <% if service.languages.length <= 2 %>
                      <%= service.languages.pluck(:name).join(', ') %>
                    <% elsif service.languages.length > 2 %>
                      <%= service.languages.first(2).pluck(:name).join(', ') %>, + <%= service.languages.length - 2 %>
                    <% end %>
                  </p>
                  <label>DURATION</label>
                  <p><%= service.duration %> mins</p>
                </div>
              </div>
              <div class="service-list-item-details details-mobile">
                <div class="service-list-item-detail-left">
                  <a href="/practitioners/<%= service.practitioner.id %>">
                    <% if service.practitioner.user.photo.attached? %>
                      <img src="<%= proxy_url(service.practitioner.user.photo) %>" class="service-list-item-user avatar-bordered" alt="">
                    <% else %>
                      <%= image_tag("profile", class: "service-list-item-user avatar-bordered") %>
                    <% end %>
                  </a>
                  <p><%= service.practitioner.user.full_name %></p>
                </div>
                <div class="service-list-item-detail-middle">
                  <label>TYPE</label>
                  <p><%= service.service_type.capitalize %></p>
                  <% if service.reviews.count > 0 %>
                    <p><i class="fas fa-star mr-2 pink-icon"></i><%= service.rating_avg %> (<%= service.reviews.count %>)</p>
                  <% else %>
                    <p>No reviews!</p>
                  <% end %>
                </div>
                <div class="service-list-item-detail-right">
                  <label>PRICE</label>
                  <p>CA$ <%= service.price.to_f.round(2) %></p>
                  <a class="btn btn-flat" href="/services/<%= service.id %>">Book</a>
                </div>
              </div>
            </div>
            <div class="service-right-column">
              <ul class="list-inline tabs-underlined">
                <li>
                  <p class="tab-underlined active-tab" id="tab-practitioner-<%= service.id %>">Practitioner</p>
                </li>
                <li>
                  <p class="tab-underlined" id="tab-service-<%= service.id %>">Service Info</p>
                </li>
              </ul>
              <div class="lists" id="practitioner-<%= service.id %>">
                <div class="service-list-item-practitioner">
                  <div class="profile-photo">
                    <a href="/practitioners/<%= service.practitioner.id %>">
                      <% if service.practitioner.user.photo.attached? %>
                        <img src="<%= proxy_url(service.practitioner.user.photo) %>" class="service-list-item-user avatar-bordered" alt="">
                      <% else %>
                        <%= image_tag("profile", class: "service-list-item-user avatar-bordered") %>
                      <% end %>
                    </a>
                    <p><%= service.practitioner.location %></p>
                  </div>
                  <div class="general-info">
                    <h4><%= link_to service.practitioner.user.full_name, practitioner_path(service.practitioner) %></h4>
                    <div class="practitioner-specialties">
                      <% service.practitioner.specialties.order(:name).each do |specialty| %>
                        <div class="service-goal"><%= specialty.name %></div>
                      <% end %>
                    </div>
                    <label>Experience</label>
                    <p><%= service.practitioner.experience %></p>
                  </div>
                </div>
              </div>
              <div class="lists hidden" id="service-<%= service.id %>">
                <div class="service-list-item-infos">
                  <p <%= 'class=short' if service.description.length >= 300 %> ><%= service.description.gsub(/\n/, '<br/>').html_safe %></p>
                  <% if service.description.length >= 300 %>
                    <%= link_to 'Read more', service_path(service) %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <script>
            document.getElementById("tab-practitioner-<%= service.id %>").addEventListener('click', (e) => {
              e.target.classList.add('active-tab');
              document.getElementById("tab-service-<%= service.id %>").classList.remove('active-tab');
              document.getElementById("practitioner-<%= service.id %>").classList.remove('hidden');
              document.getElementById("service-<%= service.id %>").classList.add('hidden');
            })
            document.getElementById("tab-service-<%= service.id %>").addEventListener('click', (e) => {
              e.target.classList.add('active-tab');
              document.getElementById("tab-practitioner-<%= service.id %>").classList.remove('active-tab');
              document.getElementById("service-<%= service.id %>").classList.remove('hidden');
              document.getElementById("practitioner-<%= service.id %>").classList.add('hidden');
            })
          </script>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
</div>
<script>
  if (document.getElementById('specialty-pop')) {
    const specialtySelectBoxBtn = document.getElementById('specialty-pop');
    const languageSelectBoxBtn = document.getElementById('language-pop');
    const serviceTypeSelectBoxBtn = document.getElementById('service-type-pop');
    const specialtySelectBox = document.getElementById('specialty-select-box');
    const languageSelectBox = document.getElementById('language-select-box');
    const serviceTypeSelectBox = document.getElementById('service-type-select-box');
    if (specialtySelectBoxBtn) {
      specialtySelectBoxBtn.addEventListener('click', () => {
        specialtySelectBoxBtn.classList.toggle('btn-opened');
        languageSelectBoxBtn.classList.remove('btn-opened');
        serviceTypeSelectBoxBtn.classList.remove('btn-opened');
        specialtySelectBox.classList.toggle('opened');
        languageSelectBox.classList.remove('opened');
        serviceTypeSelectBox.classList.remove('opened');
      });
    }
    if (languageSelectBoxBtn) {
      languageSelectBoxBtn.addEventListener('click', () => {
        languageSelectBoxBtn.classList.toggle('btn-opened');
        specialtySelectBoxBtn.classList.remove('btn-opened');
        serviceTypeSelectBoxBtn.classList.remove('btn-opened');
        languageSelectBox.classList.toggle('opened');
        specialtySelectBox.classList.remove('opened');
        serviceTypeSelectBox.classList.remove('opened');
      });
    }
    if (serviceTypeSelectBoxBtn) {
      serviceTypeSelectBoxBtn.addEventListener('click', () => {
        serviceTypeSelectBoxBtn.classList.toggle('btn-opened');
        languageSelectBoxBtn.classList.remove('btn-opened');
        specialtySelectBoxBtn.classList.remove('btn-opened');
        serviceTypeSelectBox.classList.toggle('opened');
        specialtySelectBox.classList.remove('opened');
        languageSelectBox.classList.remove('opened');
      });
    }
    document.addEventListener('click', (event) => {
      const specialtyBoxClick = specialtySelectBox.contains(event.target);
      const specialtyBtnClick = specialtySelectBoxBtn.contains(event.target);
      const languageBoxClick = languageSelectBox.contains(event.target);
      const languageBtnClick = languageSelectBoxBtn.contains(event.target);
      const serviceTypeBoxClick = serviceTypeSelectBox.contains(event.target);
      const serviceTypeBtnClick = serviceTypeSelectBoxBtn.contains(event.target);
      if (specialtySelectBox.classList.contains('opened') && (!specialtyBoxClick) && (!specialtyBtnClick)) {
        specialtySelectBoxBtn.classList.remove('btn-opened');
        specialtySelectBox.classList.remove('opened');
        // document.getElementById('filter-form').submit();
      } else if (languageSelectBox.classList.contains('opened') && (!languageBoxClick) && (!languageBtnClick)) {
        languageSelectBoxBtn.classList.remove('btn-opened');
        languageSelectBox.classList.remove('opened');
        // document.getElementById('filter-form').submit();
      } else if (serviceTypeSelectBox.classList.contains('opened') && (!serviceTypeBoxClick) && (!serviceTypeBtnClick)) {
        serviceTypeSelectBoxBtn.classList.remove('btn-opened');
        serviceTypeSelectBox.classList.remove('opened');
        // document.getElementById('filter-form').submit();
      }
    })
    const clearSpecialty = document.getElementById('clear-specialty-filter');
    clearSpecialty.addEventListener('click', (e) => {
      e.preventDefault();
      uncheckAll('specialty-choices');
      document.getElementById('filter-form').submit();
    });
    const clearLanguage = document.getElementById('clear-language-filter');
    clearLanguage.addEventListener('click', (e) => {
      e.preventDefault();
      uncheckAll('language-choices');
      document.getElementById('filter-form').submit();
    });
    const clearType = document.getElementById('clear-type-filter');
    clearType.addEventListener('click', (e) => {
      e.preventDefault();
      document.getElementById('filter_service_type_both').checked = true;
      document.getElementById('filter_service_type_virtual').checked = false;
      document.getElementById('filter_service_type_person').checked = false;
      document.getElementById('filter-form').submit();
    });
  }
  const uncheckAll = (divid) => {
    var checks = document.querySelectorAll('.' + divid + ' input[type="checkbox"]');
    for(var i =0; i< checks.length;i++){
      var check = checks[i];
      if(!check.disabled){
        check.checked = false;
      }
    }
  }
  const priceBtn = document.getElementById('sortPrice');
  const durationBtn = document.getElementById('sortDuration');
  if (priceBtn) {
    priceBtn.addEventListener('click', (event) =>{
      const active = document.querySelector('.active-sort');
      active.classList.remove('active-sort');
      event.currentTarget.classList.add('active-sort');
      var $wrapper = $('.service-lists');
      $wrapper.find('.service-list-item').sort(function(a, b) {
        return +a.dataset.price - +b.dataset.price;
      })
      .appendTo($wrapper);
    })
  }
  if (durationBtn) {
    durationBtn.addEventListener('click', (event) =>{
      const active = document.querySelector('.active-sort');
      active.classList.remove('active-sort');
      event.currentTarget.classList.add('active-sort');
      var $wrapper = $('.service-lists');
      $wrapper.find('.service-list-item').sort(function(a, b) {
        return +a.dataset.duration - +b.dataset.duration;
      })
      .appendTo($wrapper);
    })
  }
  const textSearch = document.getElementById('search-box');
  const resultBox = document.getElementById('text-select-box');
  textSearch.addEventListener('keyup', (e) => {
    if (textSearch.value.length >= 2) {
      document.getElementById('practitioner-choices-list').innerHTML = '';
      resultBox.classList.add('opened');
      getPractitionersByName(textSearch.value);
      getSpecialtiesByName(textSearch.value);
    } else {
      resultBox.classList.remove('opened');
    }
  })
  const getPractitionersByName = (string) => {
    $.ajax({
      url: 'practitioners/filter',
      data: {query: string},
      success: function(data){
      }
    });
  }
  const getSpecialtiesByName = (string) => {
    $.ajax({
      url: 'specialties/filter',
      data: {query: string},
      success: function(data){
      }
    });
  }
</script>
