<div class="container service-page">
  <div class="d-flex">
    <h2><%= @service.name %> with <%= @service.practitioner.user.first_name %></h2>
    <div id="service-btn">
      <%= render 'favorite_services/service_btn', service: @service %>
    </div>
  </div>
  <% if @service.reviews.count > 0 %>
    <p><i class="fas fa-star mr-2" style="color: red;"></i><%= @service.rating_avg %> (<%= @service.reviews.count %>)</p>
  <% else %>
    <p>No reviews!</p>
  <% end %>
  <div class="service-details">
    <div class="service-session-form">
      <p>Please select 3 time slots you prefer and the practitioner will confirm it.</p>
      <%= simple_form_for [@service, @session] do |f| %>
        <%= f.input :primary_time, as: :string, label: 'Primary', input_html: {class: "datepicker"} %>
        <%= f.input :secondary_time, as: :string, label: 'Secondary', input_html: {class: "datepicker"} %>
        <%= f.input :tertiary_time, as: :string, label: 'Tertiary', input_html: {class: "datepicker"} %>
        <p>By sending session request, I agree to the Terms of Service and agree to pay the amount shown including the 3% service fee. Your card will be preauthorized for the amount, but will not be charged until your booking is confirmed. </p>
        <%= f.submit "Send session request", class: 'btn btn-flat'%>
      <% end %>
    </div>
    <div class="service-session-summary">
      <div class="service-description">
        <p><%= @service.description %></p>
        <p>Specialty: <%= @service.specialty.name %></p>
        <p>Related health goals:
          <% @service.specialty.health_goals.each do |goal| %>
            <%= goal.name %>
          <% end %>
        </p>
        <p>Session type: <%= @service.service_type %></p>
        <p>Duration: <%= @service.duration %>m</p>
      </div>
      <div class="service-total-price">
        <p>Session: CA$ <%= @service.price.to_f.round(2) %></p>
        <p>Service fee: C$ <%=( @service.price * 0.03).round(2) %></p>
        <p>Total price: C$ <%= (@service.price * 1.03).round(2) %></p>
      </div>
    </div>
  </div>
</div>
