<p data-senderId="<%= current_user.id %>">
  <% if message.content.include?("\n") %>
    <% message.content.split("\n").reverse.drop(1).reverse.each do |line| %>
      <%= line %> <br>
    <% end %>
    <%= message.content.split("\n").last %>
  <% else %>
    <%= message.content %>
  <% end %>
  <i>
    <%= message.created_at.strftime("%k:%M") %>
  </i>
</p>
