<div class="container session-page">
  <% if @session.practitioner.user == current_user %>
    <h2><%= @session.service.name %> with <%= @session.user.full_name %></h2>
    <% if @session.status == 'pending' && @session.paid %>
      <p><%= @session.user.first_name %> has chose 3 time slots for the requested session. Please choose one to confirm the session.</p>
      <%= simple_form_for @session do |f| %>
        <div class="form-group">
          <input type="hidden" name="session[time]" value="">
          <div class="time-choices">
            <input type="radio" class="hidden" value="primary" name="session[time]" id="session_time_primary">
            <label class="time-choice" for="session_time_primary">
              <%= @session.primary_time.strftime('%b %d, %Y %I:%M %p') %>
            </label>
            <input type="radio" class="hidden" value="secondary" name="session[time]" id="session_time_secondary">
            <label class="time-choice" for="session_time_secondary">
              <%= @session.secondary_time.strftime('%b %d, %Y %I:%M %p') %>
            </label>
            <input type="radio" class="hidden" value="tertiary" name="session[time]" id="session_time_tertiary">
            <label class="time-choice" for="session_time_tertiary">
              <%= @session.tertiary_time.strftime('%b %d, %Y %I:%M %p') %>
            </label>
          </div>
        </div>
        <p>Or choose another time for the session.</p>
        <%= f.input :start_time, as: :string, input_html: {class: "datepicker"} %>
        <div class="session-btns">
          <%= f.submit 'Accept', class: 'btn btn-flat' %>
          <%= f.submit 'Decline',  data: { confirm: "Are you sure?" }, class: 'btn btn-ghost ml-5' %>
        </div>
      <% end %>
    <% elsif @session.status == 'confirmed' %>
      <p>Your session has been confirmed.</p>
      <div class="session-btns">
        <%= link_to 'Send message', '', class: 'btn btn-flat' %>
        <%= simple_form_for [@session] do |f| %>
          <%= f.submit 'Cancel this session',  data: { confirm: "Are you sure?" }, class: 'btn btn-ghost ml-5' %>
        <% end %>
      </div>
    <% end %>
  <% elsif @session.user == current_user %>
    <h2> <%= @session.service.name %> with <%= @session.practitioner.user.full_name %></h2>
    <% if @session.status == 'pending' && !@session.paid %>
      <p>Thank you for requesting a session with <%= @session.practitioner.user.first_name %> for <%= @session.service.name %></p>
      <p><strong>Please complete your checkout to proceed.</strong></p>
      <div class="session-btns">
        <%= link_to 'Go to checkout', new_session_payment_path(@session), class: 'btn btn-flat' %>
        <%= simple_form_for [@session] do |f| %>
          <%= f.submit 'Cancel this request',  data: { confirm: "Are you sure?" }, class: 'btn btn-ghost ml-5' %>
        <% end %>
      </div>
    <% elsif @session.status == 'pending' && @session.paid %>
      <p>Thank you for requesting a session with <%= @session.practitioner.user.first_name %> for <%= @session.service.name %></p>
      <p><strong><%= @session.service.practitioner.user.first_name %> will confirm this session shortly.</strong></p>
      <div class="session-btns">
        <%= simple_form_for [@session] do |f| %>
          <%= f.submit 'Cancel this request',  data: { confirm: "Are you sure?" }, class: 'btn btn-ghost' %>
        <% end %>
      </div>
    <% elsif @session.status == 'confirmed' %>
      <p>Thank you for booking a session with <%= @session.practitioner.user.first_name %> for <%= @session.service.name %></p>
      <div class="session-btns">
        <%= link_to 'Send message', '', class: 'btn btn-flat' %>
        <%= simple_form_for [@session] do |f| %>
          <%= f.submit 'Cancel this session',  data: { confirm: "Are you sure?" }, class: 'btn btn-ghost ml-5' %>
        <% end %>
      </div>
    <% elsif @session.status == 'cancelled' %>
      <h2>This session has been cancelled.</h2>
    <% end %>
  <% end %>
  <h3>Your session summary</h3>
  <p>Starting date and time: <%= @session.start_time %></p>
  <p>Duration: <%= @session.service.duration %>m</p>
  <p>Session type: <%= @session.service.service_type.capitalize %></p>
  <% if @session.service.service_type == 'in-person' %>
    <p>Session location: <%= @session.service.practitioner.location %></p>
    <p>Address: <%= @session.service.practitioner.address %></p>
  <% end %>
  <p>Total price: CA$ <%= (@session.service.price * 1.03).round(2) %></p>
  <% if @session.user == current_user %>
    <p>Cancellation Policy: Cancel more than 24 hours before your appointment to get a full refund, less the service fee. Payment cannot be refunded if cancelling within 24 hours of session.</p>
    <p>By booking, I agree to the Terms of Service and agree to pay the amount shown including the 3% service fee. Your card will be preauthorized for the amount, but will not be charged until your booking is confirmed. </p>
  <% end %>
</div>
<script>
  const choices = document.querySelectorAll('.time-choice');
  choices.forEach( choice =>
    choice.addEventListener("click", (event) => {
      const active = document.querySelector('.active');
      event.currentTarget.classList.toggle('active');
      if (active !== null) {
        active.classList.remove('active');
      }
    })
  );
</script>
