<% provide :head_tags do %>
  <% if @session.session_type == 'In-person' %>
    <meta name='turbolinks-visit-control' content='reload'>
    <script>
      document.addEventListener("DOMContentLoaded", function(){
        <% if @session.address? %>
          initMap(<%=@session.latitude%>, <%=@session.longitude%>, 'session-map');
        <% else %>
          initMap(<%=@practitioner.latitude%>, <%=@practitioner.longitude%>, 'session-map', '<%=@practitioner.address_type%>');
        <% end %>
        <% if @session.start_time > Time.current && @session.practitioner.user == current_user %>
          initAutocomplete();
        <% end %>
      });
    </script>
  <% end %>
<% end %>
<div class="container session-page">
  <% if @practitioner.user == current_user %>
    <div class="session-title">
      <h2><%= @session.service.name %> with <%= @session.user.full_name %></h2>
    </div>
    <% if (@session.status == 'pending' && @session.paid) || (@session.status == 'pending' && @session.service.default_service) %>
      <p class="mt-3"><%= @session.user.first_name %> has chose 3 time slots for the requested session. Please choose one to confirm the session.</p>
      <%= simple_form_for @session do |f| %>
        <div class="form-group">
          <input type="hidden" name="session[time]" value="primary">
          <div class="time-choices">
            <input type="radio" class="hidden" value="primary" name="session[time]" id="session_time_primary">
            <label class="time-choice active" for="session_time_primary"><%= @session.primary_time.in_time_zone(current_user.timezone).strftime('%a, %b %d, %Y %l:%M %p %Z') %></label>
            <input type="radio" class="hidden" value="secondary" name="session[time]" id="session_time_secondary">
            <label class="time-choice" for="session_time_secondary"><%= @session.secondary_time.in_time_zone(current_user.timezone).strftime('%a, %b %d, %Y %l:%M %p %Z') %></label>
            <input type="radio" class="hidden" value="tertiary" name="session[time]" id="session_time_tertiary">
            <label class="time-choice" for="session_time_tertiary"><%= @session.tertiary_time.in_time_zone(current_user.timezone).strftime('%a, %b %d, %Y %l:%M %p %Z') %></label>
          </div>
        </div>
        <% if @session.session_type == 'Virtual' %>
          <%= f.input :link, input_html: { class: 'w-50' }, label: 'Please add a link for the virtual session', require: true %>
        <% elsif @session.session_type == 'In-person' %>
          <%= f.input :address, input_html: { class: 'w-50' }, label: 'Please add an address for the in-person session', require: true %>
          <%= f.input :latitude, as: :hidden %>
          <%= f.input :longitude, as: :hidden %>
        <% end %>
        <div class="session-btns">
          <%= f.submit 'Confirm', class: 'btn btn-flat', id: 'confirm', disabled: true %>
          <%= f.submit 'Decline', data: { confirm: "Are you sure?" }, class: 'btn btn-ghost' %>
        </div>
      <% end %>
    <% elsif @session.status == 'confirmed' %>
      <p class="mt-3">Your session has been confirmed.</p>
      <div class="session-btns">
        <%= simple_form_for [@session.user, @conversation] do |f| %>
          <%= f.submit 'Send Message', class: 'btn btn-flat' %>
        <% end %>
        <% if @session.start_time > Time.current %>
          <button data-toggle="modal" data-target="#cancelSessionModal" data-disable-with="Cancel This Session" class="btn btn-ghost">Cancel This Session</button>
        <% end %>
      </div>
    <% elsif @session.status == 'cancelled' %>
      <h4 class="my-2" style="opacity: 0.7;"><em>This session has been cancelled.</em></h4>
    <% end %>
  <% elsif @session.user == current_user %>
    <div class="session-title">
      <h2><%= link_to @session.service.name, service_path(@session.service) %> with <%= link_to @practitioner.user.full_name, practitioner_path(@practitioner) %></h2>
      <% if @session.status == 'confirmed' && @session.start_time < Time.current && @session.review == nil %>
        <%= link_to 'Rate', '', data: { toggle: "modal", target: "#newReviewModal" }, class: 'btn btn-flat' %>
      <% end %>
    </div>
    <% if @session.status == 'pending' && !@session.paid && !@session.service.default_service %>
      <p class="mt-3">Thank you for requesting a session with <%= link_to @practitioner.user.first_name, practitioner_path(@practitioner) %> for <%= link_to @session.service.name, service_path(@session.service) %></p>
      <p><strong>Please complete your checkout to proceed.</strong></p>
      <div class="session-btns">
        <%= link_to 'Go to checkout', new_session_payment_path(@session), class: 'btn btn-flat' %>
        <%= simple_form_for [@session] do |f| %>
          <%= f.submit 'Cancel This Request',  data: { confirm: "Are you sure?" }, class: 'btn btn-ghost' %>
        <% end %>
      </div>
    <% elsif (@session.status == 'pending' && @session.paid) || (@session.status == 'pending' && @session.service.default_service) %>
      <p class="mt-3">Thank you for requesting a session with <%= link_to @practitioner.user.first_name, practitioner_path(@practitioner) %> for <%= link_to @session.service.name, service_path(@session.service) %></p>
      <p><strong><%= @session.service.practitioner.user.first_name %> will confirm this session shortly.</strong></p>
      <div class="session-btns">
        <%= simple_form_for [@session] do |f| %>
          <%= f.submit 'Cancel This Request',  data: { confirm: "Are you sure?" }, class: 'btn btn-ghost' %>
        <% end %>
      </div>
    <% elsif @session.status == 'confirmed' %>
      <p class="mt-3">Thank you for booking a session with <%= link_to @practitioner.user.first_name, practitioner_path(@practitioner) %> for <%= link_to @session.service.name, service_path(@session.service) %></p>
      <div class="session-btns">
        <%= simple_form_for [@practitioner.user, @conversation] do |f| %>
          <%= f.submit 'Send Message', class: 'btn btn-flat' %>
        <% end %>
        <% if @session.start_time > Time.current %>
          <button data-toggle="modal" data-target="#cancelSessionModal" data-disable-with="Cancel This Session" class="btn btn-ghost">Cancel This Session</button>
        <% end %>
      </div>
    <% elsif @session.status == 'cancelled' %>
      <h4 class="my-2" style="opacity: 0.7;"><em>This session has been cancelled.</em></h4>
    <% end %>
  <% end %>
  <% if @session.session_type == 'In-person' %>
    <div class="session-detail">
      <div class="session-summary">
        <h4>Your Session Summary</h4>
        <% if @session.start_time %>
          <p>Session Time: <span id='session_time'><%= @session.start_time.in_time_zone(current_user.timezone).strftime('%a, %b %d, %Y %l:%M %p %Z') %></span></p>
        <% else %>
          <p>Session Time: TBD</p>
        <% end %>
        <p>Duration: <%= @session.service.duration %>m</p>
        <p>Session Type: <%= @session.session_type %></p>
        <p>Total Price: CA$ <%= @session.amount.round(2) %></p>
        <% if @session.address %>
          <div class="d-flex">
            <p class="mr-2">Session Location: <span id="address"><%= @session.address %></span></p>
            <% if @session.start_time > Time.current && @session.practitioner.user == current_user %>
              <%= link_to '', '', class: 'fas fa-pen', id: 'address-edit', style: 'margin-top: 0.25rem;' %>
              <%= simple_form_for([@session], remote: true, html: { id: :address_form, style: 'display: none; align-items: center;' }) do |f| %>
                <%= f.input :address, label: false, require: true %>
                <%= f.input :latitude, as: :hidden %>
                <%= f.input :longitude, as: :hidden %>
                <button type="submit" id="address-submit" disabled=""><i class='fas fa-check'></i></button>
                <button id='address-cancel'><%= link_to '', '', class: 'fas fa-times' %></button>
              <% end %>
            <% end %>
          </div>
        <% end %>
        <% if @session.user == current_user && !@session.service.default_service %>
          <p class="mb-0"><strong>Cancellation Policy</strong></p>
          <p>Cancel more than 24 hours before your appointment to get a full refund, less the service fee. Payment cannot be refunded if cancelling within 24 hours of session.</p>
        <% else %>
          <% if @session.message && @session.message != '' %>
            <p>Message From <%= @session.user.full_name %>: <%= @session.message.gsub(/\n/, '<br/>').html_safe %></p>
          <% end %>
          <% if !@session.service.default_service %>
            <p class="mb-0"><strong>Cancellation Policy</strong></p>
            <p>Cancel more than 24 hours before your appointment if you need to, unless penalty of 35% this session fee will be issued.</p>
          <% end %>
        <% end %>
      </div>
      <div class="session-location">
        <div id="session-map"></div>
      </div>
    </div>
  <% else %>
    <div class="session-detail">
      <div class="session-summary">
        <h4>Your Session Summary</h4>
        <% if @session.start_time %>
          <p>Session Time: <span id='session_time'><%= @session.start_time.in_time_zone(current_user.timezone).strftime('%a, %b %d, %Y %l:%M %p %Z') %></span></p>
        <% else %>
          <p>Session Time: TBD</p>
        <% end %>
        <p>Duration: <%= @session.service.duration %>m</p>
        <p>Session Type: <%= @session.session_type %></p>
        <p>Total Price: CA$ <%= @session.amount.round(2) %></p>
        <div class="d-flex">
          <p class="mr-2">Virtual Session Link: <span id="link"><a href="<%= @session.link %>" target="_blank"><%= @session.link %></a></span></p>
          <% if @session.start_time > Time.current %>
            <%= link_to '', '', class: 'fas fa-pen', id: 'link-edit', style: 'margin-top: 0.25rem;' %>
          <% end %>
          <%= simple_form_for([@session], remote: true, html: { id: :link_form, style: 'display: none; align-items: center;' }) do |f| %>
            <%= f.input :link, label: false, requred: true %>
            <button type="submit" id="link-submit"><i class='fas fa-check'></i></button>
            <button id='link-cancel'><%= link_to '', '', class: 'fas fa-times' %></button>
          <% end %>
        </div>
        <% if @session.user == current_user && !@session.service.default_service %>
          <p class="mb-0"><strong>Cancellation Policy</strong></p>
          <p>Cancel more than 24 hours before your appointment to get a full refund, less the service fee. Payment cannot be refunded if cancelling within 24 hours of session.</p>
        <% else %>
          <% if @session.message && @session.message != '' %>
            <p>Message From <%= @session.user.full_name %>: <%= @session.message.gsub(/\n/, '<br/>').html_safe %></p>
          <% end %>
          <% if !@session.service.default_service %>
            <p class="mb-0"><strong>Cancellation Policy</strong></p>
            <p>Cancel more than 24 hours before your appointment if you need to, unless penalty of 35% this session fee will be issued.</p>
          <% end %>
        <% end %>
      </div>
      <div class="session-location" style="display: flex; justify-content: flex-end;">
        <%= image_tag('logo-square.jpeg') %>
      </div>
    </div>
  <% end %>
</div>
<% if @session.status == 'confirmed' && @session.start_time < Time.current && @session.review == nil %>
  <div class="modal fade" id="newReviewModal" tabindex="-1" role="dialog" aria-labelledby="newReviewModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newReviewModalLabel">Write review</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= simple_form_for([@session, @review]) do |f| %>
            <%= f.input :rating, collection: [5, 4, 3, 2, 1]  %>
            <%= f.input :comment %>
            <%= f.submit :Submit, class: 'btn btn-flat' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="modal fade" id="cancelSessionModal" tabindex="-1" role="dialog" aria-labelledby="cancelSessionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h3>Cancel <em><%= @session.service.name %></em></h3>
        <% if @session.start_time %>
          <% if @time_diff >= 24 %>
            <p>You won't be charged any for the cancellation at this moment and will get a full fund.</p>
          <% else %>
            <p>You won't any refund for the cancellation at this moment according to our cancellation policy.</p>
          <% end %>
        <% end %>
        <%= simple_form_for [@session] do |f| %>
          <% if current_user == @session.user %>
            <p>Please tell your practitioner why<br>you have to cancel the session.</p>
          <% else %>
            <p>Please tell your customer why<br>you have to cancel the session.</p>
          <% end %>
          <%= f.input :cancel_reason, label: false, require: true %>
          <%= f.submit 'Confirm Cancellation', data: { toggle: "modal", target: "#cancelSessionModal" }, class: 'btn btn-flat' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
  const choices = document.querySelectorAll('.time-choice');
  choices.forEach( choice =>
    choice.addEventListener("click", (event) => {
      const active = document.querySelector('.active');
      event.currentTarget.classList.toggle('active');
      if (active !== null) {
        active.classList.remove('active');
      }
    })
  );
  if (document.getElementById('link_form')) {
    const link = document.getElementById('link');
    const linkForm = document.getElementById('link_form');
    const linkEdit = document.getElementById('link-edit');
    const linkCancel = document.getElementById('link-cancel');
    document.getElementById('session_link').addEventListener('keyup', (e) => {
      if (document.getElementById('session_link').value == '') {
        document.getElementById('link-submit').disabled = true;
      } else {
        document.getElementById('link-submit').disabled = false;
      }
    })
    linkEdit.addEventListener('click', (e) => {
      e.preventDefault();
      link.style.display = 'none';
      linkForm.style.display = 'flex';
      linkEdit.style.display = 'none';
    })
    linkCancel.addEventListener('click', (e) => {
      e.preventDefault();
      link.style.display = 'inline';
      linkForm.style.display = 'none';
      linkEdit.style.display = 'block';
    })
  }
  if (document.getElementById('address_form')) {
    const address = document.getElementById('address');
    const addressForm = document.getElementById('address_form');
    const addressEdit = document.getElementById('address-edit');
    const addressCancel = document.getElementById('address-cancel');
    document.getElementById('address-submit').addEventListener('click', (e) => {
      if (document.getElementById('session_address').value == '') {
        e.preventDefault();
      }
    })
    addressEdit.addEventListener('click', (e) => {
      e.preventDefault();
      address.style.display = 'none';
      addressForm.style.display = 'flex';
      addressEdit.style.display = 'none';
    })
    addressCancel.addEventListener('click', (e) => {
      e.preventDefault();
      address.style.display = 'inline';
      addressForm.style.display = 'none';
      addressEdit.style.display = 'block';
    })
  }
  <% if @session.session_type == 'In-person' %>
    function initAutocomplete() {
      var input = document.getElementById('session_address');
      var options = {
        types:  ['address'],
        componentRestrictions: { country: '<%= @practitioner.country_code %>' }
      };
      var autocomplete = new google.maps.places.Autocomplete(input, options);
      autocomplete.setFields(['geometry', 'name']);
      function fillInForm() {
        if (document.getElementById('confirm')) {
          document.getElementById('confirm').disabled = true;
        } else if (document.getElementById('address-submit')) {
          document.getElementById('address-submit').disabled = true;
        }
        var place = autocomplete.getPlace();
        if (!place.geometry) {
          // User entered the name of a Place that was not suggested and
          // pressed the Enter key, or the Place Details request failed.
          window.alert("No details available for input: '" + place.name + "'");
          return;
        } else {
          document.getElementById('session_latitude').value = place.geometry.location.lat();
          document.getElementById('session_longitude').value = place.geometry.location.lng();
          reinitMap(place.geometry.location.lat(), place.geometry.location.lng(), 'session-map');
          if (document.getElementById('confirm')) {
            document.getElementById('confirm').disabled = false;
          } else if (document.getElementById('address-submit')) {
            document.getElementById('address-submit').disabled = false;
          }
        }
      }
      autocomplete.addListener('place_changed', fillInForm);
    }
    function reinitMap(lat, lng, element) {
      var myCoords = new google.maps.LatLng(lat, lng);
      var mapOptions = {
        center: myCoords,
        zoom: 12
      };
      var map = new google.maps.Map(document.getElementById(element), mapOptions);
      var marker = new google.maps.Marker({
          position: myCoords,
          map: map
      });
    }
  <% end %>
</script>
