<div>
  <label>Related Health Goals (max. 5)</label>
</div>
<fieldset class="form-group m-0 p-0 check_boxes required service_health_goal">
  <div class="health-goal-choices">
    <% HealthGoal.all.sort_by(&:name).each do |goal| %>
      <% if service.health_goals.include?(goal) %>
        <input class="form-check-input check_boxes required hidden check-<%= service.id %>" type="checkbox" value="<%= goal.id %>" name="service[health_goal][]" id="<%= service.id %>_service_health_goal_<%= goal.id %>" checked><label class="form-check-label collection_check_boxes health-goal-choice small active" for="<%= service.id %>_service_health_goal_<%= goal.id %>" id="<%= service.id %>_label_<%= goal.id %>"><%= goal.name %></label>
      <% else %>
        <input class="form-check-input check_boxes required hidden check-<%= service.id %>" type="checkbox" value="<%= goal.id %>" name="service[health_goal][]" id="<%= service.id %>_service_health_goal_<%= goal.id %>"><label class="form-check-label collection_check_boxes health-goal-choice small" for="<%= service.id %>_service_health_goal_<%= goal.id %>" id="<%= service.id %>_label_<%= goal.id %>"><%= goal.name %></label>
      <% end %>
    <% end %>
    <input type="hidden" name="service[health_goal][]" value="">
  </div>
</fieldset>

