<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header justify-content-center">
      <h5 class="modal-title" id="passwordModalLabel">Change Password</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <%= simple_form_for(resource, url: registration_path(resource), html: { method: :put, id: :password_form }) do |f| %>
        <%= f.input :current_password,
                    hint: "Please confirm your current password to change it",
                    required: true,
                    label: 'Current Password',
                    input_html: { autocomplete: "current-password", id: "old-password" } %>
        <%= f.input :password,
                    hint: "Password should have more than 8 characters including 1 lowercase letter, 1 uppercase letter, 1 number and 1 special character",
                    required: true,
                    label: 'New Password',
                    input_html: { autocomplete: "new-password", id: "password1" } %>
        <%= f.input :password_confirmation,
                    hint: "",
                    required: true,
                    label: 'Password Confirmation',
                    input_html: { autocomplete: "new-password", id: "password2" } %>
        <div class="modal-btns">
          <%= f.button :submit, "Update", class: 'btn-flat' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
