<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header justify-content-center">
      <h5 class="modal-title" id="passwordModalLabel">Change password</h5>
      <button data-dismiss="modal" aria-label="Close" style="display: none;" id="close-modal">
      </button>
    </div>
    <div class="modal-body text-center">
      <%= simple_form_for(resource, url: registration_path(resource), html: { method: :put, id: :password_form }) do |f| %>
        <%= f.input :current_password,
                    hint: "Please confirm your current password to change it",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :password,
                    hint: "Password should have more than 8 characters including 1 uppercase letter, 1 number, 1 special character",
                    required: true,
                    label: 'New password',
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
    </div>
    <div class="modal-footer">
      <%= f.button :submit, "Update", class: 'btn-flat mb-4' %>
      <% end %>
    </div>
  </div>
</div>
