<div class="container sessions">
  <h2>My sessions as practitioner</h2>
  <ul class="list-inline tabs-underlined">
    <li>
      <p class="tab-underlined active-tab">Pending payment <% if @pending_payment_sessions.count > 0 %> (<%= @pending_payment_sessions.count %>) <% end %></p>
    </li>
    <li>
      <p class="tab-underlined">Confirmed <% if @confirmed_sessions.count > 0 %> (<%= @confirmed_sessions.count %>) <% end %></p>
    </li>
    <li>
      <p class="tab-underlined">Pending confirmation <% if @pending_sessions.count > 0 %> (<%= @pending_sessions.count%>) <% end %> </p>
    </li>
    <li>
      <p class="tab-underlined">Cancelled <% if @cancelled_sessions.count > 0 %> (<%= @cancelled_sessions.count %>) <% end %></p>
    </li>
    <li>
      <p class="tab-underlined">Discovery Call <% if @discovery_calls.count > 0 %> (<%= @discovery_calls.count %>) <% end %></p>
    </li>
  </ul>
  <div class="lists">
    <% if @pending_payment_sessions.count > 0 %>
      <div class="session-container">
        <% @pending_payment_sessions.each do |session| %>
          <div class="session">
            <div class="session-head session-desktop">
              <div class="session-content practitioner">
                <button class="<%= session.status %>"><%= session.status.capitalize %></button>
                <p><%= link_to session.service.name, session_path(session) %></p>
                <p><small>Client: <%= session.user.full_name %></small></p>
                <p><small>When: <%= session.start_time.in_time_zone(current_user.timezone).strftime('%a, %b %d, %Y %l:%M %p %Z') %></small></p>
                <p><small>Duration: <%= session.service.duration %>m</small></p>
                <p><small>Price: CA$ <%= session.estimate_price %></small></p>
                <p><small>Session Type: <%= session.session_type %></small></p>
              </div>
            </div>
            <div class="session-actions session-desktop">
              <%= link_to 'Charge', session_path(session), class: 'btn btn-flat' %>
              <%= link_to 'Details', session_path(session), class: 'btn btn-ghost mt-3' %>
            </div>
            <div class="session-actions session-mobile" style="flex: 0 0 100%">
              <div class="session-content">
                <button class="<%= session.status %>"><%= session.status.capitalize %></button>
                <p><%= link_to session.service.name, session_path(session) %></p>
                <p><small>Client: <%= session.user.full_name %></small></p>
                <p><small>When: <%= session.start_time.in_time_zone(current_user.timezone).strftime('%a, %b %d, %Y %l:%M %p %Z') %></small></p>
                <p><small>Duration: <%= session.service.duration %>m</small></p>
                <p><small>Price: CA$ <%= session.estimate_price %></small></p>
                <p><small>Session Type: <%= session.session_type %></small></p>
                <%= link_to 'Charge', session_path(session), class: 'btn btn-flat' %>
                <%= link_to 'Details', session_path(session), class: 'btn btn-ghost mt-3' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>No pending payment session.</p>
    <% end %>
  </div>
  <div class="lists">
    <% if @confirmed_sessions.count > 0 %>
      <div class="session-container">
        <% @confirmed_sessions.each do |session| %>
          <div class="session">
            <div class="session-head session-desktop">
              <div class="session-content practitioner">
                <button class="<%= session.status %>"><%= session.status.capitalize %></button>
                <p><%= link_to session.service.name, session_path(session) %></p>
                <p><small>Client: <%= session.user.full_name %></small></p>
                <p><small>When: <%= session.start_time.in_time_zone(current_user.timezone).strftime('%a, %b %d, %Y %l:%M %p %Z') %></small></p>
                <p><small>Duration: <%= session.service.duration %>m</small></p>
                <p><small>Price: CA$ <%= session.estimate_price %></small></p>
                <p><small>Session Type: <%= session.session_type %></small></p>
              </div>
            </div>
            <div class="session-actions session-desktop">
              <%= link_to 'Details', session_path(session), class: 'btn btn-flat' %>
            </div>
            <div class="session-actions session-mobile" style="flex: 0 0 100%">
              <div class="session-content">
                <button class="<%= session.status %>"><%= session.status.capitalize %></button>
                <p><%= link_to session.service.name, session_path(session) %></p>
                <p><small>Client: <%= session.user.full_name %></small></p>
                <p><small>When: <%= session.start_time.in_time_zone(current_user.timezone).strftime('%a, %b %d, %Y %l:%M %p %Z') %></small></p>
                <p><small>Duration: <%= session.service.duration %>m</small></p>
                <p><small>Price: CA$ <%= session.estimate_price %></small></p>
                <p><small>Session Type: <%= session.session_type %></small></p>
                <%= link_to 'Details', session_path(session), class: 'btn btn-flat mt-3' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>No confirmed session.</p>
    <% end %>
  </div>
  <div class="lists">
    <% if @pending_sessions.count > 0 %>
      <div class="session-container">
        <% @pending_sessions.each do |session| %>
          <div class="session">
            <div class="session-head session-desktop">
              <div class="session-content practitioner">
                <button class="<%= session.status %>"><%= session.status.capitalize %></button>
                <p><%= link_to session.service.name, session_path(session) %></p>
                <p><small>Client: <%= session.user.full_name %></small></p>
                <p><small>When: TBD</small></p>
                <p><small>Duration: <%= session.service.duration %>m</small></p>
                <p><small>Price: CA$ <%= session.estimate_price %></small></p>
                <p><small>Session Type: <%= session.session_type %></small></p>
              </div>
            </div>
            <div class="session-actions session-desktop">
              <%= link_to 'Respond', session_path(session), class: 'btn btn-flat' %>
            </div>
            <div class="session-actions session-mobile" style="flex: 0 0 100%">
              <div class="session-content">
                <button class="<%= session.status %>"><%= session.status.capitalize %></button>
                <p><%= link_to session.service.name, session_path(session) %></p>
                <p><small>Client: <%= session.user.full_name %></small></p>
                <p><small>When: TBD</small></p>
                <p><small>Duration: <%= session.service.duration %>m</small></p>
                <p><small>Price: CA$ <%= session.estimate_price %></small></p>
                <p><small>Session Type: <%= session.session_type %></small></p>
                <%= link_to 'Respond', session_path(session), class: 'btn btn-flat mt-3' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>No pending session.</p>
    <% end %>
  </div>
  <div class="lists">
    <% if @cancelled_sessions.count > 0 %>
      <div class="session-container">
        <% @cancelled_sessions.each do |session| %>
          <div class="session">
            <div class="session-head session-desktop">
              <div class="session-content practitioner">
                <button class="<%= session.status %>"><%= session.status.capitalize %></button>
                <p><%= link_to session.service.name, session_path(session) %></p>
                <p><small>Client: <%= session.user.full_name %></small></p>
                <p><small>When: <%= session.start_time.in_time_zone(current_user.timezone).strftime('%a, %b %d, %Y %l:%M %p %Z') %></small></p>
                <p><small>Duration: <%= session.service.duration %>m</small></p>
                <p><small>Price: CA$ <%= session.estimate_price %></small></p>
                <p><small>Session Type: <%= session.session_type %></small></p>
              </div>
            </div>
            <div class="session-actions session-desktop">
            </div>
            <div class="session-actions session-mobile" style="flex: 0 0 100%">
              <div class="session-content">
                <button class="<%= session.status %>"><%= session.status.capitalize %></button>
                <p><%= link_to session.service.name, session_path(session) %></p>
                <p><small>Client: <%= session.user.full_name %></small></p>
                <p><small>When: <%= session.start_time.in_time_zone(current_user.timezone).strftime('%a, %b %d, %Y %l:%M %p %Z') %></small></p>
                <p><small>Duration: <%= session.service.duration %>m</small></p>
                <p><small>Price: CA$ <%= session.estimate_price %></small></p>
                <p><small>Session Type: <%= session.session_type %></small></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>No cancelled session.</p>
    <% end %>
  </div>
  <div class="lists">
    <% if @discovery_calls.count > 0 %>
      <div class="session-container">
        <% @discovery_calls.each do |call| %>
          <div class="session">
            <div class="session-head session-desktop">
              <div class="session-content practitioner">
                <button class="<%= call.status %>"><%= call.status.capitalize %></button>
                <p><%= link_to call.service.name, session_path(call) %></p>
                <p><small>Client: <%= call.user.full_name %></small></p>
                <p><small>When:
                  <% if call.start_time %>
                    <%= call.start_time.in_time_zone(current_user.timezone).strftime('%a, %b %d, %Y %l:%M %p %Z') %>
                  <% else %>
                    TBD
                  <% end %>
                </small></p>
                <p><small>Duration: 15m</small></p>
                <p><small>Price: Free</small></p>
                <p><small>Session Type: Virtual</small></p>
              </div>
            </div>
            <div class="session-actions session-desktop">
              <%= link_to 'Details', session_path(call), class: 'btn btn-flat' %>
            </div>
            <div class="session-actions session-mobile" style="flex: 0 0 100%">
              <div class="session-content">
                <button class="<%= call.status %>"><%= call.status.capitalize %></button>
                <p><%= link_to call.service.name, session_path(call) %></p>
                <p><small>Client: <%= call.user.full_name %></small></p>
                <p><small>When:
                  <% if call.start_time %>
                    <%= call.start_time.in_time_zone(current_user.timezone).strftime('%a, %b %d, %Y %l:%M %p %Z') %>
                  <% else %>
                    TBD
                  <% end %>
                </small></p>
                <p><small>Duration: 15m</small></p>
                <p><small>Price: Free</small></p>
                <p><small>Session Type: Virtual</small></p>
                <%= link_to 'Details', session_path(call), class: 'btn btn-flat mt-3' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>No discover call.</p>
    <% end %>
  </div>
</div>
<script>
  const tabs = document.querySelectorAll('.tab-underlined')
  const lists = document.querySelectorAll('.lists')
  const entries = function*(iterable) {
    let i = 0;
    for (item of iterable) {
      yield [i++, item]
    }
  }
  const showBlock = index => {
    for (const [blockIndex, block] of entries(lists)) {
      block.style.display = blockIndex === index ? 'block' : 'none'
    }
  }
  showBlock(0)
  for (const [tabIndex, tab] of entries(tabs)) {
    tab.addEventListener('click', e => {
      e.preventDefault();
      showBlock(tabIndex);
      const activeTab = document.querySelector('.active-tab');
      if (!e.currentTarget.classList.contains('active-tab')) {
        if (activeTab !== null) {
          activeTab.classList.remove('active-tab');
        }
        e.currentTarget.classList.toggle('active-tab');
      }
    })
  }
</script>
