<div class="container practitioners-page">
  <%= simple_form_for :search, url: practitioners_path, method: "GET" do |f| %>
    <div class="d-flex justify-content-between">
      <%= f.input :education, label: "Education",  collection: $educations, as: :check_boxes %>
      <%= f.input :specialty, label: "Specialty",  collection: $specialties, as: :check_boxes %>
      <%= f.input :condition, label: "Condition",  collection: $conditions, as: :check_boxes %>
      <%= f.input :language, label: "Language",  collection: $languages, as: :check_boxes %>
      <%= f.input :service_type, lable: "Service Types", collection: $service_types, as: :select %>
    </div>
    <%= f.submit "Search", class: "btn btn-primary" %>
    <%= link_to "Reset", practitioners_path  %>
  <% end %>

  <div>
    <div class='cards-featured'>
      <% if @filtered_practitioners %>
        <% @filtered_practitioners.each do |practitioner| %>
          <a href="/practitioners/<%= practitioner.id %>">
            <div class='card-featured'>
                <%= image_tag("#{practitioner.user.email.split('@').first}") %>
                <div class='card-featured-infos'>
                  <h2><%= practitioner.user.full_name %></h2>
                  <p><%= practitioner.bio.split('. ').first %>.</p>
                </div>
            </div>
          </a>
        <% end %>
      <% else %>
        <% @practitioners.each do |practitioner| %>
          <a href="/practitioners/<%= practitioner.id %>">
            <div class='card-featured'>
                <%= image_tag("#{practitioner.user.email.split('@').first}") %>
                <div class='card-featured-infos'>
                  <h2><%= practitioner.user.full_name %></h2>
                  <p><%= practitioner.bio.split('. ').first %>.</p>
                </div>
            </div>
          </a>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
