<div class="container practitioners-page">
  <%= simple_form_for :search, url: practitioners_path, method: "GET", html: { id: 'filter-form' } do |f| %>
    <div class="d-flex justify-content-between">
      <fieldset class="form-group check_boxes required search_specialty" id="specialty-selector" style="position: relative; width: 30%;">
        <legend class="btn btn-ghost" id="specialty-pop">Specialties</legend>
        <div class="specialty-select-box" id="specialty-select-box">
          <div class="specialty-choices">
            <% Specialty.all.sort_by(&:name).each do |specialty|  %>
              <input class="form-check-input check_boxes required hidden" type="checkbox" value="<%= specialty.id %>" name="search[specialty][]" id="search_specialty_<%= specialty.id %>"><label class="form-check-label collection_check_boxes specialty-choice" for="search_specialty_<%= specialty.id %>"><%= specialty.name %></label>
            <% end %>
          </div>
        </div>
        <input type="hidden" name="search[specialty][]" value="">
        <div id="selected-specialties"></div>
      </fieldset>
      <fieldset class="form-group check_boxes required search_health_goal" id="health-goal-selector" style="position: relative; width: 30%;">
        <legend class="btn btn-ghost" id="health-goal-pop">Health Goals</legend>
        <div class="health-goal-select-box" id="health-goal-select-box">
          <div class="health-goal-choices">
            <% HealthGoal.all.sort_by(&:name).each do |goal| %>
              <input class="form-check-input check_boxes required hidden" type="checkbox" value="<%= goal.id %>" name="search[health_goal][]" id="search_health_goal_<%= goal.id %>"><label class="form-check-label collection_check_boxes health-goal-choice" for="search_health_goal_<%= goal.id %>"><%= goal.name %></label>
            <% end %>
          </div>
        </div>
        <input type="hidden" name="search[health_goal][]" value="">
        <div id="selected-health-goals"></div>
      </fieldset>
      <fieldset class="form-group check_boxes required search_language" style="position: relative; width: 20%;">
        <legend class="btn btn-ghost" id="language-pop">Language</legend>
        <div class="language-select-box" id="language-select-box">
          <div class="language-choices">
            <% Language.includes(:practitioner_languages).where.not(practitioner_languages: { id: nil }).sort_by(&:name).each do |language| %>
              <input class="form-check-input check_boxes required hidden" type="checkbox" value="<%= language.id %>" name="search[language][]" id="search_language_<%= language.id %>"><label class="form-check-label collection_check_boxes language-choice" for="search_language_<%= language.id %>"><%= language.name %></label>
            <% end %>
          </div>
        </div>
        <input type="hidden" name="search[language][]" value="">
        <div id="selected-languages"></div>
      </fieldset>
      <%= f.input :service_type, lable: "Service Types", collection: $service_types, as: :select %>
    </div>
    <%= f.submit "Search", class: "btn btn-flat" %>
    <%= link_to "Reset", practitioners_path, class: 'btn btn-ghost'  %>
  <% end %>
  <div>
    <div class='cards-featured'>
      <% if @filtered_practitioners %>
        <% if @filtered_practitioners != [] %>
          <% @filtered_practitioners.each do |practitioner| %>
            <a href="/practitioners/<%= practitioner.id %>">
              <div class='card-featured'>
                <% if practitioner.photo.attached? %>
                  <%= cl_image_tag practitioner.photo.key %>
                <% else %>
                  <img src='https://kitt.lewagon.com/placeholder/users/random' />
                <% end %>
                <div class='card-featured-infos'>
                  <h2><%= practitioner.user.full_name %></h2>
                  <p><%= practitioner.bio.split('. ').first %>.</p>
                </div>
              </div>
            </a>
          <% end %>
        <% else %>
          <p>Please try differnent filters for search!</p>
        <% end %>
      <% else %>
        <% @practitioners.each do |practitioner| %>
          <a href="/practitioners/<%= practitioner.id %>">
            <div class='card-featured'>
              <% if practitioner.photo.attached? %>
                <%= cl_image_tag practitioner.photo.key %>
              <% else %>
                <img src='https://kitt.lewagon.com/placeholder/users/random' />
              <% end %>
              <div class='card-featured-infos'>
                <h2><%= practitioner.user.full_name %></h2>
                <% if practitioner.bio %>
                  <p><%= practitioner.bio.split('. ').first %>.</p>
                <% end %>
              </div>
            </div>
          </a>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>
<script>
  const specialtySelectBoxBtn = document.getElementById('specialty-pop');
  specialtySelectBoxBtn.addEventListener('click', () => {
    specialtySelectBoxBtn.classList.toggle('btn-opened');
    healthGoalSelectBoxBtn.classList.remove('btn-opened');
    languageSelectBoxBtn.classList.remove('btn-opened');
    document.getElementById('specialty-select-box').classList.toggle('opened');
    document.getElementById('health-goal-select-box').classList.remove('opened');
    document.getElementById('language-select-box').classList.remove('opened');
  });
  const healthGoalSelectBoxBtn = document.getElementById('health-goal-pop');
  healthGoalSelectBoxBtn.addEventListener('click', () => {
    healthGoalSelectBoxBtn.classList.toggle('btn-opened');
    specialtySelectBoxBtn.classList.remove('btn-opened');
    languageSelectBoxBtn.classList.remove('btn-opened');
    document.getElementById('health-goal-select-box').classList.toggle('opened');
    document.getElementById('specialty-select-box').classList.remove('opened');
    document.getElementById('language-select-box').classList.remove('opened');
  });
  const languageSelectBoxBtn = document.getElementById('language-pop');
  languageSelectBoxBtn.addEventListener('click', () => {
    languageSelectBoxBtn.classList.toggle('btn-opened');
    specialtySelectBoxBtn.classList.remove('btn-opened');
    healthGoalSelectBoxBtn.classList.remove('btn-opened');
    document.getElementById('language-select-box').classList.toggle('opened');
    document.getElementById('specialty-select-box').classList.remove('opened');
    document.getElementById('health-goal-select-box').classList.remove('opened');
  });
</script>
