<div class="container practitioner-application">
  <div class="col-8 offset-2">
    <h1>Apply to be a practitioner</h1>
    <p>Apply today to get connected with holistic service seekers worldwide</p>
    <%= simple_form_for([current_user, @practitioner], remote: true) do |f| %>
      <div class="form-group select required practitioner_country_code">
        <label class="select required" for="practitioner_country_code">Country of residence</label>
        <%= f.country_select :country_code, { priority_countries: ["CA", "US"] }, { class: 'form-control select optional' } %>
        <small class="form-text text-muted">Please provide the right infomation for background check</small>
      </div>
      <div class="d-flex justify-content-between">
        <%= f.input :certification %>
        <%= f.input :experience, collection: ['Less than 1 year', '2-5 years', '5-10 years', 'More than 10 years'], as: :select, require: true %>
      </div>
      <%= f.input :timezone, label: 'Time zone (where you will be conducting your service)', as: :select do %>
        <%= f.select :timezone, @practitioner.timezone_choice.map { |zone| [zone[1], zone[0]] },  {include_blank: 'Select a time zone'}, {class: 'form-control select optional' } %>
      <% end %>
      <div class="form-group">
        <label class="control-label check_boxes required">Your specialties</label>
        <input type="hidden" name="practitioner[specialty_ids][]" value="">
        <div class="specialty-choices">
          <% Specialty.all.each do |specialty| %>
            <input type="checkbox" class="hidden" value="<%= specialty.id %>" name="practitioner[specialty_ids][]" id="practitioner_specialty_ids_<%= specialty.id %>">
            <label class="specialty-choice" for="practitioner_specialty_ids_<%= specialty.id %>">
              <%= specialty.name %>
            </label>
          <% end %>
         </div>
      </div>
      <div class="form-group">
        <label class="control-label check_boxes required">Your languages</label>
        <input type="hidden" name="practitioner[language_ids][]" value="">
        <div class="language-choices">
          <% Language.all.each do |language| %>
            <input type="checkbox" class="hidden" value="<%= language.id %>" name="practitioner[language_ids][]" id="practitioner_language_ids_<%= language.id %>">
            <label class="language-choice" for="practitioner_language_ids_<%= language.id %>">
              <%= language.name %>
            </label>
          <% end %>
         </div>
      </div>
      <%= f.button :submit, 'Apply', class: 'btn-flat w-100' %>
    <% end %>
  </div>
</div>
<div id="background-check">
  <a data-toggle="modal" data-target="#backgroundCheckModal" id='open-btn'>
</div>
