<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
    document.addEventListener("DOMContentLoaded", function(){
      initAutocomplete()
    });
  </script>
<% end %>
<div class="container practitioner-profile">
  <div class="d-flex align-items-center">
    <h1>Welcome, <%= @practitioner.user.first_name %></h1>
    <%= link_to 'Edit', '', data: { toggle: "modal", target: "#profileEditModal" }, class: 'btn btn-ghost m-3' %>
    <%= link_to 'Reset password', '', data: { toggle: "modal", target: "#passwordModal" }, class: 'btn btn-ghost ml-3' %>
  </div>
  <div class="practitioner-profile-table">
    <div class="practitioner-profile-img">
      <% if @practitioner.photo.attached? %>
        <%= cl_image_tag @practitioner.photo.key, class: 'avatar-full' %>
      <% else %>
        <img src='https://kitt.lewagon.com/placeholder/users/random' class='avatar-full' />
      <% end %>
      <%= link_to '📷', '', data: { toggle: "modal", target: "#profilePictureModal" }, class: 'btn btn-ghost mt-4 w-100' %>
    </div>
    <div class="practitioner-profile-infos">
      <h3>Practitioner</h3>
      <div class="practitioner-profile-info">
        <div class="practitioner-profile-info-title">
          <p>Specailties</p>
        </div>
        <div class="practitioner-profile-info-body">
          <div id="practitioner-specialties">
            <div id="specialties-list">
              <%= render "practitioner_specialties/practitioner_specialties_list", practitioner: @practitioner %>
            </div>
            <% if @practitioner.specialties.count < Specialty.count %>
              <button id='specialties-edit' class='ml-0'><p><%= link_to '+ Add', '' %></p></button>
            <% end %>
          </div>
          <%= simple_form_for([@practitioner, @practitioner_specialty], remote: true, html: { id: :specialties_form, style: 'display: none;' }) do |f| %>
            <%= render "practitioner_specialties/update_form", practitioner: @practitioner, specialties: @specialties %>
          <% end %>
        </div>
      </div>
      <div class="practitioner-profile-info">
        <div class="practitioner-profile-info-title">
          <p>Languages</p>
        </div>
        <div class="practitioner-profile-info-body">
          <div id="practitioner-languages">
            <div id="languages-list">
              <%= render "practitioner_languages/practitioner_languages_list", practitioner: @practitioner %>
            </div>
            <% if @practitioner.languages.count < Language.count %>
              <button id='languages-edit' class='ml-0'><p><%= link_to '+ Add', '' %></p></button>
            <% end %>
          </div>
          <%= simple_form_for([@practitioner, @practitioner_language], remote: true, html: { id: :languages_form, style: 'display: none;' }) do |f| %>
            <%= render "practitioner_languages/update_form", practitioner: @practitioner, languages: @languages %>
          <% end %>
        </div>
      </div>
      <div class="practitioner-profile-info">
        <div class="practitioner-profile-info-title">
          <p>Country of residence</p>
        </div>
        <div class="practitioner-profile-info-body">
          <div id="practitioner-country">
            <p id="country"><%= @practitioner.country_name %></p>
            <button id='country-edit'><p><%= link_to '', '', class: 'fas fa-pen' %></p></button>
          </div>
          <%= simple_form_for([@practitioner], remote: true, html: { id: :country_form, style: 'display: none; align-items: center;' }) do |f| %>
            <%= f.country_select :country_code, { priority_countries: ["CA", "US"] }, { class: 'form-control select required w-50  is-valid' } %>
            <button type="submit"><i class='fas fa-check'></i></button>
            <button id='country-cancel'><%= link_to '', '', class: 'fas fa-times' %></button>
          <% end %>
        </div>
      </div>
      <div class="practitioner-profile-info">
        <div class="practitioner-profile-info-title">
          <p>Experience</p>
        </div>
        <div class="practitioner-profile-info-body">
          <div id="practitioner-experience">
            <p id="experience"><%= @practitioner.experience %></p>
            <button id='experience-edit'><p><%= link_to '', '', class: 'fas fa-pen' %></p></button>
          </div>
          <%= simple_form_for([@practitioner], remote: true, html: { id: :experience_form, style: 'display: none; align-items: center;' }) do |f| %>
            <%= f.input :experience, collection: ['Less than 1 year', '2-5 years', '5-10 years', 'More than 10 years'], as: :select, require: true, label: false %>
            <button type="submit"><i class='fas fa-check'></i></button>
            <button id='experience-cancel'><%= link_to '', '', class: 'fas fa-times' %></button>
          <% end %>
        </div>
      </div>
      <div class="practitioner-profile-info">
        <div class="practitioner-profile-info-title">
          <p>Certification</p>
        </div>
        <div class="practitioner-profile-info-body">
          <div id="practitioner-certification">
            <p id="certification"><%= @practitioner.certification %></p>
            <button id='certification-edit'><p><%= link_to '', '', class: 'fas fa-pen' %></p></button>
          </div>
          <%= simple_form_for([@practitioner], remote: true, html: { id: :certification_form, style: 'display: none; align-items: center;' }) do |f| %>
            <%= f.input :certification, require: true, label: false %>
            <button type="submit"><i class='fas fa-check'></i></button>
            <button id='certification-cancel'><%= link_to '', '', class: 'fas fa-times' %></button>
          <% end %>
        </div>
      </div>
      <div class="practitioner-profile-info">
        <div class="practitioner-profile-info-title">
          <p>Bio</p>
        </div>
        <div class="practitioner-profile-info-body">
          <div id="practitioner-bio">
            <p id="bio"><%= @practitioner.bio %></p>
            <button id='bio-edit'><p><%= link_to '', '', class: 'fas fa-pen' %></p></button>
          </div>
          <%= simple_form_for([@practitioner], remote: true, html: { id: :bio_form, style: 'display: none; align-items: center;' }) do |f| %>
            <%= f.input :bio, require: true, label: false, input_html: { cols: 60, rows: 10 } %>
            <button type="submit"><i class='fas fa-check'></i></button>
            <button id='bio-cancel'><%= link_to '', '', class: 'fas fa-times' %></button>
          <% end %>
        </div>
      </div>
      <div class="practitioner-profile-info">
        <div class="practitioner-profile-info-title">
          <p>Working hours</p>
        </div>
        <div class="practitioner-profile-info-body">
          <div>
            <div class="practitioner-workinghours mb-2 mb-2" id="practitioner-day1">
              <p id="day1">Mon: <% if @practitioner.working_hours.find_by(day: 1).opens %><span id="workinghour1"><%= @practitioner.working_hours.find_by(day: 1).opens.strftime('%H:%M') %> ~ <%= @practitioner.working_hours.find_by(day: 1).closes.strftime('%H:%M') %></span><% end %></p>
              <button id='day1-edit'><p><%= link_to '', '', class: 'fas fa-pen' %></p></button>
              <%= simple_form_for([@practitioner.working_hours.find_by(day: 1)], remote: true, label: 'Mon', html: { id: :day1_form, style: 'display: none;' }) do |f| %>
                <p class="mb-3">Mon</p>
                <div class="d-flex align-items-center mb-3">
                  <%= f.input :opens, require: true, label: false, minute_step: 30, input_html: {id: :day1_opens} %>
                  <%= f.input :closes, require: true, label: false, minute_step: 30, input_html: {id: :day1_closes} %>
                  <%= f.input :day, as: :hidden %>
                  <button type="submit"><i class='fas fa-check'></i></button>
                  <button id='day1-cancel'><%= link_to '', '', class: 'fas fa-times' %></button>
                </div>
              <% end %>
            </div>
            <div class="practitioner-workinghours mb-2" id="practitioner-day2">
              <p id="day2">Tue: <% if @practitioner.working_hours.find_by(day: 2).opens %><span id="workinghour2"><%= @practitioner.working_hours.find_by(day: 2).opens.strftime('%H:%M') %> ~ <%= @practitioner.working_hours.find_by(day: 2).closes.strftime('%H:%M') %></span><% end %></p>
              <button id='day2-edit'><p><%= link_to '', '', class: 'fas fa-pen' %></p></button>
              <%= simple_form_for([@practitioner.working_hours.find_by(day: 2)], remote: true, html: { id: :day2_form, style: 'display: none;' }) do |f| %>
                <p class="mb-3">Tue</p>
                <div class="d-flex align-items-center mb-3">
                  <%= f.input :opens, require: true, label: false, minute_step: 30, input_html: {id: :day2_opens} %>
                  <%= f.input :closes, require: true, label: false, minute_step: 30, input_html: {id: :day2_closes} %>
                  <%= f.input :day, as: :hidden %>
                  <button type="submit"><i class='fas fa-check'></i></button>
                  <button id='day2-cancel'><%= link_to '', '', class: 'fas fa-times' %></button>
                </div>
              <% end %>
            </div>
            <div class="practitioner-workinghours mb-2" id="practitioner-day3">
              <p id="day3">Wed: <% if @practitioner.working_hours.find_by(day: 3).opens %><span id="workinghour3"><%= @practitioner.working_hours.find_by(day: 3).opens.strftime('%H:%M') %> ~ <%= @practitioner.working_hours.find_by(day: 3).closes.strftime('%H:%M') %></span><% end %></p>
              <button id='day3-edit'><p><%= link_to '', '', class: 'fas fa-pen' %></p></button>
              <%= simple_form_for([@practitioner.working_hours.find_by(day: 3)], remote: true, html: { id: :day3_form, style: 'display: none;' }) do |f| %>
                <p class="mb-3">Wed</p>
                <div class="d-flex align-items-center mb-3">
                  <%= f.input :opens, require: true, label: false, minute_step: 30, input_html: {id: :day3_opens} %>
                  <%= f.input :closes, require: true, label: false, minute_step: 30, input_html: {id: :day3_closes} %>
                  <%= f.input :day, as: :hidden %>
                  <button type="submit"><i class='fas fa-check'></i></button>
                  <button id='day3-cancel'><%= link_to '', '', class: 'fas fa-times' %></button>
                </div>
              <% end %>
            </div>
            <div class="practitioner-workinghours mb-2" id="practitioner-day4">
              <p id="day4">Thu: <% if @practitioner.working_hours.find_by(day: 4).opens %><span id="workinghour4"><%= @practitioner.working_hours.find_by(day: 4).opens.strftime('%H:%M') %> ~ <%= @practitioner.working_hours.find_by(day: 4).closes.strftime('%H:%M') %></span><% end %></p>
              <button id='day4-edit'><p><%= link_to '', '', class: 'fas fa-pen' %></p></button>
              <%= simple_form_for([@practitioner.working_hours.find_by(day: 4)], remote: true, html: { id: :day4_form, style: 'display: none;' }) do |f| %>
                <p class="mb-3">Thu</p>
                <div class="d-flex align-items-center mb-3">
                  <%= f.input :opens, require: true, label: false, minute_step: 30, input_html: {id: :day4_opens} %>
                  <%= f.input :closes, require: true, label: false, minute_step: 30, input_html: {id: :day4_closes} %>
                  <%= f.input :day, as: :hidden %>
                  <button type="submit"><i class='fas fa-check'></i></button>
                  <button id='day4-cancel'><%= link_to '', '', class: 'fas fa-times' %></button>
                </div>
              <% end %>
            </div>
            <div class="practitioner-workinghours mb-2" id="practitioner-day5">
              <p id="day5">Fri: <% if @practitioner.working_hours.find_by(day: 5).opens %><span id="workinghour5"><%= @practitioner.working_hours.find_by(day: 5).opens.strftime('%H:%M') %> ~ <%= @practitioner.working_hours.find_by(day: 5).closes.strftime('%H:%M') %></span><% end %></p>
              <button id='day5-edit'><p><%= link_to '', '', class: 'fas fa-pen' %></p></button>
              <%= simple_form_for([@practitioner.working_hours.find_by(day: 5)], remote: true, html: { id: :day5_form, style: 'display: none;' }) do |f| %>
                <p class="mb-3">Fri</p>
                <div class="d-flex align-items-center mb-3">
                  <%= f.input :opens, require: true, label: false, minute_step: 30, input_html: {id: :day5_opens} %>
                  <%= f.input :closes, require: true, label: false, minute_step: 30, input_html: {id: :day5_closes} %>
                  <%= f.input :day, as: :hidden %>
                  <button type="submit"><i class='fas fa-check'></i></button>
                  <button id='day5-cancel'><%= link_to '', '', class: 'fas fa-times' %></button>
                </div>
              <% end %>
            </div>
            <div class="practitioner-workinghours mb-2" id="practitioner-day6">
              <p id="day6">Sat: <% if @practitioner.working_hours.find_by(day: 6).opens %><span id="workinghour6"><%= @practitioner.working_hours.find_by(day: 6).opens.strftime('%H:%M') %> ~ <%= @practitioner.working_hours.find_by(day: 6).closes.strftime('%H:%M') %></span><% end %></p>
              <button id='day6-edit'><p><%= link_to '', '', class: 'fas fa-pen' %></p></button>
              <%= simple_form_for([@practitioner.working_hours.find_by(day: 6)], remote: true, html: { id: :day6_form, style: 'display: none;' }) do |f| %>
                <p class="mb-3">Sat</p>
                <div class="d-flex align-items-center mb-3">
                  <%= f.input :opens, require: true, label: false, minute_step: 30, input_html: {id: :day6_opens} %>
                  <%= f.input :closes, require: true, label: false, minute_step: 30, input_html: {id: :day6_closes} %>
                  <%= f.input :day, as: :hidden %>
                  <button type="submit"><i class='fas fa-check'></i></button>
                  <button id='day6-cancel'><%= link_to '', '', class: 'fas fa-times' %></button>
                </div>
              <% end %>
            </div>
            <div class="practitioner-workinghours mb-2" id="practitioner-day0">
              <p>Sun: <span id="day0"><% if @practitioner.working_hours.find_by(day: 0).opens %><span id="workinghour0"><%= @practitioner.working_hours.find_by(day: 0).opens.strftime('%H:%M') %> ~ <%= @practitioner.working_hours.find_by(day: 0).closes.strftime('%H:%M') %></span><% end %></span></p>
              <button id='day0-edit'><p><%= link_to '', '', class: 'fas fa-pen' %></p></button>
              <%= simple_form_for([@practitioner.working_hours.find_by(day: 0)], remote: true, html: { id: :day0_form, style: 'display: none;' }) do |f| %>
                <p class="mb-3">Sun</p>
                <div class="d-flex align-items-center mb-3">
                  <%= f.input :opens, require: true, label: false, minute_step: 30, input_html: {id: :day0_opens} %>
                  <%= f.input :closes, require: true, label: false, minute_step: 30, input_html: {id: :day0_closes} %>
                  <%= f.input :day, as: :hidden %>
                  <button type="submit"><i class='fas fa-check'></i></button>
                  <button id='day0-cancel'><%= link_to '', '', class: 'fas fa-times' %></button>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="practitioner-profile-info">
        <div class="practitioner-profile-info-title">
          <p>Time zone<br>(where you conduct your service)</p>
        </div>
        <div class="practitioner-profile-info-body">
          <div id="practitioner-timezone">
            <p id="timezone"><%= @practitioner.timezone %></p>
            <button id='timezone-edit'><p><%= link_to '', '', class: 'fas fa-pen' %></p></button>
          </div>
          <%= simple_form_for([@practitioner], remote: true, html: { id: :timezone_form, style: 'display: none; align-items: center;' }) do |f| %>
            <%= f.input :timezone, label: false, as: :select do %>
              <%= f.select :timezone, @practitioner.timezone_choice.map { |zone| [zone[1], zone[0]] },  {include_blank: 'Select a time zone'}, {class: 'form-control select optional' } %>
            <% end %>
            <button type="submit"><i class='fas fa-check'></i></button>
            <button id='timezone-cancel'><%= link_to '', '', class: 'fas fa-times' %></button>
          <% end %>
        </div>
      </div>
      <div class="practitioner-profile-info">
        <div class="practitioner-profile-info-title">
          <p>Video link</p>
        </div>
        <div class="practitioner-profile-info-body">
          <div id="practitioner-video">
            <p id="video"><a href="<%= @practitioner.video %>" target="_blank"><%= @practitioner.video %></a></p>
            <button id='video-edit'><p><%= link_to '', '', class: 'fas fa-pen' %></p></button>
          </div>
          <%= simple_form_for([@practitioner], remote: true, html: { id: :video_form, style: 'display: none; align-items: center;' }) do |f| %>
            <%= f.input :video, require: true, label: false %>
            <button type="submit"><i class='fas fa-check'></i></button>
            <button id='video-cancel'><%= link_to '', '', class: 'fas fa-times' %></button>
          <% end %>
        </div>
      </div>
      <div class="practitioner-profile-info">
        <div class="practitioner-profile-info-title">
          <p>Website link</p>
        </div>
        <div class="practitioner-profile-info-body">
          <div id="practitioner-website">
            <p id="website"><a href="<%= @practitioner.website %>" target="_blank"><%= @practitioner.website %></a></p>
            <button id='website-edit'><p><%= link_to '', '', class: 'fas fa-pen' %></p></button>
          </div>
          <%= simple_form_for([@practitioner], remote: true, html: { id: :website_form, style: 'display: none; align-items: center;' }) do |f| %>
            <%= f.input :website, require: true, label: false %>
            <button type="submit"><i class='fas fa-check'></i></button>
            <button id='website-cancel'><%= link_to '', '', class: 'fas fa-times' %></button>
          <% end %>
        </div>
      </div>
      <div class="practitioner-profile-info">
        <div class="practitioner-profile-info-title">
          <p>Social media links</p>
        </div>
        <div class="practitioner-profile-info-body" style="flex-wrap: wrap;">
          <div id="practitioner-sociallinks">
            <div id="sociallinks-list" class="mb-2">
              <%= render "practitioner_social_links/practitioner_social_links_list", practitioner: @practitioner %>
            </div>
            <button id='sociallinks-edit' class='ml-0'><p><%= link_to '+ Add', '' %></p></button>
          </div>
          <%= simple_form_for([@practitioner, @practitioner_social_link], remote: true, html: { id: :sociallinks_form, style: 'display: none; align-items: center;' }) do |f| %>
            <%= f.input :media_type, label: false, collection: $media_types, as: :select %>
            <%= f.input :url, label: false %>
            <button type="submit"><i class='fas fa-check'></i></button>
            <button id='sociallinks-cancel'><%= link_to '', '', class: 'fas fa-times' %></button>
          <% end %>
        </div>
      </div>
      <div class="practitioner-profile-info">
        <div class="practitioner-profile-info-title">
          <p>Address</p>
        </div>
        <div class="practitioner-profile-info-body">
          <div id="practitioner-address">
            <p id="address"><%= @practitioner.address %></p>
            <button id='address-edit'><p><%= link_to '', '', class: 'fas fa-pen' %></p></button>
          </div>
          <%= simple_form_for([@practitioner], remote: true, html: { id: :address_form, style: 'display: none; align-items: center;' }) do |f| %>
            <%= f.input :address, require: true, label: false %>
            <%= f.input :latitude, as: :hidden %>
            <%= f.input :longitude, as: :hidden %>
            <button type="submit"><i class='fas fa-check'></i></button>
            <button id='address-cancel'><%= link_to '', '', class: 'fas fa-times' %></button>
          <% end %>
        </div>
      </div>
      <h3>Personal</h3>
      <div class="practitioner-profile-info">
        <div class="practitioner-profile-info-title">
          <p>Health goals</p>
        </div>
        <div class="practitioner-profile-info-body">
          <div id="practitioner-healthgoals">
            <div id="health-goals-list">
              <%= render "user_health_goals/user_health_goals_list", user: @user %>
            </div>
            <% if @user.health_goals.count < HealthGoal.count %>
              <button id='healthgoals-edit' class='ml-0'><p><%= link_to '+ Add', '' %></p></button>
            <% end %>
          </div>
          <%= simple_form_for([@user, @health_goal], remote: true, html: { id: :healthgoals_form, style: 'display: none;' }) do |f| %>
            <%= render "user_health_goals/update_form", user: @user, health_goals: @health_goals %>
          <% end %>
        </div>
      </div>
      <div class="practitioner-profile-info">
        <div class="practitioner-profile-info-title">
          <p>Newsletter</p>
        </div>
        <div class="practitioner-profile-info-body">
          <div id="practitioner-newsletter">
            <%= render "newsletters/newsletter_form", user: @user, practitioner: @practitioner, newsletter: @newsletter %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= link_to 'Go to my page', practitioner_path(@practitioner), class: 'btn btn-flat'  %>
</div>
<div class="modal fade" id="profilePictureModal" tabindex="-1" role="dialog" aria-labelledby="profilePictureModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-photo" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h5 class="modal-title" id="profilePictureModalLabel">Crop profile photo</h5>
        <button data-dismiss="modal" aria-label="Close" style="display: none;" id="close-modal">
        </button>
      </div>
      <div class="modal-body text-center">
        <%= simple_form_for([@practitioner]) do |f| %>
          <div class="row">
            <div class="col-10 offset-1 p-0">
              <%= f.input :photo, as: :file, input_html: { class: 'd-none', id: 'photo-input' }, label_html: { class: 'upload-photo'}, label: '📷 Upload a profile photo' %>
            </div>
          </div>
          <div class="row">
            <div class="col-5 offset-1 p-0">
              <canvas id="canvas" style="width: 100%; height: 55vh;"></canvas>
            </div>
            <div class="col-4 offset-1 p-0">
              <div id="photo-preview"></div>
            </div>
          </div>
          <div class="d-flex justify-content-around mt-4">
            <%= link_to 'Reset', '', class: 'btn btn-ghost', id: 'btnReset'  %>
            <%= link_to 'Crop', '', class: 'btn btn-ghost', id: 'btnCrop' %>
            <%= f.button :submit, "Upload", class: 'btn-flat', id: 'btnUpload', disabled: true %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="profileEditModal" tabindex="-1" role="dialog" aria-labelledby="profileEditModalLabel" aria-hidden="true">
  <%= render 'devise/registrations/edit_form', resource: current_user %>
</div>
<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
  <%= render 'devise/registrations/password_form', resource: current_user %>
</div>
<script>
  <% @columns.each do |column| %>
    const <%= column %> = document.getElementById('practitioner-<%= column %>');
    const <%= column %>Form = document.getElementById('<%= column %>_form');
    const <%= column %>Edit = document.getElementById('<%= column %>-edit');
    const <%= column %>Cancel = document.getElementById('<%= column %>-cancel');
    <%= column %>Edit.addEventListener('click', (e) => {
      e.preventDefault();
      if (<%= column %> !== document.getElementById('practitioner-sociallinks')) {
        <%= column %>.style.display = 'none';
      }
      <%= column %>Form.style.display = 'flex';
      <%= column %>Edit.style.display = 'none';
    })
    <%= column %>Cancel.addEventListener('click', (e) => {
      e.preventDefault();
      if (<%= column %> === document.getElementById('practitioner-sociallinks') || <%= column %> === document.getElementById('practitioner-languages') || <%= column %> === document.getElementById('practitioner-specialties') || <%= column %> === document.getElementById('practitioner-healthgoals')) {
        <%= column %>.style.display = 'block';
      } else {
        <%= column %>.style.display = 'flex';
      }
      <%= column %>Form.style.display = 'none';
      <%= column %>Edit.style.display = 'block';
    })
  <% end %>
  <% (0..6).each do |num| %>
    const day<%= num %> = document.getElementById('day<%= num %>');
    const day<%= num %>Form = document.getElementById('day<%= num %>_form');
    const day<%= num %>Edit = document.getElementById('day<%= num %>-edit');
    const day<%= num %>Cancel = document.getElementById('day<%= num %>-cancel');
    day<%= num %>Edit.addEventListener('click', (e) => {
      e.preventDefault();
      day<%= num %>.style.display = 'none';
      day<%= num %>Form.style.display = 'block';
      day<%= num %>Edit.style.display = 'none';
    })
    day<%= num %>Cancel.addEventListener('click', (e) => {
      e.preventDefault();
      day<%= num %>.style.display = 'flex';
      day<%= num %>Form.style.display = 'none';
      day<%= num %>Edit.style.display = 'block';
    })
  <% end %>
  function initAutocomplete() {
    var input = document.getElementById('practitioner_address');
    var options = {
      types:  ['address'],
      componentRestrictions: { country: '<%= @practitioner.country_code %>' }
    };
    var autocomplete = new google.maps.places.Autocomplete(input, options);
    autocomplete.setFields(['geometry', 'name']);
    function fillInForm() {
      var place = autocomplete.getPlace();
      if (!place.geometry) {
        // User entered the name of a Place that was not suggested and
        // pressed the Enter key, or the Place Details request failed.
        window.alert("No details available for input: '" + place.name + "'");
        return;
      }
      document.getElementById('practitioner_latitude').value = place.geometry.location.lat()
      document.getElementById('practitioner_longitude').value = place.geometry.location.lng()
    }
    autocomplete.addListener('place_changed', fillInForm);
  }
</script>
