<div class="container practitioner-my-services">
  <%= link_to 'Add new service', '', data: { toggle: "modal", target: "#newServiceModal" }, class: 'btn btn-flat' %>
  <div class="my-services">
    <% @practitioner.services.sort.reverse.each do |service| %>
      <div class="practitioner-service">
        <div class="practitioner-service-info" id="service-<%= service.id %>">
          <div class="d-flex justify-content-between align-items-center">
            <h4><%= service.name %></h4>
            <div>
              <a class="fas fa-pen" href="" id="service-btn-<%= service.id %>"></a>
              <% if service.sessions == [] %>
                <%= link_to '', service_path(service), method: :delete, data: { confirm: "Are you sure to remove this service?"}, class: 'fas fa-trash ml-3' %>
              <% end %>
            </div>
          </div>
          <p>Booked <%= service.sessions.where(status: "confirmed").count %> times</p>
          <% if service.reviews.count > 0 %>
            <p><i class="fas fa-star mr-2 pink-icon"></i><%= service.rating_avg %> (<%= service.reviews.count %>)</p>
          <% else %>
            <p>No reviews!</p>
          <% end %>
          <p>Specialty: <%= service.specialty.name %></p>
          <p>Service Type: <%= service.service_type.capitalize %></p>
          <p>Duration: <%= service.duration %>m</p>
          <p>Service Price: CA<%= humanized_money_with_symbol(service.price) %></p>
          <div class="practitioner-service-description">
            <p><%= service.description %></p>
            <!-- <button>+ show more</button> -->
          </div>
        </div>
        <%= simple_form_for([service], html: { class: 'w-100', style: 'display: none;' }) do |f| %>
          <%= f.input :name %>
          <div class="form-group select require service_service_type form-group-valid">
            <label class="select require" for="service_service_type">Service type</label>
            <select class="form-control is-valid select require" name="service[service_type]" id="service_service_type">
              <option value=""></option>
              <option value="Virtual" <%= 'selected' if service.service_type == "Virtual" %>>Virtual</option>
              <% if service.practitioner.address %>
                <option value="In-person" <%= 'selected' if service.service_type == "In-person" %>>In-person</option>
              <% end %>
            </select>
          </div>
          <%= f.input :duration, input_html: { min: 15, step: 15 } %>
          <%= f.input :price %>
          <%= f.input :description, input_html: { rows: 5 } %>
          <%= f.submit :Save, class: 'btn btn-flat' %>
          <%= link_to 'Cancel', '', class: 'btn btn-ghost ml-3' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="modal fade" id="newServiceModal" tabindex="-1" role="dialog" aria-labelledby="newServiceModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
       <h5 class="modal-title" id="newServiceModalLabel">New service</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for([@service]) do |f| %>
          <%= f.input :name %>
          <div class="form-group select require service_service_type">
            <label class="select require" for="service_service_type">Service type</label>
            <select class="form-control select require" name="service[service_type]" id="service_service_type">
              <option value=""></option>
              <option value="Virtual">Virtual</option>
              <% if @practitioner.address %>
                <option value="In-person">In-person</option>
              <% end %>
            </select>
          </div>
          <%= f.input :specialty, as: :select, collection: @practitioner.specialties, require: true %>
          <%= f.input :duration, input_html: { value: 15, min: 15, step: 15 } %>
          <div class="form-group string required service_price">
            <label class="string required" for="service_price">Price <abbr title="required">*</abbr></label>
            <input class="form-control string required" type="text" name="service[price]" id="service_price">
          </div>
          <%= f.input :description, input_html: { rows: 5 } %>
          <%= f.submit :Save, class: 'btn btn-flat' %>
          <%= link_to 'Cancel', '', class: 'btn btn-ghost ml-3' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
  <% @practitioner.services.each do |service| %>
    const serviceBtn<%= service.id %> = document.getElementById('service-btn-<%= service.id %>');
    serviceBtn<%= service.id %>.addEventListener('click', (e) => {
      e.preventDefault();
      document.getElementById('service-<%= service.id %>').style.display = 'none';
      document.getElementById('edit_service_<%= service.id %>').style.display = 'block';
    })
  <% end %>
</script>
