<div class="container practitioner-page">
  <div class="practitioner-overview">
    <div class="practitioner-main">
      <%= image_tag('banner', alt: 'Holistic Service', class: 'banner') %>
      <div class="practitioner-info">
        <div class="practitioner-img">
          <% if @practitioner.photo.attached? %>
            <%= cl_image_tag @practitioner.photo.key, class: 'avatar-full' %>
          <% else %>
            <img src='https://kitt.lewagon.com/placeholder/users/random' class='avatar-full' />
          <% end %>
          <p class="practitioner-rating">
            <% if @practitioner.reviews.count > 0 %>
              <i class="fas fa-star mr-2 pink-icon"></i><%= @practitioner.rating_avg %> (<%= @practitioner.reviews.count %>)
            <% else %>
              No reviews!
            <% end %>
          </p>
          <div class="text-center">
            <p>Response Rate: 100%</p>
          </div>
        </div>
        <div class="practitioner-detail">
          <div class="practitioner-name">
            <!-- <button class="verified">Verified</button> -->
            <h3><%= @practitioner.user.full_name %></h3>
            <div class="practitioner-btn" id="practitioner-btn">
              <%= render 'favorite_practitioners/practitioner_btn', practitioner: @practitioner %>
            </div>
          </div>
          <h4><em><%= @practitioner.title %></em></h4>
          <p><%= @practitioner.specialties.pluck(:name).join(', ') %></p>
          <p><i class="fas fa-map-marker-alt pink-icon"></i> Location: <%= @practitioner.location %></p>
          <p><i class="fas fa-microphone pink-icon"></i> Languages:
            <%= @practitioner.languages.pluck(:name).join(', ') %>
          </p>
          <p><i class="fas fa-stopwatch pink-icon"></i> Experience: <%= @practitioner.experience %></p>
          <p><i class="fas fa-check-circle pink-icon"></i> Accepts Insurance: <%= @practitioner.insurance ? 'Yes' : 'No' %></p>
          <% if @practitioner.address %>
            <p><i class="far fa-map pink-icon"></i> Address: <%= @practitioner.address %></p>
          <% end %>
        </div>
      </div>
      <div class="practitioner-bio">
        <h4><i class="fas fa-info-circle"></i> Bio</h4>
        <p style="margin-bottom: 2rem;"><%= @practitioner.bio %></p>
        <h4><i class="fas fa-award"></i> Certifications</h4>
        <p><%= @practitioner.certification %></p>
      </div>
      <div class="practitioner-services">
        <h4><i class="fas fa-shopping-cart"></i> Services</h4>
        <% @practitioner.services.each do |service| %>
          <div class="practitioner-service">
            <div class="practitioner-service-info">
              <div class="practitioner-service-summary">
                <div style="flex: 0 0 70%;">
                  <h4><%= service.name %></h4>
                  <p><%= service.duration %>m</p>
                  <p><%= service.service_type.capitalize %></p>
                </div>
                <div class="text-center" style="flex: 0 0 25%;">
                  <% if service.reviews.count > 0 %>
                    <p><i class="fas fa-star mr-2 pink-icon"></i><%= service.rating_avg %> (<%= service.reviews.count %>)</p>
                  <% else %>
                    <p>No reviews!</p>
                  <% end %>
                  <p>CA<%= humanized_money_with_symbol(service.price) %></p>
                  <% if current_user != @practitioner.user %>
                    <%= link_to 'Book now', service_path(service), class: 'btn btn-flat' %>
                  <% end %>
                </div>
              </div>
              <div class="practitioner-service-description">
                <p><%= service.description %></p>
                <!-- <button>+ show more</button> -->
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <% if @practitioner.reviews.count > 0 %>
        <div class="practitioner-review">
          <h4><i class="far fa-comment"></i> Reviews</h4>
          <% @practitioner.reviews.each do |review| %>
            <div class="review-box">
              <p><% review.rating.times { %> <i class="fas fa-star pink-icon"></i> <% } %></p>
              <p><%= review.comment %></p>
              <p><small><i><%= review.session.user.full_name %> - <%= review.created_at.strftime('%b %d, %Y') %></i></small></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="practitioner-sidebar">
      <div class="practitioner-video">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= @practitioner.video %>" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="mt-4">
        <p>Practitioner Working Hours<br>(in your current time zone: <span id='time-zone'></span>)</p>
        <table class='working-hours'>
          <tr>
            <th>Sun</th><th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th><th></th>
          </tr>
          <% if user_signed_in? %>
            <tr>
              <% (0..6).to_a.each do |num| %>
                <% if @practitioner.converted_working_hours(current_user)[num] != [] %>
                  <% if (@practitioner.converted_working_hours(current_user)[num].first[:starts] < '04:00') && (@practitioner.converted_working_hours(current_user)[num].first[:ends] != '00:00') %>
                    <td><div class="available-cell"><div class="available-hours"><p><%= @practitioner.converted_working_hours(current_user)[num].first[:starts] %> ~ <%= @practitioner.converted_working_hours(current_user)[num].first[:ends] %></p></div></div></td>
                  <% else %>
                    <td></td>
                  <% end %>
                <% else %>
                  <td></td>
                <% end %>
              <% end %>
              <td class='time'>00 ~ 04</td>
            </tr>
            <tr>
              <% (0..6).to_a.each do |num| %>
                <% if @practitioner.converted_working_hours(current_user)[num] != [] %>
                  <% if (@practitioner.converted_working_hours(current_user)[num].first[:starts] < '04:00' && @practitioner.converted_working_hours(current_user)[num].first[:ends] > '08:00') || (@practitioner.converted_working_hours(current_user)[num].first[:starts] >= '04:00' && @practitioner.converted_working_hours(current_user)[num].first[:starts] < '08:00') || (@practitioner.converted_working_hours(current_user)[num].first[:ends] > '04:00' && @practitioner.converted_working_hours(current_user)[num].first[:ends] <= '08:00') %>
                    <td><div class="available-cell"><div class="available-hours"><p><%= @practitioner.converted_working_hours(current_user)[num].first[:starts] %> ~ <%= @practitioner.converted_working_hours(current_user)[num].first[:ends] %></p></div></div></td>
                  <% elsif (@practitioner.converted_working_hours(current_user)[num].last[:starts] < '04:00' && @practitioner.converted_working_hours(current_user)[num].last[:ends] > '08:00') || (@practitioner.converted_working_hours(current_user)[num].last[:starts] >= '04:00' && @practitioner.converted_working_hours(current_user)[num].last[:starts] < '08:00') || (@practitioner.converted_working_hours(current_user)[num].last[:ends] > '04:00' && @practitioner.converted_working_hours(current_user)[num].last[:ends] <= '08:00') %>
                    <td><div class="available-cell"><div class="available-hours"><p><%= @practitioner.converted_working_hours(current_user)[num].last[:starts] %> ~ <%= @practitioner.converted_working_hours(current_user)[num].last[:ends] %></p></div></div></td>
                  <% else %>
                    <td></td>
                  <% end %>
                <% else %>
                  <td></td>
                <% end %>
              <% end %>
              <td class='time'>04 ~ 08</td>
            </tr>
            <tr>
              <% (0..6).to_a.each do |num| %>
                <% if @practitioner.converted_working_hours(current_user)[num] != [] %>
                  <% if (@practitioner.converted_working_hours(current_user)[num].first[:starts] < '08:00' && @practitioner.converted_working_hours(current_user)[num].first[:ends] > '12:00') || (@practitioner.converted_working_hours(current_user)[num].first[:starts] >= '08:00' && @practitioner.converted_working_hours(current_user)[num].first[:starts] < '12:00') || (@practitioner.converted_working_hours(current_user)[num].first[:ends] > '08:00' && @practitioner.converted_working_hours(current_user)[num].first[:ends] <= '12:00') %>
                    <td><div class="available-cell"><div class="available-hours"><p><%= @practitioner.converted_working_hours(current_user)[num].first[:starts] %> ~ <%= @practitioner.converted_working_hours(current_user)[num].first[:ends] %></p></div></div></td>
                  <% elsif (@practitioner.converted_working_hours(current_user)[num].last[:starts] < '08:00' && @practitioner.converted_working_hours(current_user)[num].last[:ends] > '12:00') || (@practitioner.converted_working_hours(current_user)[num].last[:starts] >= '08:00' && @practitioner.converted_working_hours(current_user)[num].last[:starts] < '12:00') || (@practitioner.converted_working_hours(current_user)[num].last[:ends] > '08:00' && @practitioner.converted_working_hours(current_user)[num].last[:ends] <= '12:00') %>
                    <td><div class="available-cell"><div class="available-hours"><p><%= @practitioner.converted_working_hours(current_user)[num].last[:starts] %> ~ <%= @practitioner.converted_working_hours(current_user)[num].last[:ends] %></p></div></div></td>
                  <% else %>
                    <td></td>
                  <% end %>
                <% else %>
                  <td></td>
                <% end %>
              <% end %>
              <td class='time'>08 ~ 12</td>
            </tr>
            <tr>
              <% (0..6).to_a.each do |num| %>
                <% if @practitioner.converted_working_hours(current_user)[num] != [] %>
                  <% if (@practitioner.converted_working_hours(current_user)[num].first[:starts] < '12:00' && @practitioner.converted_working_hours(current_user)[num].first[:ends] > '16:00') || (@practitioner.converted_working_hours(current_user)[num].first[:starts] >= '12:00' && @practitioner.converted_working_hours(current_user)[num].first[:starts] < '16:00') || (@practitioner.converted_working_hours(current_user)[num].first[:ends] > '12:00' && @practitioner.converted_working_hours(current_user)[num].first[:ends] <= '16:00') %>
                    <td><div class="available-cell"><div class="available-hours"><p><%= @practitioner.converted_working_hours(current_user)[num].first[:starts] %> ~ <%= @practitioner.converted_working_hours(current_user)[num].first[:ends] %></p></div></div></td>
                  <% elsif (@practitioner.converted_working_hours(current_user)[num].last[:starts] < '12:00' && @practitioner.converted_working_hours(current_user)[num].last[:ends] > '16:00') || (@practitioner.converted_working_hours(current_user)[num].last[:starts] >= '12:00' && @practitioner.converted_working_hours(current_user)[num].last[:starts] < '16:00') || (@practitioner.converted_working_hours(current_user)[num].last[:ends] > '12:00' && @practitioner.converted_working_hours(current_user)[num].last[:ends] <= '16:00') %>
                    <td><div class="available-cell"><div class="available-hours"><p><%= @practitioner.converted_working_hours(current_user)[num].last[:starts] %> ~ <%= @practitioner.converted_working_hours(current_user)[num].last[:ends] %></p></div></div></td>
                  <% else %>
                    <td></td>
                  <% end %>
                <% else %>
                  <td></td>
                <% end %>
              <% end %>
              <td class='time'>12 ~ 16</td>
            </tr>
            <tr>
              <% (0..6).to_a.each do |num| %>
                <% if @practitioner.converted_working_hours(current_user)[num] != [] %>
                  <% if (@practitioner.converted_working_hours(current_user)[num].first[:starts] < '16:00' && @practitioner.converted_working_hours(current_user)[num].first[:ends] > '20:00') || (@practitioner.converted_working_hours(current_user)[num].first[:starts] >= '16:00' && @practitioner.converted_working_hours(current_user)[num].first[:starts] < '20:00') || (@practitioner.converted_working_hours(current_user)[num].first[:ends] > '16:00' && @practitioner.converted_working_hours(current_user)[num].first[:ends] <= '20:00') %>
                    <td><div class="available-cell"><div class="available-hours"><p><%= @practitioner.converted_working_hours(current_user)[num].first[:starts] %> ~ <%= @practitioner.converted_working_hours(current_user)[num].first[:ends] %></p></div></div></td>
                  <% elsif (@practitioner.converted_working_hours(current_user)[num].last[:starts] < '16:00' && @practitioner.converted_working_hours(current_user)[num].last[:ends] > '20:00') || (@practitioner.converted_working_hours(current_user)[num].last[:starts] >= '16:00' && @practitioner.converted_working_hours(current_user)[num].last[:starts] < '20:00') || (@practitioner.converted_working_hours(current_user)[num].last[:ends] > '16:00' && @practitioner.converted_working_hours(current_user)[num].last[:ends] <= '20:00') %>
                    <td><div class="available-cell"><div class="available-hours"><p><%= @practitioner.converted_working_hours(current_user)[num].last[:starts] %> ~ <%= @practitioner.converted_working_hours(current_user)[num].last[:ends] %></p></div></div></td>
                  <% else %>
                    <td></td>
                  <% end %>
                <% else %>
                  <td></td>
                <% end %>
              <% end %>
              <td class='time'>16 ~ 20</td>
            </tr>
            <tr>
              <% (0..6).to_a.each do |num| %>
                <% if @practitioner.converted_working_hours(current_user)[num] != [] %>
                  <% if @practitioner.converted_working_hours(current_user)[num].last[:ends] > '20:00' %>
                    <td><div class="available-cell"><div class="available-hours"><p><%= @practitioner.converted_working_hours(current_user)[num].last[:starts] %> ~ <%= @practitioner.converted_working_hours(current_user)[num].last[:ends] %></p></div></div></td>
                  <% else %>
                    <td></td>
                  <% end %>
                <% else %>
                  <td></td>
                <% end %>
              <% end %>
              <td class='time'>20 ~ 24</td>
            </tr>
          <% end %>
        </table>
      </div>
      <% if current_user == @practitioner.user %>
        <%= link_to 'Edit', practitioner_profile_path(@practitioner), class: 'btn btn-flat w-100 mt-3' %>
      <% else %>
        <%= simple_form_for [@practitioner.user, @conversation], html: {class: "w-100"} do |f| %>
          <%= f.submit 'Send message', class: 'btn btn-flat w-100 mt-3' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    document.getElementById('time-zone').innerHTML = moment.tz.guess();
    <% unless user_signed_in? %>
      const user_time_offset = moment.tz.zone(moment.tz.guess()).utcOffset(Date.now());
      const practitioner_time_offset = moment.tz.zone('<%= @practitioner.timezone %>').utcOffset(Date.now());
      const time_diff = user_time_offset - practitioner_time_offset;
      let converted_working_hours = {};
      <% (0..6).to_a.each do |num| %> converted_working_hours[<%= num %>] = []; <% end %>
      <% @practitioner.working_hours.each do |workingday| %>
        let converted_open_hour_<%= workingday.day %> = '';
        <% unless workingday.opens == nil %>
          converted_open_hour_<%= workingday.day %> = moment('<%= workingday.opens %>').subtract(time_diff, 'm').toISOString();
        <% end %>
        let converted_close_hour_<%= workingday.day %> = '';
        <% unless workingday.closes == nil %>
          if (moment('<%= workingday.closes %>').format("HH:mm") == '00:00') {
            converted_close_hour_<%= workingday.day %> = moment('<%= workingday.closes %>').add(1, 'days').subtract(time_diff, 'm').toISOString();
          } else {
            converted_close_hour_<%= workingday.day %> = moment('<%= workingday.closes %>').subtract(time_diff, 'm').toISOString();
          }
        <% end %>
        if ((converted_open_hour_<%= workingday.day %> != '' ) && (converted_close_hour_<%= workingday.day %> != '')) {
          if ((<%= workingday.day %> == 1) || (<%= workingday.day %> == 2) || (<%= workingday.day %> == 3) || (<%= workingday.day %> == 4) || (<%= workingday.day %> == 5)) {
            if ((new Date(converted_open_hour_<%= workingday.day %>).getDate() == '31') && (new Date(converted_close_hour_<%= workingday.day %>).getDate() == '31')) {
              converted_working_hours[<%= workingday.day %> - 1].push({ 'starts': ('0'+new Date(converted_open_hour_<%= workingday.day %>).getHours()).substr(-2) + ':' + ('0'+new Date(converted_open_hour_<%= workingday.day %>).getMinutes()).substr(-2), 'ends': ('0'+new Date(converted_close_hour_<%= workingday.day %>).getHours()).substr(-2) + ':' + ('0'+new Date(converted_close_hour_<%= workingday.day %>).getMinutes()).substr(-2) });
            } else if ((new Date(converted_open_hour_<%= workingday.day %>).getDate() == '31') && (new Date(converted_close_hour_<%= workingday.day %>).getDate() == '01')) {
              converted_working_hours[<%= workingday.day %> - 1].push({ 'starts': ('0'+new Date(converted_open_hour_<%= workingday.day %>).getHours()).substr(-2) + ':' + ('0'+new Date(converted_open_hour_<%= workingday.day %>).getMinutes()).substr(-2), 'ends': '24:00' });
              if ((('0'+new Date(converted_close_hour_<%= workingday.day %>).getHours()).substr(-2) + ':' + ('0'+new Date(converted_close_hour_<%= workingday.day %>).getMinutes()).substr(-2)) != '00:00') {
                converted_working_hours[<%= workingday.day %>].push({ 'starts': '00:00', 'ends': ('0'+new Date(converted_close_hour_<%= workingday.day %>).getHours()).substr(-2) + ':' + ('0'+new Date(converted_close_hour_<%= workingday.day %>).getMinutes()).substr(-2) });
              }
            } else if ((new Date(converted_open_hour_<%= workingday.day %>).getDate() == '1') && (new Date(converted_close_hour_<%= workingday.day %>).getDate() == '01')) {
              converted_working_hours[<%= workingday.day %>].push({ 'starts': ('0'+new Date(converted_open_hour_<%= workingday.day %>).getHours()).substr(-2) + ':' + ('0'+new Date(converted_open_hour_<%= workingday.day %>).getMinutes()).substr(-2), 'ends': ('0'+new Date(converted_close_hour_<%= workingday.day %>).getHours()).substr(-2) + ':' + ('0'+new Date(converted_close_hour_<%= workingday.day %>).getMinutes()).substr(-2) });
            } else if ((new Date(converted_open_hour_<%= workingday.day %>).getDate() == '1') && (new Date(converted_close_hour_<%= workingday.day %>).getDate() == '02')) {
              converted_working_hours[<%= workingday.day %>].push({ 'starts': ('0'+new Date(converted_open_hour_<%= workingday.day %>).getHours()).substr(-2) + ':' + ('0'+new Date(converted_open_hour_<%= workingday.day %>).getMinutes()).substr(-2), 'ends': '24:00' });
              converted_working_hours[<%= workingday.day %> + 1].push({ 'starts': '00:00', 'ends': ('0'+new Date(converted_close_hour_<%= workingday.day %>).getHours()).substr(-2) + ':' + ('0'+new Date(converted_close_hour_<%= workingday.day %>).getMinutes()).substr(-2) });
            } else if ((new Date(converted_open_hour_<%= workingday.day %>).getDate() == '2') && (new Date(converted_close_hour_<%= workingday.day %>).getDate() == '02')) {
              converted_working_hours[<%= workingday.day %> + 1].push({ 'starts': ('0'+new Date(converted_open_hour_<%= workingday.day %>).getHours()).substr(-2) + ':' + ('0'+new Date(converted_open_hour_<%= workingday.day %>).getMinutes()).substr(-2), 'ends': ('0'+new Date(converted_close_hour_<%= workingday.day %>).getHours()).substr(-2) + ':' + ('0'+new Date(converted_close_hour_<%= workingday.day %>).getMinutes()).substr(-2) });
            }
          } else if (<%= workingday.day %> == 0) {
            if ((new Date(converted_open_hour_<%= workingday.day %>).getDate() == '31') && (new Date(converted_close_hour_<%= workingday.day %>).getDate() == '31')) {
              converted_working_hours[6].push({ 'starts': ('0'+new Date(converted_open_hour_<%= workingday.day %>).getHours()).substr(-2) + ':' + ('0'+new Date(converted_open_hour_<%= workingday.day %>).getMinutes()).substr(-2), 'ends': ('0'+new Date(converted_close_hour_<%= workingday.day %>).getHours()).substr(-2) + ':' + ('0'+new Date(converted_close_hour_<%= workingday.day %>).getMinutes()).substr(-2) });
            } else if ((new Date(converted_open_hour_<%= workingday.day %>).getDate() == '31') && (new Date(converted_close_hour_<%= workingday.day %>).getDate() == '01')) {
              converted_working_hours[6].push({ 'starts': ('0'+new Date(converted_open_hour_<%= workingday.day %>).getHours()).substr(-2) + ':' + ('0'+new Date(converted_open_hour_<%= workingday.day %>).getMinutes()).substr(-2), 'ends': '24:00' });
              converted_working_hours[<%= workingday.day %>].push({ 'starts': '00:00', 'ends': ('0'+new Date(converted_close_hour_<%= workingday.day %>).getHours()).substr(-2) + ':' + ('0'+new Date(converted_close_hour_<%= workingday.day %>).getMinutes()).substr(-2) });
            }
            else if ((new Date(converted_open_hour_<%= workingday.day %>).getDate() == '1') && (new Date(converted_close_hour_<%= workingday.day %>).getDate() == '01')) {
              converted_working_hours[<%= workingday.day %>].push({ 'starts': ('0'+new Date(converted_open_hour_<%= workingday.day %>).getHours()).substr(-2) + ':' + ('0'+new Date(converted_open_hour_<%= workingday.day %>).getMinutes()).substr(-2), 'ends': ('0'+new Date(converted_close_hour_<%= workingday.day %>).getHours()).substr(-2) + ':' + ('0'+new Date(converted_close_hour_<%= workingday.day %>).getMinutes()).substr(-2) });
            } else if ((new Date(converted_open_hour_<%= workingday.day %>).getDate() == '1') && (new Date(converted_close_hour_<%= workingday.day %>).getDate() == '02')) {
              converted_working_hours[<%= workingday.day %>].push({ 'starts': ('0'+new Date(converted_open_hour_<%= workingday.day %>).getHours()).substr(-2) + ':' + ('0'+new Date(converted_open_hour_<%= workingday.day %>).getMinutes()).substr(-2), 'ends': '24:00' });
              converted_working_hours[<%= workingday.day %> + 1].push({ 'starts': '00:00', 'ends': ('0'+new Date(converted_close_hour_<%= workingday.day %>).getHours()).substr(-2) + ':' + ('0'+new Date(converted_close_hour_<%= workingday.day %>).getMinutes()).substr(-2) });
            } else if ((new Date(converted_open_hour_<%= workingday.day %>).getDate() == '2') && (new Date(converted_close_hour_<%= workingday.day %>).getDate() == '02')) {
              converted_working_hours[<%= workingday.day %> + 1].push({ 'starts': ('0'+new Date(converted_open_hour_<%= workingday.day %>).getHours()).substr(-2) + ':' + ('0'+new Date(converted_open_hour_<%= workingday.day %>).getMinutes()).substr(-2), 'ends': ('0'+new Date(converted_close_hour_<%= workingday.day %>).getHours()).substr(-2) + ':' + ('0'+new Date(converted_close_hour_<%= workingday.day %>).getMinutes()).substr(-2) });
            }
          } else if (<%= workingday.day %> == 6) {
            if ((new Date(converted_open_hour_<%= workingday.day %>).getDate() == '31') && (new Date(converted_close_hour_<%= workingday.day %>).getDate() == '31')) {
              converted_working_hours[<%= workingday.day %> - 1].push({ 'starts': ('0'+new Date(converted_open_hour_<%= workingday.day %>).getHours()).substr(-2) + ':' + ('0'+new Date(converted_open_hour_<%= workingday.day %>).getMinutes()).substr(-2), 'ends': ('0'+new Date(converted_close_hour_<%= workingday.day %>).getHours()).substr(-2) + ':' + ('0'+new Date(converted_close_hour_<%= workingday.day %>).getMinutes()).substr(-2) });
            } else if ((new Date(converted_open_hour_<%= workingday.day %>).getDate() == '31') && (new Date(converted_close_hour_<%= workingday.day %>).getDate() == '01')) {
              converted_working_hours[<%= workingday.day %> - 1].push({ 'starts': ('0'+new Date(converted_open_hour_<%= workingday.day %>).getHours()).substr(-2) + ':' + ('0'+new Date(converted_open_hour_<%= workingday.day %>).getMinutes()).substr(-2), 'ends': '24:00' });
              converted_working_hours[<%= workingday.day %>].push({ 'starts': '00:00', 'ends': ('0'+new Date(converted_close_hour_<%= workingday.day %>).getHours()).substr(-2) + ':' + ('0'+new Date(converted_close_hour_<%= workingday.day %>).getMinutes()).substr(-2) });
            } else if ((new Date(converted_open_hour_<%= workingday.day %>).getDate() == '1') && (new Date(converted_close_hour_<%= workingday.day %>).getDate() == '01')) {
              converted_working_hours[<%= workingday.day %>].push({ 'starts': ('0'+new Date(converted_open_hour_<%= workingday.day %>).getHours()).substr(-2) + ':' + ('0'+new Date(converted_open_hour_<%= workingday.day %>).getMinutes()).substr(-2), 'ends': ('0'+new Date(converted_close_hour_<%= workingday.day %>).getHours()).substr(-2) + ':' + ('0'+new Date(converted_close_hour_<%= workingday.day %>).getMinutes()).substr(-2) });
            } else if ((new Date(converted_open_hour_<%= workingday.day %>).getDate() == '1') && (new Date(converted_close_hour_<%= workingday.day %>).getDate() == '02')) {
              converted_working_hours[<%= workingday.day %>].push({ 'starts': ('0'+new Date(converted_open_hour_<%= workingday.day %>).getHours()).substr(-2) + ':' + ('0'+new Date(converted_open_hour_<%= workingday.day %>).getMinutes()).substr(-2), 'ends': '24:00' });
              converted_working_hours[0].push({ 'starts': "00:00", 'ends': ('0'+new Date(converted_close_hour_<%= workingday.day %>).getHours()).substr(-2) + ':' + ('0'+new Date(converted_close_hour_<%= workingday.day %>).getMinutes()).substr(-2) });
            } else if ((new Date(converted_open_hour_<%= workingday.day %>).getDate() == '2') && (new Date(converted_close_hour_<%= workingday.day %>).getDate() == '02')) {
              converted_working_hours[0].push({ 'starts': ('0'+new Date(converted_open_hour_<%= workingday.day %>).getHours()).substr(-2) + ':' + ('0'+new Date(converted_open_hour_<%= workingday.day %>).getMinutes()).substr(-2), 'ends': ('0'+new Date(converted_close_hour_<%= workingday.day %>).getHours()).substr(-2) + ':' + ('0'+new Date(converted_close_hour_<%= workingday.day %>).getMinutes()).substr(-2) });
            }
          }
        }
      <% end %>
      const table = document.getElementsByTagName('table')[0];
      let html = '';
      html += `<tr>`;
      for (var i = 0; i < 7; i++) {
        if (converted_working_hours[i].length > 0) {
          if ((converted_working_hours[i][0]['starts'] < '04:00') && (converted_working_hours[i][0]['ends'] != '00:00')) {
            html += `<td><div class="available-cell"><div class="available-hours"><p>`+ converted_working_hours[i][0]['starts'] +` ~ `+ converted_working_hours[i][0]['ends'] +`</p></div></div></td>`;
          } else {
            html += `<td></td>`;
          }
        } else {
          html += `<td></td>`;
        }
      }
      html += `<td class='time'>00 ~ 04</td>
               </tr>`;
      html += `<tr>`;
      for (var i = 0; i < 7; i++) {
        if (converted_working_hours[i].length == 1) {
          if (((converted_working_hours[i][0]['starts'] < '04:00') && (converted_working_hours[i][0]['ends'] > '08:00')) || ((converted_working_hours[i][0]['starts'] >= '04:00') && (converted_working_hours[i][0]['starts'] < '08:00')) || ((converted_working_hours[i][0]['ends'] > '04:00') && (converted_working_hours[i][0]['ends'] <= '08:00'))) {
            html += `<td><div class="available-cell"><div class="available-hours"><p>`+ converted_working_hours[i][0]['starts'] +` ~ `+ converted_working_hours[i][0]['ends'] +`</p></div></div></td>`;
          } else {
            html += `<td></td>`;
          }
        } else if (converted_working_hours[i].length == 2) {
          if (((converted_working_hours[i][0]['starts'] < '04:00') && (converted_working_hours[i][0]['ends'] > '08:00')) || ((converted_working_hours[i][0]['starts'] >= '04:00') && (converted_working_hours[i][0]['starts'] < '08:00')) || ((converted_working_hours[i][0]['ends'] > '04:00') && (converted_working_hours[i][0]['ends'] <= '08:00'))) {
            html += `<td><div class="available-cell"><div class="available-hours"><p>`+ converted_working_hours[i][0]['starts'] +` ~ `+ converted_working_hours[i][0]['ends'] +`</p></div></div></td>`;
          } else if (((converted_working_hours[i][1]['starts'] < '04:00') && (converted_working_hours[i][1]['ends'] > '08:00')) || ((converted_working_hours[i][1]['starts'] >= '04:00') && (converted_working_hours[i][1]['starts'] < '08:00')) || ((converted_working_hours[i][1]['ends'] > '04:00') && (converted_working_hours[i][1]['ends'] <= '08:00'))) {
            html += `<td><div class="available-cell"><div class="available-hours"><p>`+ converted_working_hours[i][1]['starts'] +` ~ `+ converted_working_hours[i][1]['ends'] +`</p></div></div></td>`;
          } else {
            html += `<td></td>`;
          }
        } else {
          html += `<td></td>`;
        }
      }
      html += `<td class='time'>04 ~ 08</td>
               </tr>`;
      html += `<tr>`;
      for (var i = 0; i < 7; i++) {
        if (converted_working_hours[i].length == 1) {
          if (((converted_working_hours[i][0]['starts'] < '08:00') && (converted_working_hours[i][0]['ends'] > '12:00')) || ((converted_working_hours[i][0]['starts'] >= '08:00') && (converted_working_hours[i][0]['starts'] < '12:00')) || ((converted_working_hours[i][0]['ends'] > '08:00') && (converted_working_hours[i][0]['ends'] <= '12:00'))) {
            html += `<td><div class="available-cell"><div class="available-hours"><p>`+ converted_working_hours[i][0]['starts'] +` ~ `+ converted_working_hours[i][0]['ends'] +`</p></div></div></td>`;
          } else {
            html += `<td></td>`;
          }
        } else if (converted_working_hours[i].length == 2) {
          if (((converted_working_hours[i][0]['starts'] < '08:00') && (converted_working_hours[i][0]['ends'] > '12:00')) || ((converted_working_hours[i][0]['starts'] >= '08:00') && (converted_working_hours[i][0]['starts'] < '12:00')) || ((converted_working_hours[i][0]['ends'] > '08:00') && (converted_working_hours[i][0]['ends'] <= '12:00'))) {
            html += `<td><div class="available-cell"><div class="available-hours"><p>`+ converted_working_hours[i][0]['starts'] +` ~ `+ converted_working_hours[i][0]['ends'] +`</p></div></div></td>`;
          } else if (((converted_working_hours[i][1]['starts'] < '08:00') && (converted_working_hours[i][1]['ends'] > '12:00')) || ((converted_working_hours[i][1]['starts'] >= '08:00') && (converted_working_hours[i][1]['starts'] < '12:00')) || ((converted_working_hours[i][1]['ends'] > '08:00') && (converted_working_hours[i][1]['ends'] <= '12:00'))) {
            html += `<td><div class="available-cell"><div class="available-hours"><p>`+ converted_working_hours[i][1]['starts'] +` ~ `+ converted_working_hours[i][1]['ends'] +`</p></div></div></td>`;
          } else {
            html += `<td></td>`;
          }
        } else {
          html += `<td></td>`;
        }
      }
      html += `<td class='time'>08 ~ 12</td>
               </tr>`;
      html += `<tr>`;
      for (var i = 0; i < 7; i++) {
        if (converted_working_hours[i].length == 1) {
          if (((converted_working_hours[i][0]['starts'] < '12:00') && (converted_working_hours[i][0]['ends'] > '16:00')) || ((converted_working_hours[i][0]['starts'] >= '12:00') && (converted_working_hours[i][0]['starts'] < '16:00')) || ((converted_working_hours[i][0]['ends'] > '12:00') && (converted_working_hours[i][0]['ends'] <= '16:00'))) {
            html += `<td><div class="available-cell"><div class="available-hours"><p>`+ converted_working_hours[i][0]['starts'] +` ~ `+ converted_working_hours[i][0]['ends'] +`</p></div></div></td>`;
          } else {
            html += `<td></td>`;
          }
        } else if (converted_working_hours[i].length == 2) {
          if (((converted_working_hours[i][0]['starts'] < '12:00') && (converted_working_hours[i][0]['ends'] > '16:00')) || ((converted_working_hours[i][0]['starts'] >= '12:00') && (converted_working_hours[i][0]['starts'] < '16:00')) || ((converted_working_hours[i][0]['ends'] > '12:00') && (converted_working_hours[i][0]['ends'] <= '16:00'))) {
            html += `<td><div class="available-cell"><div class="available-hours"><p>`+ converted_working_hours[i][0]['starts'] +` ~ `+ converted_working_hours[i][0]['ends'] +`</p></div></div></td>`;
          } else if (((converted_working_hours[i][1]['starts'] < '12:00') && (converted_working_hours[i][1]['ends'] > '16:00')) || ((converted_working_hours[i][1]['starts'] >= '12:00') && (converted_working_hours[i][1]['starts'] < '16:00')) || ((converted_working_hours[i][1]['ends'] > '12:00') && (converted_working_hours[i][1]['ends'] <= '16:00'))) {
            html += `<td><div class="available-cell"><div class="available-hours"><p>`+ converted_working_hours[i][1]['starts'] +` ~ `+ converted_working_hours[i][1]['ends'] +`</p></div></div></td>`;
          } else {
            html += `<td></td>`;
          }
        } else {
          html += `<td></td>`;
        }
      }
      html += `<td class='time'>12 ~ 16</td>
               </tr>`;
      html += `<tr>`;
      for (var i = 0; i < 7; i++) {
        if (converted_working_hours[i].length == 1) {
          if (((converted_working_hours[i][0]['starts'] < '16:00') && (converted_working_hours[i][0]['ends'] > '20:00')) || ((converted_working_hours[i][0]['starts'] >= '16:00') && (converted_working_hours[i][0]['starts'] < '20:00')) || ((converted_working_hours[i][0]['ends'] > '16:00') && (converted_working_hours[i][0]['ends'] <= '20:00'))) {
            html += `<td><div class="available-cell"><div class="available-hours"><p>`+ converted_working_hours[i][0]['starts'] +` ~ `+ converted_working_hours[i][0]['ends'] +`</p></div></div></td>`;
          } else {
            html += `<td></td>`;
          }
        } else if (converted_working_hours[i].length == 2) {
          if (((converted_working_hours[i][0]['starts'] < '16:00') && (converted_working_hours[i][0]['ends'] > '20:00')) || ((converted_working_hours[i][0]['starts'] >= '16:00') && (converted_working_hours[i][0]['starts'] < '20:00')) || ((converted_working_hours[i][0]['ends'] > '16:00') && (converted_working_hours[i][0]['ends'] <= '20:00'))) {
            html += `<td><div class="available-cell"><div class="available-hours"><p>`+ converted_working_hours[i][0]['starts'] +` ~ `+ converted_working_hours[i][0]['ends'] +`</p></div></div></td>`;
          } else if (((converted_working_hours[i][1]['starts'] < '16:00') && (converted_working_hours[i][1]['ends'] > '20:00')) || ((converted_working_hours[i][1]['starts'] >= '16:00') && (converted_working_hours[i][1]['starts'] < '20:00')) || ((converted_working_hours[i][1]['ends'] > '16:00') && (converted_working_hours[i][1]['ends'] <= '20:00'))) {
            html += `<td><div class="available-cell"><div class="available-hours"><p>`+ converted_working_hours[i][1]['starts'] +` ~ `+ converted_working_hours[i][1]['ends'] +`</p></div></div></td>`;
          } else {
            html += `<td></td>`;
          }
        } else {
          html += `<td></td>`;
        }
      }
      html += `<td class='time'>16 ~ 20</td>
               </tr>`;
      html += `<tr>`;
      for (var i = 0; i < 7; i++) {
        if (converted_working_hours[i].length > 0) {
          if (converted_working_hours[i][converted_working_hours[i].length-1]['ends'] > '20:00') {
            html += `<td><div class="available-cell"><div class="available-hours"><p>`+ converted_working_hours[i][converted_working_hours[i].length-1]['starts'] +` ~ `+ converted_working_hours[i][converted_working_hours[i].length-1]['ends'] +`</p></div></div></td>`;
          } else {
            html += `<td></td>`;
          }
        } else {
          html += `<td></td>`;
        }
      }
      html += `<td class='time'>20 ~ 24</td>
               </tr>`;
      table.insertAdjacentHTML('beforeend', html);
    <% end %>
  });
</script>
