<% provide :head_tags do %>
  <style>
    .blog-banner {
      background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url('<%= cdn_for(@post_category.banner) %>');
    }
  </style>
<% end %>
<% content_for :blog_navbar do %>
  <%= render 'shared/blog_navbar' %>
<% end %>
<div class="blog-navbar mt-0">
  <%= link_to 'The Holistic Panda Blog', posts_path(subdomain: 'blog') %>
  <div>
    <% PostCategory.all.order(:id).each do |cat| %>
      <%= link_to cat.name.upcase, post_category_path(cat), class: 'mr-4' %>
    <% end %>
  </div>
  <%= simple_form_for :search, url: posts_path, method: "GET", html: { id: 'search-post-form' } do |f| %>
    <div class="search-box-wrapper">
      <input id="search-box" name="s" placeholder="Search"><i class="fas fa-search" id="search-button"></i>
    </div>
  <% end %>
</div>
<div class="blog-banner">
  <h1><%= @post_category.name.upcase %></h1>
  <p><%= @post_category.description %></p>
</div>
<div class="container blog-page">
  <% if user_signed_in? && current_user.admin? %>
    <div class="text-center">
      <%= link_to 'Create new post', new_post_path, class: 'btn btn-flat' %>
    </div>
  <% end %>
  <h2>Latest from <%= @post_category.name.split.map(&:capitalize).join(' ') %></h2>
  <div class="posts-container">
    <% if @posts.count == 0 %>
      <div class="posts" style="display: block;">
        <p><em>New blog post coming soon.</em></p>
      </div>
    <% else %>
      <div class="posts">
        <% @posts.each do |post| %>
          <div class="post">
            <a href="/posts/<%= post.short_title %>">
              <% if post.photo.attached? %>
                <img src="<%= cdn_for(post.photo) %>" alt="<%= post.title %>">
              <% else %>
                <%= image_tag 'virtual-min.png' %>
              <% end %>
            </a>
            <div class="post-detail">
              <div class="d-flex justify-content-between">
                <p class="category-name"><%= post.post_category.name.upcase %></p>
                <p class="post-minutes">
                  <% if post.minutes %>
                    <%= post.minutes %> minutes read
                  <% end %>
                </p>
              </div>
              <h2><%= link_to post.title, post_path(post) %></h2>
              <div class="post-summary"><%= (post.body.split('</p>')[0] + '</p>').html_safe %></div>
              <div class="post-author">
                <% if post.post_author.photo.attached? %>
                  <img src="<%= cdn_for(post.post_author.photo) %>" class="post-author-image" alt="<%= post.post_author.full_name %>">
                <% else %>
                  <% if post.post_author.practitioner %>
                    <img src="<%= cdn_for(post.post_author.practitioner.user.photo) %>" class="post-author-image" alt="<%= post.post_author.full_name %>">
                  <% else %>
                    <%= image_tag 'profile.png', class: "post-author-image" %>
                  <% end %>
                <% end %>
                <div class="post-author-detail">
                  <% if post.post_author.practitioner %>
                    by <%= link_to post.post_author.full_name, practitioner_url(post.post_author.practitioner) %><br />
                    <%= post.post_author.practitioner.title %>
                  <% else %>
                    by <%= link_to post.post_author.full_name, post.post_author.link %><br />
                    <%= post.post_author.title %>
                  <% end %>
                </div>
              </div>
              <div class="text-center">
                <% if user_signed_in? && current_user.admin? %>
                  <% if post.published %>
                    <%= simple_form_for(post) do |f| %>
                      <%= f.button :submit, "Unpublish", class: 'btn-ghost' %>
                    <% end %>
                  <% else %>
                    <%= simple_form_for(post) do |f| %>
                      <%= f.button :submit, "Publish", class: 'btn-flat' %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="blog-newsletter">
      <h3>Newsletter</h3>
      <p>Subscribe to receive latest content updates, invitations to wellness events, and more!</p>
      <!-- Begin Mailchimp Signup Form -->
      <div class="w-100" id="mc_embed_signup" style="font-size: 0.875rem;">
        <form action="https://theholisticpanda.us7.list-manage.com/subscribe/post?u=5a5d4ba10d9985a895c9fa80c&amp;id=882a915325" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <div class="mc-field-group">
              <input class="form-control string email required" placeholder="someone@example.com" type="email" name="EMAIL" id="mce-EMAIL">
            </div>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5a5d4ba10d9985a895c9fa80c_882a915325" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-flat"></div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
          </div>
        </form>
      </div>
      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    </div>
  </div>
</div>
<script>
  document.getElementById('search-button').addEventListener('click', (e) => {
    document.getElementById('search-post-form').submit();
  });
</script>
