<div class="container conversations">
  <div class="d-flex justify-content-between">
    <div class="conversation-list">
      <table>
        <tr>
          <th><p>Your conversation list</th>
        </tr>
        <% current_user.conversations.each do |conversation| %>
          <tr>
            <td <% if @conversation.id == conversation.id %> class="active" <% end %>>
              <a href="/conversations/<%= conversation.id %>"><p><%= conversation.opposed_user(current_user).full_name %></p>
                <% if @conversation.id != conversation.id %>
                  <% if conversation.messages.any? %>
                    <p class="last-msg"><%= conversation.messages.last.content %></p>
                  <% end %>
                <% end %>
              </a>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="current-conversation">
      <div class="d-flex pl-3">
        <% if @conversation.opposed_user(current_user).is_practitioner? && @conversation.opposed_user(current_user).practitioner.photo.attached? %>
          <%= cl_image_tag @chat.opposed_user(current_user).practitioner.photo.key, class: "avatar" %>
        <% else %>
          <%= image_tag 'profile.png', class: "avatar" %>
        <% end %>
        <h2><%= @conversation.opposed_user(current_user).full_name %></h2>
      </div>
      <div class="messages" id="conversationbox" data-conversationId="<%= @conversation.id %>" data-userId="<%= current_user.id %>">
        <% @messages.each do |message| %>
          <% if current_user == message.user %>
            <div class="col-8 offset-4 d-flex justify-content-end">
              <div class="my-message-bubble my-msg"><%= render 'messages/message', message: message %></div>
            </div>
          <% else %>
            <div class="col-8 d-flex">
              <div class="other-message-bubble other-msg"><%= render 'messages/message', message: message %></div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="message-form">
        <%= render 'messages/form', conversation: @conversation, message: @message %>
      </div>
    </div>
  </div>
</div>
