<div class="container conversations">
  <div class="conversation-container">
    <div class="conversation-list">
      <table>
        <tr>
          <th><p>Your Conversation List</th>
        </tr>
        <%= render 'conversations/conversation_list', conversation: @conversation %>
      </table>
    </div>
    <div class="current-conversation">
      <div class="current-opponent">
        <% if @conversation.opposed_user(current_user).practitioner && @conversation.opposed_user(current_user).photo.attached? %>
          <%= image_tag cdn_for(@conversation.opposed_user(current_user).cropped_image), class: "avatar" %>
        <% else %>
          <%= image_tag 'profile.png', class: "avatar" %>
        <% end %>
        <h2><%= @conversation.opposed_user(current_user).full_name %></h2>
      </div>
      <div class="messages" id="conversationbox" data-conversationId="<%= @conversation.id %>" data-userId="<%= current_user.id %>">
        <% @messages.each do |date, messages| %>
          <div class="conversation-date" <%= 'id=today' if date == Time.current.in_time_zone(current_user.timezone).to_date %>>
            <p>
              <% if date != Time.current.in_time_zone(current_user.timezone).to_date %>
                <%= date.strftime('%b %d, %Y') %>
              <% else %>
                Today
              <% end %>
            </p>
          </div>
          <% messages.each do |message| %>
            <% if current_user == message.user %>
              <div class="col-8 offset-4 d-flex justify-content-end">
                <div class="my-message-bubble my-msg"><%= render 'messages/message', message: message %></div>
              </div>
            <% else %>
              <div class="col-8 d-flex">
                <div class="other-message-bubble other-msg"><%= render 'messages/message', message: message %></div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="message-form pl-3">
        <%= render 'messages/form', conversation: @conversation, message: @message %>
      </div>
    </div>
  </div>
</div>
