<div class="container sessions">
  <h1>Confirmed sessions</h1>
  <% @confirmed_sessions.each do |session| %>
    <p><%= link_to session.service.name, session_path(session) %></p>
    <p><%= session.start_time %></p>
    <p><%= session.end_time %></p>
    <p><%= humanized_money_with_symbol(session.amount) %></p>
    <% if session.user == current_user %>
      <p><%= session.service.practitioner.user.full_name %></p>
    <% else %>
      <p><%= session.user.full_name %></p>
    <% end %>
    <p><%= session.service.service_type.capitalize %></p>
  <% end %>
  <h1>Pending sessions</h1>
  <% @pending_sessions.each do |session| %>
    <p><%= link_to session.service.name, session_path(session) %></p>
    <p><%= session.start_time %></p>
    <p><%= session.end_time %></p>
    <p><%= humanized_money_with_symbol(session.amount) %></p>
    <% if session.user == current_user %>
      <p><%= session.service.practitioner.user.full_name %></p>
    <% else %>
      <p><%= session.user.full_name %></p>
    <% end %>
    <p><%= session.service.service_type.capitalize %></p>
  <% end %>
  <h1>Cancelled sessions</h1>
  <% @cancelled_sessions.each do |session| %>
    <p><%= link_to session.service.name, session_path(session) %></p>
    <p><%= session.start_time %></p>
    <p><%= session.end_time %></p>
    <p><%= humanized_money_with_symbol(session.amount) %></p>
    <% if session.user == current_user %>
      <p><%= session.service.practitioner.user.full_name %></p>
    <% else %>
      <p><%= session.user.full_name %></p>
    <% end %>
    <p><%= session.service.service_type.capitalize %></p>
  <% end %>
</div>
