<div class="footer">
  <div class="footer-top">
    <div class="footer-columns">
      <h3>About</h3>
      <p><%= link_to 'About Us', aboutus_path %></a></p>
      <!-- <p><a href="#">How It Works</a></p> -->
      <p><%= link_to 'FAQ', faq_path %></p>
      <!-- <p><a href="#">Help</a></p> -->
    </div>
    <div class="footer-columns">
      <h3>Community</h3>
      <!-- <p><a href="#">Events</a></p> -->
      <!-- <p><a href="#">Article</a></p> -->
      <p><a href="#">Refer A Friend</a></p>
      <p><a href="#">Refer A Practitioner</a></p>
    </div>
    <div class="footer-columns">
      <h3>Practitioner</h3>
      <% if user_signed_in? && current_user.practitioner %>
        <p><%= link_to 'List Your Practice', practitioner_services_path %></p>
      <% else %>
        <p><%= link_to 'List Your Practice', become_a_practitioner_path %></p></p>
      <% end %>
      <p><%= link_to 'Get Verified Now', become_a_practitioner_path %></p></p>
      <!-- <p><a href="#">Contribute Article</a></p> -->
    </div>
    <div class="footer-columns">
      <h3>Connect</h3>
      <div class="footer-socials">
        <a href="https://www.instagram.com/the.holisticpanda/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/company/68969845/"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-links">
      <%= link_to 'Terms & Conditions', terms_path %> |
      <%= link_to 'Privacy Policy', privacy_path %> |
      <%= link_to 'Cookies', cookie_path %>
    </div>
    <div class="footer-copyright">
      © <%= Time.now.year %> HolisticPanda, Inc. All rights reserved
    </div>
  </div>
</div>
