<div class="footer">
  <div class="footer-top">
    <!-- <div style="font-size: 0.75rem; margin-top: -0.5rem; text-align: right; opacity: .7; font-style: italic;">Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
    <div class="footer-columns">
      <h3>About</h3>
      <p><%= link_to 'About us', aboutus_url %></a></p>
      <!-- <p><a href="#">How It Works</a></p> -->
      <p><%= link_to 'FAQ', faq_url %></p>
      <!-- <p><a href="#">Help</a></p> -->
    </div>
    <div class="footer-columns">
      <h3>Community</h3>
      <p><%= link_to 'Events', events_url %></p>
      <p><%= link_to 'Blog', posts_path %></p>
      <% if user_signed_in? %>
        <%= link_to 'Refer a friend', '', data: { toggle: "modal", target: "#referralModal" } %>
      <% else %>
        <%= link_to 'Refer a friend', new_user_session_url %>
      <% end %>
    </div>
    <div class="footer-columns">
      <h3>Practitioner</h3>
      <% if user_signed_in? && current_user.practitioner %>
        <p><%= link_to 'List your practice', practitioner_services_url %></p>
      <% else %>
        <p><%= link_to 'List your practice', become_a_practitioner_url %></p></p>
      <% end %>
      <p><%= link_to 'Get verified now', become_a_practitioner_url %></p></p>
    </div>
    <div class="footer-columns">
      <h3>Connect</h3>
      <div class="footer-socials">
        <a href="https://www.instagram.com/theholisticpanda/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/company/68969845/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.youtube.com/channel/UCTGlPkugLBWibO9jU0442-g" target="_blank"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-links">
      <%= link_to 'Terms & conditions', terms_url %> |
      <%= link_to 'Privacy policy', privacy_url %> |
      <%= link_to 'Cookies', cookie_url %>
    </div>
    <div class="footer-copyright">
      © <%= Time.now.year %> TheHolisticPanda, Inc. All rights reserved
    </div>
  </div>
  <div style="font-size: 0.875rem; text-align: center; opacity: .7; font-style: italic; padding-bottom: 1rem;">Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> & <a href="https://www.flaticon.com/authors/flat-icons" title="Flat Icons">Flat Icons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</div>
