<div class="navbar navbar-expand-sm navbar-light navbar-holistic fixed-top">
  <a class="navbar-brand" href="/"><%= image_tag('logo', alt: 'The Holistic Panda') %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Find holistic services', services_path, class: "nav-link", style: "font-weight: 800;" %>
        </li>
        <li class="nav-item btn-group">
          <a class="dropdown-toggle nav-link" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell"></i>
              <span class="unread-count" id="unread-count">
                <%= @notifications.length if @notifications.present? %>
              </span>
          </a>
          <div class="dropdown-menu notification-drop" aria-labelledby="dropdownMenu1">
            <% if @notifications.present? %>
              <% @notifications.first(10).each do |notification| %>
                <%= link_to notification.actor.full_name + " " + notification.action, notification_path(notification), method: :patch || :put, class: 'dropdown-item' %>
              <% end %>
            <% end %>
            <%= link_to 'See All', user_notifications_path(current_user), class: 'dropdown-item text-center all' %>
          </div>
        </li>
        <li class="nav-item">
          <%= link_to 'My sessions', user_sessions_path(current_user), class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'My favorites', user_favorites_path(current_user), class: 'nav-link' %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Welcome, <%= current_user.first_name %></a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <% if current_user.conversations.present? %>
              <%= link_to 'Messages', conversation_path(current_user.last_conversation), class: "dropdown-item" %>
            <% end %>
            <% if current_user.practitioner %>
              <%= link_to 'View my page', practitioner_path(current_user.practitioner), class: "dropdown-item" %>
              <%= link_to 'My profile', practitioner_profile_path(current_user.practitioner), class: "dropdown-item" %>
              <%= link_to 'My services', practitioner_services_path(current_user.practitioner), class: 'dropdown-item' %>
            <% else %>
              <%= link_to 'My profile', user_path(current_user), class: "dropdown-item" %>
            <% end %>
            <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Find holistic services', services_path, class: "nav-link btn btn-flat", style: "color: white;" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
