<div class="navbar navbar-expand-sm navbar-light navbar-holistic fixed-top">
  <div class="d-flex align-items-center">
    <a class="navbar-brand" href="<%= root_url %>"><%= image_tag('logo', alt: 'The Holistic Panda') %></a>
    <div id="top-filter-desktop"></div>
  </div>
  <button class="navbar-toggler" type="button" id="open-side">&#9776;</button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item btn-group">
          <a class="dropdown-toggle nav-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell"></i>
            <span class="unread-count" id="unread-count">
              <%= @notifications.length if @notifications.present? %>
            </span>
          </a>
          <div class="dropdown-menu notification-drop" aria-labelledby="dropdownMenu1">
            <% if @notifications.present? %>
              <% @notifications.first(10).each do |notification| %>
                <%= link_to notification.actor.full_name + " " + notification.action, notification_path(notification), method: :patch || :put, class: 'dropdown-item' %>
              <% end %>
            <% end %>
            <%= link_to 'See all', user_notifications_path, class: 'dropdown-item text-center all' %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Welcome, <%= current_user.first_name %> &#9662;</a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <% if current_user.conversations.present? %>
              <%= link_to 'Messages', conversation_path(current_user.last_conversation), class: 'dropdown-item' %>
            <% end %>
            <% if current_user.practitioner && current_user.practitioner.checked? %>
              <%= link_to 'Sessions as client', user_sessions_path, class: 'dropdown-item' %>
            <% else %>
              <%= link_to 'Sessions', user_sessions_path, class: 'dropdown-item' %>
            <% end %>
            <%= link_to 'Favourites', user_favorites_path, class: 'dropdown-item' %>
            <%= link_to 'Refer a friend', '', data: { toggle: "modal", target: "#referralModal" }, class: 'dropdown-item' %>
            <hr>
            <% if current_user.practitioner %>
              <%= link_to 'Profile', practitioner_profile_path, class: 'dropdown-item' %>
              <% if current_user.practitioner.checked? %>
                <%= link_to 'Sessions as practitioner', practitioner_sessions_path, class: 'dropdown-item' %>
                <%= link_to 'Services', practitioner_services_path, class: 'dropdown-item' %>
                <%= link_to 'View my page', practitioner_path(current_user.practitioner), class: 'dropdown-item' %>
                <% if current_user.practitioner.stripe_account_id %>
                  <%= simple_form_for([current_user.practitioner], html: { id: :payouts_form }) do |f| %>
                    <%= f.button :submit, "Payouts dashboard", class: 'dropdown-item' %>
                  <% end %>
                <% end %>
              <% end %>
            <% else %>
              <%= link_to 'Profile', user_path(current_user), class: 'dropdown-item' %>
            <% end %>
            <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
  <div id="top-filter-mobile"></div>
</div>
<div id="side-nav" class="side-nav">
  <a class="close-side" id="close-side">&times;</a>
  <a href="<%= root_url %>"><%= image_tag('logo', alt: 'The Holistic Panda') %></a>
  <% if user_signed_in? %>
    <div class="nav-item">
      <div class="d-flex align-items-center">
        <%= link_to 'Notifications', user_notifications_path, class: 'nav-link' %>
        <span class="unread-count" id="unread-count">
          <%= @notifications.length if @notifications.present? %>
        </span>
      </div>
    </div>
    <% if current_user.conversations.present? %>
      <div class="nav-item">
        <%= link_to 'Messages', conversation_path(current_user.last_conversation), class: "nav-link" %>
      </div>
    <% end %>
    <% if current_user.practitioner && current_user.practitioner.checked? %>
      <div class="nav-item">
        <%= link_to 'Sessions as client', user_sessions_path, class: 'nav-link' %>
      </div>
    <% else %>
      <div class="nav-item">
        <%= link_to 'Sessions', user_sessions_path, class: 'nav-link' %>
      </div>
    <% end %>
    <div class="nav-item">
      <%= link_to 'Favourites', user_favorites_path, class: 'nav-link' %>
    </div>
    <div class="nav-item">
      <%= link_to 'Refer a friend', '', data: { toggle: "modal", target: "#referralModal" }, class: 'nav-link' %>
    </div>
    <% if current_user.practitioner %>
      <div class="nav-item">
        <%= link_to 'Profile', practitioner_profile_path, class: 'nav-link' %>
      </div>
      <% if current_user.practitioner.checked? %>
        <div class="nav-item">
          <%= link_to 'Sessions as practitioner', practitioner_sessions_path, class: 'nav-link' %>
        </div>
        <div class="nav-item">
          <%= link_to 'Services', practitioner_services_path, class: 'nav-link' %>
        </div>
        <div class="nav-item">
          <%= link_to 'View my page', practitioner_path(current_user.practitioner), class: 'nav-link' %>
        </div>
        <% if current_user.practitioner.stripe_account_id %>
          <div class="nav-item">
            <%= simple_form_for([current_user.practitioner], html: { id: :payouts_form_mobile }) do |f| %>
              <%= f.button :submit, "Payouts dashboard", class: 'nav-link' %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <div class="nav-item">
        <%= link_to 'Profile', user_path(current_user), class: 'nav-link' %>
      </div>
    <% end %>
    <div class="nav-item">
      <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
    </div>
  <% else %>
    <div class="nav-item">
      <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
    </div>
    <div class="nav-item">
      <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
    </div>
  <% end %>
</div>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const displayWindowSize = () => {
      w = document.documentElement.clientWidth;
      return w;
    }
    const resetButtons = () => {
      const healthGoalSelectBoxBtn = document.getElementById('health-goal-pop');
      const healthGoalSelectBox = document.getElementById('health-goal-select-box');
      healthGoalSelectBoxBtn.addEventListener('click', () => {
        healthGoalSelectBoxBtn.classList.toggle('btn-opened');
        healthGoalSelectBox.classList.toggle('opened');
      });
      document.addEventListener('click', function(event) {
        const healthGoalBoxClick = healthGoalSelectBox.contains(event.target);
        const healthGoalBtnClick = healthGoalSelectBoxBtn.contains(event.target);
        if (healthGoalSelectBox.classList.contains('opened') && (!healthGoalBoxClick) && (!healthGoalBtnClick)) {
          healthGoalSelectBoxBtn.classList.remove('btn-opened');
          healthGoalSelectBox.classList.remove('opened');
        }
      });
      $(".health-goal-choice").click(function(){
        if ($(this).hasClass("active")) {
          $(this).removeClass("active");
          document.getElementById('health-goal-pop').innerHTML = 'Health Goals (' + $('.health-goal-choice.active').length + ')&nbsp;&nbsp;<i class="fas fa-chevron-down"></i>'
          if ( $('.health-goal-choice.active').length === 0 ) {
            document.getElementById('health-goal-pop').innerHTML = 'Choose Health Goals&nbsp;&nbsp;<i class="fas fa-chevron-down"></i>'
          }
        } else {
          $(this).addClass("active");
          document.getElementById('health-goal-pop').innerHTML = 'Health Goals (' + $('.health-goal-choice.active').length + ')&nbsp;&nbsp;<i class="fas fa-chevron-down"></i>'
        }
      });
    }
    const topFilterDesktop = document.getElementById('top-filter-desktop');
    const topFilterMobile = document.getElementById('top-filter-mobile');
    if (displayWindowSize() >= 576) {
      topFilterMobile.innerHTML = '';
      topFilterDesktop.innerHTML = `<%= render 'shared/filter_form' %>`;
      resetButtons();
    } else {
      topFilterDesktop.innerHTML = '';
      topFilterMobile.innerHTML = `<%= render 'shared/filter_form' %>`;
      resetButtons();
    }
    window.addEventListener("resize", (e) => {
      if (displayWindowSize() >= 576) {
        topFilterMobile.innerHTML = '';
        topFilterDesktop.innerHTML = `<%= render 'shared/filter_form' %>`;
        resetButtons();
      } else {
        topFilterDesktop.innerHTML = '';
        topFilterMobile.innerHTML = `<%= render 'shared/filter_form' %>`;
        resetButtons();
      }
    });
  })
</script>
