<div class="container specialty-page">
  <div class="specialty-img">
    <%= image_tag("specialty/#{@specialty.id}") %>
  </div>
  <h2 class="text-center"><%= @specialty.name %></h2>
  <p class="specialty-description"><%= @specialty.description.gsub(/\n/, '<br/>').html_safe %></p>
  <div class="service-lists">
    <% @specialty_services.each do |service| %>
      <% if user_signed_in? %>
        <div class="service-list-item" data-matching="<%= service.matching_counts(current_user.health_goals.ids) %>">
      <% else %>
        <div class="service-list-item" data-matching="">
      <% end %>
        <div class="service-list-item-title">
          <div class="service-type">
            <p><%= service.service_type.capitalize %></p>
          </div>
          <h3><%= link_to service.name, service_path(service) %></h3>
          <div class="fav-btn" id="fav-btn-<%= service.id %>">
            <% if user_signed_in? %>
              <%= render 'favorite_services/service_btn', service: service %>
            <% end %>
          </div>
        </div>
        <div class="service-list-item-body details-desktop">
          <div class="service-left-column">
            <div class="service-list-item-practitioner">
              <div class="profile-photo">
                <a href="/practitioners/<%= service.practitioner.user.full_name.delete(' ') %>_<%= service.practitioner.id %>">
                  <% if service.practitioner.user.photo.attached? %>
                    <img src="<%= cdn_for(service.practitioner.user.cropped_image) %>" class="service-list-item-user avatar-bordered mb-3" alt="">
                  <% else %>
                    <%= image_tag("profile", class: "service-list-item-user avatar-bordered mb-3") %>
                  <% end %>
                </a>
                <h6><%= link_to service.practitioner.user.full_name, practitioner_path(service.practitioner) %></h6>
                <p><%= service.practitioner.title %></p>
                <p><%= service.practitioner.location %></p>
              </div>
            </div>
          </div>
          <div class="service-middle-column">
            <div class="service-list-item-infos">
              <p <%= 'class=short' if service.description.length >= 150 %> ><%= service.description.gsub(/\n/, '<br/>').html_safe %></p>
              <% if service.description.length >= 150 %>
                <%= link_to 'Read more', service_path(service) %>
              <% end %>
            </div>
            <div class="service-list-item-goals mt-2">
              <% if user_signed_in? %>
                <% service.health_goals.order(:name).each do |goal| %>
                  <% if current_user.health_goals.include?(goal) %>
                    <div class="service-goal match"><%= goal.name %></div>
                  <% end %>
                <% end %>
                <% service.health_goals.order(:name).each do |goal| %>
                  <% unless current_user.health_goals.include?(goal) %>
                    <div class="service-goal"><%= goal.name %></div>
                  <% end %>
                <% end %>
              <% else %>
                <% service.health_goals.order(:name).each do |goal| %>
                  <div class="service-goal"><%= goal.name %></div>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="service-right-column">
            <div class="d-flex justify-content-between">
              <div style="flex: 0 0 45%;">
                <label>PRICE</label>
                <p>CA$ <%= service.price.to_f.round(2) %></p>
              </div>
              <div style="flex: 0 0 45%;">
                <label>DURATION</label>
                <p><%= service.duration %> mins</p>
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <div style="flex: 0 0 45%;">
                <label>SPECIALITY</label>
                <p><%= service.specialty.name %></p>
              </div>
              <div style="flex: 0 0 45%;">
                <label>Rating</label>
                <% if service.reviews.count > 0 %>
                  <p><i class="fas fa-star mr-2 pink-icon"></i><%= service.rating_avg %> (<%= service.reviews.count %>)</p>
                <% end %>
              </div>
            </div>
            <% if service.practitioner.user != current_user %>
              <div class="text-center mt-3">
                <a class="btn btn-flat" href="/services/<%= service.id %>">See availability</a>
              </div>
            <% end %>
          </div>
        </div>
        <div class="service-list-item-body details-mobile">
          <div class="service-list-item-goals">
            <% if user_signed_in? %>
              <% service.health_goals.order(:name).each do |goal| %>
                <% if current_user.health_goals.include?(goal) %>
                  <div class="service-goal match"><%= goal.name %></div>
                <% end %>
              <% end %>
              <% service.health_goals.order(:name).each do |goal| %>
                <% unless current_user.health_goals.include?(goal) %>
                  <div class="service-goal"><%= goal.name %></div>
                <% end %>
              <% end %>
            <% else %>
              <% service.health_goals.order(:name).each do |goal| %>
                <div class="service-goal"><%= goal.name %></div>
              <% end %>
            <% end %>
          </div>
          <div class="service-list-item-practitioner">
            <div class="profile-photo">
              <a href="/practitioners/<%= service.practitioner.user.full_name.delete(' ') %>_<%= service.practitioner.id %>">
                <% if service.practitioner.user.photo.attached? %>
                  <img src="<%= cdn_for(service.practitioner.user.cropped_image) %>" class="service-list-item-user avatar-bordered mb-3" alt="">
                <% else %>
                  <%= image_tag("profile", class: "service-list-item-user avatar-bordered mb-3") %>
                <% end %>
              </a>
              <h6><%= link_to service.practitioner.user.full_name, practitioner_path(service.practitioner) %></h6>
            </div>
          </div>
          <div class="service-list-item-infos">
            <p <%= 'class=short' if service.description.length >= 150 %> ><%= service.description.gsub(/\n/, '<br/>').html_safe %></p>
            <% if service.description.length >= 150 %>
              <%= link_to 'Read more', service_path(service) %>
            <% end %>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <div style="flex: 0 0 45%;">
              <label>PRICE</label>
              <p>CA$ <%= service.price.to_f.round(2) %></p>
            </div>
            <div style="flex: 0 0 45%;">
              <label>DURATION</label>
              <p><%= service.duration %> mins</p>
            </div>
          </div>
          <% if service.practitioner.user != current_user %>
            <div class="text-center mt-3">
              <a class="btn btn-flat" href="/services/<%= service.id %>">See availability</a>
            </div>
          <% end %>
        </div>
      </div>
      <script>
        <% if user_signed_in? %>
          window.addEventListener('DOMContentLoaded', (event) => {
            var $wrapper = $('.service-lists');
            $wrapper.find('.service-list-item').sort(function(a, b) {
              return +b.dataset.matching - +a.dataset.matching;
            })
            .appendTo($wrapper);
          });
        <% end %>
      </script>
    <% end %>
  </div>
</div>
