<div class="form-group">
  <input type="hidden" name="user[health_goal_ids][]" value="">
  <div class="health-goal-choices" style="margin: 0">
    <% health_goals.sort_by(&:name).each do |goal| %>
      <% if user.health_goals.exclude?(goal) %>
        <input type="checkbox" class="hidden" value="<%= goal.id %>" name="user[health_goal_ids][]" id="user_health_goal_ids_<%= goal.id %>">
        <label class="health-goal-choice" for="user_health_goal_ids_<%= goal.id %>">
          <%= goal.name %>
        </label>
      <% end %>
    <% end %>
   </div>
</div>
<button type="submit"><i class='fas fa-check'></i></button>
<button id='healthgoals-cancel'><%= link_to '', '', class: 'fas fa-times' %></button>
