<div class="specialty-banner">
  <h2>Explore our specialities</h2>
</div>
<div class="specialty-icons">
  <div class="swiper-container" id="explore-specialties-desktop">
    <div class="swiper-wrapper">
      <% Specialty.all.order(:id).each do |specialty| %>
        <div class="swiper-slide">
          <a href="specialties/<%= specialty.id %>">
            <%= image_tag("specialty/#{specialty.id}.png") %>
            <p><%= specialty.name %></p>
          </a>
        </div>
      <% end %>
    </div>
  </div>
  <div class="swiper-container" id="explore-specialties-mobile">
    <div class="swiper-wrapper">
      <% Specialty.all.order(:id).each do |specialty| %>
        <div class="swiper-slide">
          <a href="specialties/<%= specialty.id %>">
            <%= image_tag("specialty/#{specialty.id}.png") %>
            <p class="mb-1"><%= specialty.name %></p>
          </a>
        </div>
      <% end %>
    </div>
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
