<div class="specialty-banner">
  <h2>Explore Our Specialities</h2>
</div>
<div class="specialty-icons">
  <div class="swiper-container" id="explore-specialties-desktop">
    <div class="swiper-wrapper">
      <% Specialty.all.each do |specialty| %>
        <div class="swiper-slide">
          <a href="specialties/<%= specialty.id %>">
            <%= image_tag("specialty/#{specialty.id}.png") %>
            <p><%= specialty.name %></p>
          </a>
        </div>
      <% end %>
    </div>
    <div style="font-size: 0.75rem; margin-top: -0.5rem; text-align: right; opacity: .7; font-style: italic;">Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
  </div>
  <div class="swiper-container" id="explore-specialties-mobile">
    <div class="swiper-wrapper">
      <% Specialty.all.each do |specialty| %>
        <div class="swiper-slide">
          <a href="specialties/<%= specialty.id %>">
            <%= image_tag("specialty/#{specialty.id}.png") %>
            <p><%= specialty.name %></p>
          </a>
        </div>
      <% end %>
    </div>
    <div style="font-size: 0.75rem; margin-top: -0.5rem; text-align: right; opacity: .7; font-style: italic;">Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
