<div class="top-banner1">
  <div class="offer-mobile w-100">
    <a href="/users/sign_up">Get 10% off your first booking!</a>
  </div>
  <div class="top-banner-text">
    <h1>The stigma for mental wellness stops here</h1>
    <h4>We are the first Asian-conscious wellness platform that<br>matches you with the right wellness services in just a few clicks</h4>
    <div style="position: relative;">
      <div class="top-banner-buttons-desktop">
        <a class="btn btn-ghost" id="select-goal">Select a health goal</a>
        <a class="btn btn-flat" id="find-service">Find services</a>
      </div>
      <div class="top-banner-buttons-mobile">
        <div>
          <a class="btn btn-ghost" id="select-goal-mobile">Select a health goal</a>
        </div>
        <div>
          <a class="btn btn-flat mt-0" id="find-service-mobile">Find services</a>
        </div>
      </div>
      <div class="banner-health-goal-select pt-2" id="goal-list" style="display: none;">
        <% @filtered_services_goals.sort_by(&:name).each do |goal| %>
          <div class="pt-2 pb-0 pl-2">
            <a class="mb-0" href="/services?utf8=%E2%9C%93&search%5Bhealth_goal%5D%5B%5D=<%= goal.id %>&search%5Bhealth_goal%5D%5B%5D=&commit=Apply"><%= goal.name %></a>
          </div>
        <% end %>
      </div>
    </div>
    <div class="press-desktop">
      <p style="color: grey;">Featured in</p>
      <div class="press-links">
        <%= link_to image_tag('bc.png'), 'https://www.bcliving.ca/The-Ultimate-2021-Virtual-Gift-Guide', class: 'press-link', target: '_blank' %>
        <%= link_to image_tag('BIV.png'), 'https://boredinvancouver.com/finding-culturally-competent-health-care/', class: 'press-link', target: '_blank' %>
        <%= link_to image_tag('CityNews.svg'), 'https://vancouver.citynews.ca/2021/09/10/vancouver-wellness-online-platform/', class: 'press-link', target: '_blank' %>
      </div>
    </div>
  </div>
  <div class="top-banner-image"></div>
  <div class="press-mobile container py-3 text-center">
    <p style="color: grey;">Featured in</p>
    <div class="press-links">
      <%= link_to image_tag('bc.png'), 'https://www.bcliving.ca/The-Ultimate-2021-Virtual-Gift-Guide', class: 'press-link', target: '_blank' %>
      <%= link_to image_tag('BIV.png'), 'https://boredinvancouver.com/finding-culturally-competent-health-care/', class: 'press-link', target: '_blank' %>
      <%= link_to image_tag('CityNews.svg'), 'https://vancouver.citynews.ca/2021/09/10/vancouver-wellness-online-platform/', class: 'press-link', target: '_blank' %>
    </div>
  </div>
</div>
<script>
  document.getElementById('select-goal').addEventListener('click', (e) => {
    if (document.getElementById('goal-list').style.display == "none") {
      document.getElementById('goal-list').style.display = "grid";
    } else {
      document.getElementById('goal-list').style.display = "none";
    }
  });
  document.getElementById('find-service').addEventListener('click', (e) => {
    window.location.href = '<%= services_path %>';
  });
  document.getElementById('select-goal-mobile').addEventListener('click', (e) => {
    if (document.getElementById('goal-list').style.display == "none") {
      document.getElementById('goal-list').style.display = "grid";
    } else {
      document.getElementById('goal-list').style.display = "none";
    }
  });
  document.getElementById('find-service-mobile').addEventListener('click', (e) => {
    window.location.href = '<%= services_path %>';
  });
</script>
