<% content_for :home_navbar do %>
  <%= render 'shared/home_navbar' %>
<% end %>
<div class="page-img">
  <%= image_tag('aboutus.png') %>
</div>
<div class="aboutus-container">
  <div class="page-title">
    <h1>About us</h1>
  </div>
  <div>
    <p>The Holistic Panda was founded in 2020 when the world was smacked in the face by an unprecedented global pandemic that completely turned our lives upside down. During this time, the importance of all aspects of health - physical, mental, emotional - became undeniable. The founders came together to create an online wellness platform that would make it easy and seamless to find a diverse range of alternative healing therapies and wellness services.</p>
    <p>Hence The Holistic Panda was born. Our wellness platform allows users to explore and book different holistic treatments and services provided by trusted practitioners based on their health goals.</p>
    <br>
    <h3>Serving the Asian Community</h3>
    <p>As a company founded by a team of Asians, we aim to be the first Asian-conscious wellness platform. It is our North Star to help the Asian community embrace and normalize the practice of self-care. While the stigmatization around mental health and wellness is a shared human experience and prevalent across all cultural groups, the idea of getting external help, especially for mental health issues, conflicts with many of our traditional cultural norms and values. In the United States, Asian Americans have been three times less likely to seek treatment or help than other racial groups! There is also an alarming lack of wellness resources that cater specifically to Asians.</p>
    <p>We want to break the ‘model minority’ myth and change the cultural norms that Asians are, or need to be, fully integrated, industrious, and well-adjusted. We want to support the rise in Asian mental health awareness and bolster this group , whether that’s helping them access more culturally competent providers, discovering new wellness therapies that can help them improve their health - both mental and physical, or providing them with a safe space to share their stories. We’re here for you, our Asian brothers and sisters.</p>
    <div class="middle-logo">
      <%= image_tag('logo.png') %>
    </div>
    <h3>How did you get your name?</h3>
    <p>Panda is a powerful symbol of species conservation and has long been an emblem of diplomatic goodwill. To us, it represents a symbol of diversity due to its Eastern origin and its bi-colored body markings - it’s White, it’s Black, it’s Asian. <strong>We believe diversity is essential in healthcare and advocate for diverse representation</strong> and cross-cultural understanding of holistic healing on our platform.</p>
  </div>
  <div class="text-center my-5">
    <h2>Meet our team</h2>
  </div>
  <div class="our-team">
    <div class="team-member">
      <%= image_tag("janet", class: 'avatar-full') %>
      <h3><a href="https://www.linkedin.com/in/janetlam1/">Janet Lam</a></h3>
      <p>CEO / Co-Founder</p>
    </div>
    <div class="team-member">
      <%= image_tag("sangsoo", class: 'avatar-full') %>
      <h3><a href="https://www.linkedin.com/in/sangsoora/">Sangsoo Ra</a></h3>
      <p>CTO / Co-Founder</p>
    </div>
  </div>
</div>
