<% content_for :home_navbar do %>
  <%= render 'shared/home_navbar' %>
<% end %>
<div class="about-banner">
  <h1>About Us</h1>
</div>
<div class="aboutus-container">
  <div class="logo">
    <%= image_tag("logo.png") %>
  </div>
  <div>
    <p>The Holistic Panda was founded in 2020 amid a global health pandemic. Three founders came together with a shared mission to simplify and quicken the process of finding a diverse range of holistic therapies provided by trusted practitioners. We understand health needs are unique, can be culturally diverse, and will likely evolve throughout the different stages of one’s life. Your journey to accessing alternative healthcare options should be uncomplicated and seamless.</p>
    <p>The Holistic Panda enables our users to easily search for one-on-one sessions with trusted wellness practitioners based on their health goals, language preferences, and locations. Found a session you like? Submit a booking request and await your confirmation, and on you go. Not sure of what you’re looking for? Check out our articles and user reviews to see which service and practitioner would fit your needs. Want to learn more about a service? Use our chat box to message the practitioner. It’s that easy.</p>
    <h4>What exactly is holistic health?</h4>
    <p>The word “holistic” is characterized by the treatment of the whole person, taking into account mental and social factors, rather than just the symptoms of a disease (Oxford Dictionary). Holistic therapies aim to fix the root causes of the condition and not only alleviate the symptoms. They can be complementary and alternative healing practices that overlap with modern-day western medicine such as acupuncture, homeopathy, naturopathy, massage therapy, and Reiki. They can also be counselling, life coaching, and fitness sessions that aim to examine an individual and his/her well-being as a whole - mentally, physically, emotionally, financially, creatively - and develop a complete, holistic resolution that tackles all of these problematic areas.</p>
    <h4>How did you get your name?</h4>
    <p>Panda is a powerful symbol of species conservation and has long been an emblem of diplomatic goodwill. To us, it represents a symbol of diversity due to its Eastern origin and bi-coloured fur coat - it’s white, it’s black, it’s Asian. We aim to promote a diverse offering of both Eastern and Western holistic healing therapies on our platform and promote cross-cultural understanding of different healing modalities.</p>
  </div>

  <h2>Meet Our Team</h2>
  <div class="our-team">
    <div class="team-member">
      <%= image_tag("Sangsoo.JPG", class: 'avatar-full') %>
      <h3><a href="https://www.linkedin.com/in/diana-choi-1b5b6849/">Diana Choi</a></h3>
    </div>
    <div class="team-member">
      <%= image_tag("Sangsoo.JPG", class: 'avatar-full') %>
      <h3><a href="https://www.linkedin.com/in/janetlam1/">Janet Lam</a></h3>
    </div>
    <div class="team-member">
      <%= image_tag("Sangsoo.JPG", class: 'avatar-full') %>
      <h3><a href="https://www.linkedin.com/in/sangsoora/">Sangsoo Ra</a></h3>
    </div>
  </div>
</div>
