<section id='top-banner'>
  <%= render 'apply_banner' %>
</section>
<div class="container text-center">
  <div class="work">
    <h2>How It Works</h2>
    <div class="work-steps">
      <div class="work-step">
        <%= image_tag('practitioner/account') %>
        <h3>CREATE AN ACCOUNT & GET VERIFIED</h3>
        <p>Get your background check within 24 hours</p>
      </div>
      <div class="work-step">
        <%= image_tag('practitioner/profile') %>
        <h3>COMPLETE PROFILE & BIO PAGE</h3>
        <p>Create your bio page, including services, your schedule and rates</p>
      </div>
      <div class="work-step">
        <%= image_tag('practitioner/booking') %>
        <h3>GET BOOKING & CONFIRM</h3>
        <p>Receive booking request with 3 proposed times. Confirmed the booking, and add link for virtual sessions</p>
      </div>
      <div class="work-step">
        <%= image_tag('practitioner/paid') %>
        <h3>GET PAID AND REVIEWED</h3>
        <p>Receive payout and user review upon completion of session</p>
      </div>
    </div>
  </div>
  <div class="help">
    <h2>How We Help</h2>
    <div class="help-cards">
      <div class="help-card">
        <%= image_tag('practitioner/lead') %>
        <h3>EXPOSURE & NEW LEAD GENERATION</h3>
        <p>Get discovered and booked by new customers globally</p>
      </div>
      <div class="help-card">
        <%= image_tag('practitioner/payment') %>
        <h3>BOOKING & PAYMENT SUPPORT</h3>
        <p>Manage your bookings using our scheduling service and let us handle payment</p>
      </div>
      <div class="help-card">
        <%= image_tag('practitioner/analytics') %>
        <h3>CUSTOMER INTELLIGENCE & INSIGHTS</h3>
        <p>View performance analytics include total revenue, and customer reviews and ratings</p>
      </div>
      <div class="help-card">
        <%= image_tag('practitioner/community') %>
        <h3>JOIN A COMMUNITY OF PRACTITIONERS</h3>
        <p>Network with other practitioners to exchange ideas, and get/give client referrals</p>
      </div>
      <div class="help-card">
        <%= image_tag('practitioner/marketing') %>
        <h3>MARKETING & CONTENT CREATION</h3>
        <p>Collaborate on marketing initiatives through virtual events and articles</p>
      </div>
    </div>
  </div>
  <div class="register">
    <h2>How To Register</h2>
    <div class="register-steps">
      <div class="register-step">
        <%= image_tag('practitioner/application') %>
        <h3>Application Form</h3>
        <p>Fill in application form with basic info</p>
      </div>
      <div class="register-step">
        <%= image_tag('practitioner/background') %>
        <h3>Preliminary Screening</h3>
        <p>Get background check to gain confidence from users</p>
      </div>
      <div class="register-step">
        <%= image_tag('practitioner/profile') %>
        <h3>Create Profile</h3>
        <p>Complete your profile to engage with new users</p>
      </div>
    </div>
  </div>
</div>
