<% content_for :home_navbar do %>
  <%= render 'shared/home_navbar' %>
<% end %>
<section id="top-banner">
  <%= render 'top_banner' %>
</section>
<section id="what-panda">
  <div class='d-flex justify-content-center my-4 text-center'>
    <div class="container">
      <%= image_tag("problem.png", class: 'mb-3', style: 'width:15%') %>
      <h2>What is The Holistic Panda?</h2>
      <br>
      <div id="panda-description">
        <p>We are a booking platform for wellness services. This includes traditional alternative medicine, life and health coaching, and mind and body healing work. We know firsthand how difficult it can be to find the right wellness services and providers, so we have built a platform to help you navigate your discovery journey in finding the support you need to achieve your health goals!</p>
        <p>As a company founded and led by Asians, we also sought to help the Asian community embrace and normalize the practice of self-care and find culturally competent providers.</p>
      </div>
    </div>
  </div>
</section>
<section id='specialty-banner' class='text-center'>
  <%= render 'specialty_banner' %>
</section>
<section id='freecall' class='text-center' style="background-color: white;">
  <div class="container p-5">
    <h2 class="mb-5" style="line-height: 2;">Try a 15-minute discovery call with<br>any of our practitioners</h2>
    <p style="line-height: 2;font-size:1.25rem;">We know commitment is not easy these days,<br>so enjoy a <strong>free 15 minute discovery call</strong> with any one of our practitioners. It’s on us!</p>
  </div>
</section>
<section id="featured-practitioners">
  <div class="d-flex justify-content-center my-4 text-center">
    <div class="container" id="featured-practitioners-desktop">
      <div class="cards-featured">
        <% @featured_practitioners.shuffle.first(4).each do |practitioner| %>
          <div class="card-featured">
            <%= link_to practitioner_path(practitioner) do %>
              <img src="<%= cdn_for(practitioner.user.cropped_image) %>" alt="">
            <% end %>
            <h2><%= link_to practitioner.user.full_name, practitioner_path(practitioner) %></h2>
            <div class="card-featured-infos">
              <p class="featured-title"><%= practitioner.title %></p>
              <div class="featured-spcialties">
                <% if practitioner.specialties.count > 3 %>
                  <% practitioner.specialties.shuffle.first(2).each do |specialty| %>
                    <div class="featured-practitioners-specialty"><%= link_to specialty.name, specialty_path(specialty) %></div>
                  <% end %>
                  <p><%= link_to 'and more', practitioner_path(practitioner) %></p>
                <% elsif practitioner.specialties.count <= 3 %>
                  <% practitioner.specialties.shuffle.each do |specialty| %>
                    <div class="featured-practitioners-specialty"><%= link_to specialty.name, specialty_path(specialty) %></div>
                  <% end %>
                <% end %>
              </div>
              <% if !user_signed_in? || (user_signed_in? && !practitioner.had_free_session?(current_user)) %>
                <%#= link_to 'Book Free 15 Min Call', practitioner_discovery_call_path(practitioner), class: 'btn btn-flat my-2' %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="container" id="featured-practitioners-mobile">
      <div class="swiper-container" id="practitioners-swiper">
        <div class="swiper-wrapper">
          <% @featured_practitioners.shuffle.first(4).each do |practitioner| %>
          <div class="swiper-slide">
            <div class="card-featured">
              <%= link_to practitioner_path(practitioner) do %>
                <img src="<%= cdn_for(practitioner.user.cropped_image) %>" alt="">
              <% end %>
              <h2><%= link_to practitioner.user.full_name, practitioner_path(practitioner) %></h2>
              <div class="card-featured-infos">
                <p class="featured-title"><%= practitioner.title %></p>
                <div class="featured-spcialties">
                  <% if practitioner.specialties.count > 3 %>
                    <% practitioner.specialties.shuffle.first(2).each do |specialty| %>
                      <div class="featured-practitioners-specialty"><%= link_to specialty.name, specialty_path(specialty) %></div>
                    <% end %>
                    <p><%= link_to 'and more', practitioner_path(practitioner) %></p>
                  <% elsif practitioner.specialties.count <= 3 %>
                    <% practitioner.specialties.shuffle.each do |specialty| %>
                      <div class="featured-practitioners-specialty"><%= link_to specialty.name, specialty_path(specialty) %></div>
                    <% end %>
                  <% end %>
                </div>
                <% if !user_signed_in? || (user_signed_in? && !practitioner.had_free_session?(current_user)) %>
                  <%#= link_to 'Book Free 15 Min Call', practitioner_discovery_call_path(practitioner), class: 'btn btn-flat my-2' %>
                <% end %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="why-panda">
  <div class='d-flex justify-content-center my-4 text-center'>
    <div class="container">
      <h2>Why The Holistic Panda?</h2>
      <div class="cards-why">
        <div class="card-why">
          <%= image_tag("time.png") %>
          <h4>SAVE TIME</h4>
          <ul>
            <li><p>Easily search through our diverse range of holistic services from over 20 specialities</p></li>
            <li><p>Securely book and pay for your session in just a few clicks</p></li>
            <li><p>Access wellness services anytime, anywhere</p></li>
          </ul>
        </div>
        <div class="card-why">
          <%= image_tag("mind.png") %>
          <h4>PEACE OF MIND</h4>
          <ul>
            <li><p>Enjoy free signup & zero booking fee</p>
            <li><p>Receive free 15 minute discovery call with practitioners to identify the fit for your needs</p></li>
            <li><p>Book with trusted practitioners that have received background checks</p></li>
            </li>
          </ul>
        </div>
        <div class="card-why">
          <%= image_tag("connected.png") %>
          <h4>STAY CONNECTED</h4>
          <ul>
            <li><p>Learn about holistic wellness through our content and articles</p></li>
            <li><p>Join events with experts to optimise health and wellness, including mental, emotional, and spiritual wellbeing</p></li>
            <li><p>Be a part of a community of like-minded people</p></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="how-works">
  <div class='d-flex justify-content-center my-4'>
    <div class="container">
      <div class="text-center">
        <h2>How does it work?</h2>
      </div>
      <div class="cards-works">
        <div class="card-works">
          <div class="work-img">
            <%= image_tag("works1.gif") %>
          </div>
          <div class="work-description">
            <div>
              <h3>Choose a holistic service</h3>
              <p><strong>Select</strong> your health goals and filter results.</p>
              <p><strong>Explore</strong> services and practitioners’ pages.</p>
              <p><strong>Pick</strong> the right service and provider for you.</p>
            </div>
          </div>
        </div>
        <div class="card-works">
          <div class="work-img mobile-img">
            <%= image_tag("works2.gif") %>
          </div>
          <div class="work-description">
            <div>
              <h3>Book your session</h3>
              <p><strong>See</strong> practitioner’s availability.</p>
              <p><strong>Submit</strong> 3 time requests that suit you.</p>
              <p><strong>Receive</strong> session confirmation from practitioner.</p>
            </div>
          </div>
          <div class="work-img desktop-img">
            <%= image_tag("works2.gif") %>
          </div>
        </div>
        <div class="card-works">
          <div class="work-img">
            <%= image_tag("works4.png") %>
          </div>
          <div class="work-description">
            <div>
              <h3>Start your journey</h3>
              <p><strong>Connect</strong> with your selected practitioner.</p>
              <p><strong>Conduct</strong> your session virtually or in-person.</p>
              <p><strong>Start</strong> your wellness journey here!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="newsletter-section">
  <div class='d-flex justify-content-center my-4 text-center'>
    <div class="container">
      <% if !(user_signed_in? && current_user.newsletter) %>
        <h2>Sign up to our newsletter</h2>
        <p>We respect your privacy.</p>
        <!-- Begin Mailchimp Signup Form -->
        <div id="mc_embed_signup">
          <form action="https://theholisticpanda.us7.list-manage.com/subscribe/post?u=5a5d4ba10d9985a895c9fa80c&amp;id=882a915325" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <div class="mc-field-group">
                <input class="form-control string email required" placeholder="someone@example.com" type="email" name="EMAIL" id="mce-EMAIL">
              </div>
                <p><strong>Are you a practitioner or wellness seeker? </strong></p>
                <ul>
                  <li><input type="radio" value="1" name="group[80075]" id="mce-group[80075]-80075-0"><label for="mce-group[80075]-80075-0">Practitioner</label></li>
                  <li><input type="radio" value="2" name="group[80075]" id="mce-group[80075]-80075-1"><label for="mce-group[80075]-80075-1">Wellness Seeker</label></li>
                  <li><input type="radio" value="4" name="group[80075]" id="mce-group[80075]-80075-2"><label for="mce-group[80075]-80075-2">Both</label></li>
                </ul>
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5a5d4ba10d9985a895c9fa80c_882a915325" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-flat"></div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>
            </div>
          </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      <% end %>
    </div>
  </div>
</section>
