<% content_for :home_navbar do %>
  <%= render 'shared/home_navbar' %>
<% end %>
<section id="top-banner">
  <%= render 'top_banner' %>
</section>
<section id="featured-practitioners">
  <div class="d-flex justify-content-center my-4 text-center">
    <div class="container" id="featured-practitioners-desktop">
      <h2>Our Featured Practitioners</h2>
      <div class="cards-featured">
        <% @featured_practitioners.shuffle.first(4).each do |practitioner| %>
          <div class="card-featured">
            <a href="/practitioners/<%= practitioner.id %>">
              <img src="<%= rails_plublic_blob(practitioner.user.photo) %>" alt="">
            </a>
            <a href="/practitioners/<%= practitioner.id %>">
              <h2><%= practitioner.user.full_name %></h2>
            </a>
            <div class="card-featured-infos">
              <p class="featured-title"><%= practitioner.title %></p>
              <div class="featured-spcialties">
                <% if practitioner.specialties.count > 3 %>
                  <% practitioner.specialties.shuffle.first(2).each do |specialty| %>
                    <div class="featured-practitioners-specialty"><%= link_to specialty.name, specialty_path(specialty) %></div>
                  <% end %>
                  <a href="/practitioners/<%= practitioner.id %>"><p>and more</p></a>
                <% elsif practitioner.specialties.count <= 3 %>
                  <% practitioner.specialties.shuffle.each do |specialty| %>
                    <div class="featured-practitioners-specialty"><%= link_to specialty.name, specialty_path(specialty) %></div>
                  <% end %>
                <% end %>
              </div>
              <% if !user_signed_in? || (user_signed_in? && !practitioner.had_free_session?(current_user)) %>
                <%= link_to 'Book Free 15 Min Call', practitioner_discovery_call_path(practitioner), class: 'btn btn-flat my-2' %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="container" id="featured-practitioners-mobile">
      <h2>Our Featured Practitioners</h2>
      <div class="swiper-container" id="practitioners-swiper">
        <div class="swiper-wrapper">
          <% @featured_practitioners.shuffle.first(4).each do |practitioner| %>
          <div class="swiper-slide">
            <div class="card-featured">
              <a href="/practitioners/<%= practitioner.id %>">
                <img src="<%= rails_plublic_blob(practitioner.user.photo) %>" alt="">
              </a>
              <a href="/practitioners/<%= practitioner.id %>">
                <h2><%= practitioner.user.full_name %></h2>
              </a>
              <div class="card-featured-infos">
                <p class="featured-title"><%= practitioner.title %></p>
                <div class="featured-spcialties">
                  <% if practitioner.specialties.count > 3 %>
                    <% practitioner.specialties.shuffle.first(2).each do |specialty| %>
                      <div class="featured-practitioners-specialty"><%= link_to specialty.name, specialty_path(specialty) %></div>
                    <% end %>
                    <a href="/practitioners/<%= practitioner.id %>"><p>and more</p></a>
                  <% elsif practitioner.specialties.count <= 3 %>
                    <% practitioner.specialties.shuffle.each do |specialty| %>
                      <div class="featured-practitioners-specialty"><%= link_to specialty.name, specialty_path(specialty) %></div>
                    <% end %>
                  <% end %>
                </div>
                <% if !user_signed_in? || (user_signed_in? && !practitioner.had_free_session?(current_user)) %>
                  <%= link_to 'Book Free 15 Min Call', practitioner_discovery_call_path(practitioner), class: 'btn btn-flat my-2' %>
                <% end %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<section id='specialty-banner' class='text-center'>
  <%= render 'specialty_banner' %>
  <div class="specilaty-definition">
    <%= image_tag("problem.png") %>
    <h4>What Is Holistic Wellness?</h4>
    <h5>'Holistic' is characterized by the treatment of the whole person, including mental and social factors. Holistic therapies aim to fix the root causes of the condition.</h5>
    <h4>What Is A Speciality?</h4>
    <h5>A speciality is a specific area where the practitioner has devoted much time and effort in practicing and excelling.</h5>
  </div>
</section>
<section id='virtual-banner'>
  <%= render 'virtual_banner' %>
</section>
<section id="why-panda">
  <div class='d-flex justify-content-center my-4 text-center'>
    <div class="container">
      <h2>Why The Holistic Panda?</h2>
      <div class="cards-why">
        <div class="card-why">
          <%= image_tag("time.png") %>
          <h4>SAVE TIME</h4>
          <ul>
            <li><p>Easily search through our diverse range of holistic services from over 20 specialities</p></li>
            <li><p>Securely book and pay for your session in just a few clicks</p></li>
            <li><p>Access wellness services anytime, anywhere</p></li>
          </ul>
        </div>
        <div class="card-why">
          <%= image_tag("mind.png") %>
          <h4>PEACE OF MIND</h4>
          <ul>
            <li><p>Enjoy free signup & zero booking fee</p>
            <li><p>Receive free 15 minute discovery call with practitioners to identify the fit for your needs</p></li>
            <li><p>Book with trusted practitioners that have received background checks</p></li>
            </li>
          </ul>
        </div>
        <div class="card-why">
          <%= image_tag("connected.png") %>
          <h4>STAY CONNECTED</h4>
          <ul>
            <li><p>Learn about holistic wellness through our content and articles</p></li>
            <li><p>Join events with experts to optimise health and wellness, including mental, emotional, and spiritual wellbeing</p></li>
            <li><p>Be a part of a community of like-minded people</p></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="how-works">
  <div class='d-flex justify-content-center my-4 text-center'>
    <div class="container">
      <h2>How Does It Work?</h2>
      <div class="cards-works">
        <div class="card-works">
          <div class="work-img">
            <%= image_tag("works1.gif") %>
          </div>
          <div class="work-description">
            <div>
              <h3>Search And Choose A Holistic Service</h3>
              <br>
              <p>
                <strong>Select Your Health Goals</strong> and<br><strong>Filter Results</strong> by your preferences.<br>
                <strong>Review</strong> service descriptions,<br><strong>Read</strong> reviews and<br>
                <strong>Explore</strong> practitioners’ bio page<br><strong>Pick</strong> a right service for you.
              </p>
            </div>
          </div>
        </div>
        <div class="card-works">
          <div class="work-img mobile-img">
            <%= image_tag("works2.png") %>
          </div>
          <div class="work-description">
            <div>
              <h3>Book Your Session</h3>
              <br>
              <p>
                <strong>Submit 3 time requests</strong><br>
                for practitioners to choose<br>
                the time fits their schedule<br>
                and await booking confirmation<br>
                from practitioner with session details.
              </p>
            </div>
          </div>
          <div class="work-img desktop-img">
            <%= image_tag("works2.png") %>
          </div>
        </div>
        <div class="card-works">
          <div class="work-img">
            <%= image_tag("works4.png") %>
          </div>
          <div class="work-description">
            <div>
              <h3>Start Your Journey</h3>
              <br>
              <p>
                <strong>Conduct The Session</strong><br>with your practitioner<br>
                either <strong>Virtually</strong> or <strong>In-person</strong>.<br>
                Your wellness journey starts here!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="become-practitoner">
  <div class='d-flex justify-content-center my-4 text-center'>
    <div class="container">
      <h2>Have Talents To Share?</h2>
      <h4 class="my-4">Join The Holistic Panda As A Practitioner<br>And Get Connected With Holistic Service Seekers Around The World!</h4>
      <div class="d-flex justify-content-between my-4" style="flex-wrap: wrap;">
        <div class="talent-img">
          <%= image_tag("talent1.png") %>
        </div>
        <div class="talent-img">
          <%= image_tag("talent2.png") %>
        </div>
        <div class="talent-img">
          <%= image_tag("talent3-min.png") %>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="newsletter-section">
  <div class='d-flex justify-content-center my-4 text-center'>
    <div class="container">
      <% if !(user_signed_in? && current_user.newsletter) %>
        <h2>Sign Up To Our Newsletter Stay Updated</h2>
        <p>We respect your privacy.</p>
        <!-- Begin Mailchimp Signup Form -->
        <div id="mc_embed_signup">
          <form action="https://theholisticpanda.us7.list-manage.com/subscribe/post?u=5a5d4ba10d9985a895c9fa80c&amp;id=882a915325" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <div class="mc-field-group">
                <input class="form-control string email required" placeholder="someone@example.com" type="email" name="EMAIL" id="mce-EMAIL">
              </div>
                <p><strong>Are you a practitioner or wellness seeker? </strong></p>
                <ul>
                  <li><input type="radio" value="1" name="group[80075]" id="mce-group[80075]-80075-0"><label for="mce-group[80075]-80075-0">Practitioner</label></li>
                  <li><input type="radio" value="2" name="group[80075]" id="mce-group[80075]-80075-1"><label for="mce-group[80075]-80075-1">Wellness Seeker</label></li>
                  <li><input type="radio" value="4" name="group[80075]" id="mce-group[80075]-80075-2"><label for="mce-group[80075]-80075-2">Both</label></li>
                </ul>
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5a5d4ba10d9985a895c9fa80c_882a915325" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-flat"></div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>
            </div>
          </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      <% end %>
    </div>
  </div>
</section>
