<% content_for :home_navbar do %>
  <%= render 'shared/home_navbar' %>
<% end %>
<section id='top-banner'>
  <%= render 'top_banner' %>
</section>
<section id='featured-practitioners'>
  <div class='d-flex justify-content-center my-4 text-center'>
    <div class='container' id='featured-practitioners-desktop'>
      <h2>Our Featured Practitioners</h2>
      <div class='cards-featured'>
        <% @practitioners.first(4).each do |practitioner| %>
          <div class='card-featured'>
            <a href="/practitioners/<%= practitioner.id %>">
              <% if practitioner.user.photo.attached? %>
                <%= image_tag practitioner.user.photo %>
              <% else %>
                <%= image_tag("profile") %>
              <% end %>
            </a>
              <a href="/practitioners/<%= practitioner.id %>">
                <h2><%= practitioner.user.full_name %></h2>
              </a>
            <div class='card-featured-infos'>
              <p><%= practitioner.title %></p>
              <p>Specialized in:</p>
              <div class="d-flex" style="flex-wrap: wrap;">
                <% practitioner.specialties.first(3).each do |specialty| %>
                  <div class="featured-practitioners-specialty"><%= link_to specialty.name, specialty_path(specialty) %></div>
                <% end %>
                <a href="/practitioners/<%= practitioner.id %>" style="margin: 0 auto;"><p>and more</p></a>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="container" id="featured-practitioners-mobile">
      <h2>Our Featured Practitioners</h2>
      <div class="swiper-container" id="practitioners-swiper">
        <div class="swiper-wrapper">
          <% @practitioners.first(4).each do |practitioner| %>
          <div class="swiper-slide">
            <div class='card-featured'>
              <a href="/practitioners/<%= practitioner.id %>">
                <% if practitioner.user.photo.attached? %>
                  <%= image_tag practitioner.user.photo %>
                <% else %>
                  <%= image_tag("profile") %>
                <% end %>
              </a>
                <a href="/practitioners/<%= practitioner.id %>">
                  <h2><%= practitioner.user.full_name %></h2>
                </a>
              <div class='card-featured-infos'>
                <p><%= practitioner.title %></p>
                <p>Specialized in:</p>
                <div class="d-flex" style="flex-wrap: wrap;">
                  <% practitioner.specialties.first(3).each do |specialty| %>
                    <div class="featured-practitioners-specialty"><%= link_to specialty.name, specialty_path(specialty) %></div>
                  <% end %>
                  <a href="/practitioners/<%= practitioner.id %>" style="margin: 0 auto;"><p>and more</p></a>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <div class='cards-review'>
  <div class='card-review' style='background-image: url(https://kitt.lewagon.com/placeholder/users/fanny-rojon)'>
    <div class='name'>
      <h3>Diana</h3>
    </div>
    <div class='review'>
      <p>Awesome!</p>
    </div>
  </div>
  <div class='card-review' style='background-image: url(https://kitt.lewagon.com/placeholder/users/rosemaryakl)'>
    <div class='name'>
      <h3>Janet</h3>
    </div>
    <div class='review'>
      <p>Superb!</p>
    </div>
  </div>
  <div class='card-review' style='background-image: url(https://kitt.lewagon.com/placeholder/users/primaulia)'>
    <div class='name'>
      <h3>Sangsoo</h3>
    </div>
    <div class='review'>
      <p>It rocks!</p>
    </div>
  </div>
</div> -->
<section id='specialty-banner' class='text-center'>
  <%= render 'specialty_banner' %>
  <div class="specilaty-definition">
    <%= image_tag("problem.png") %>
    <h4>What Is A Speciality??</h4>
    <h5>A speciality is a specific area where the practitioner has devoted much time and effort in practicing and excelling.</h5>
  </div>
</section>
<section id='virtual-banner'>
  <%= render 'virtual_banner' %>
</section>
<section id="why-panda">
  <div class='d-flex justify-content-center my-4 text-center'>
    <div class="container">
      <h2>Why The Holistic Panda?</h2>
      <div class="cards-why">
        <div class="card-why">
          <%= image_tag("time.png") %>
          <h4>SAVE TIME</h4>
          <ul>
            <li><p>Easily search through our diverse range of holistic services from over 20 specialities</p></li>
            <li><p>Securely book and pay for your session in just a few clicks</p></li>
            <li><p>Access wellness services anytime, anywhere</p></li>
          </ul>
        </div>
        <div class="card-why">
          <%= image_tag("mind.png") %>
          <h4>PEACE OF MIND</h4>
          <ul>
            <li><p>Enjoy free signup & zero booking fee</p>
            <li><p>Receive free 15 minute discovery call with practitioners to identify the fit for your needs</p></li>
            <li><p>Book with trusted practitioners that have received background checks</p></li>
            </li>
          </ul>
        </div>
        <div class="card-why">
          <%= image_tag("connected.png") %>
          <h4>STAY CONNECTED</h4>
          <ul>
            <li><p>Learn about holistic wellness through our content and articles</p></li>
            <li><p>Join events with experts to optimise health and wellness, including mental, emotional, and spiritual wellbeing</p></li>
            <li><p>Be a part of a community of like-minded people</p></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="how-works">
  <div class='d-flex justify-content-center my-4 text-center'>
    <div class="container">
      <h2>How Does It Work?</h2>
      <div class="cards-works">
        <div class="card-works">
          <div class="work-img">
            <%= image_tag("works1.png") %>
          </div>
          <div class="work-description">
            <div>
              <h3>Search By Health Goals</h3>
              <br>
              <p><strong>Select your health goals</strong> and <strong>filter results</strong></p>
              <p>by your preferences for</p>
              <p><strong>specialties, languages, and session type.</strong></p>
            </div>
          </div>
        </div>
        <div class="card-works">
          <div class="work-img mobile-img">
            <%= image_tag("works2.png") %>
          </div>
          <div class="work-description">
            <div>
              <h3>Choose A Holistic Service</h3>
              <br>
              <p><strong>Review</strong> service descriptions,</p>
              <p><strong>explore</strong> practitioners’ bio page, and</p>
              <p><strong>read</strong> reviews from other wellness seekers</p>
            </div>
          </div>
          <div class="work-img desktop-img">
            <%= image_tag("works2.png") %>
          </div>
        </div>
        <div class="card-works">
          <div class="work-img">
            <%= image_tag("works3.png") %>
          </div>
          <div class="work-description">
            <div>
              <h3>Book Your Session</h3>
              <br>
              <p><strong>Submit 3 time requests</strong></p>
              <p>and await booking confirmation with session details.</p>
            </div>
          </div>
        </div>
        <div class="card-works">
          <div class="work-img mobile-img">
            <%= image_tag("works4.png") %>
          </div>
          <div class="work-description">
            <div>
              <h3>Start Your Journey</h3>
              <p><strong>Conduct the session</strong> with your practitioner</p>
              <p>either <strong>virtually</strong> or <strong>in-person</strong>.</p>
              <p>Your wellness journey starts here!</p>
            </div>
          </div>
          <div class="work-img desktop-img">
            <%= image_tag("works4.png") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="become-practitoner">
  <div class='d-flex justify-content-center my-4 text-center'>
    <div class="container">
      <h2>Have Talents To Share?</h2>
      <h4 class="my-4">Join The Holistic Panda As A Practitioner<br>And Get Connected With Holistic Service Seekers Around The World!</h4>
      <div class="d-flex justify-content-between my-4" style="flex-wrap: wrap;">
        <div class="talent-img">
          <%= image_tag("talent1.png") %>
        </div>
        <div class="talent-img">
          <%= image_tag("talent2.png") %>
        </div>
        <div class="talent-img">
          <%= image_tag("talent3.png") %>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="newsletter-section">
  <div class='d-flex justify-content-center my-4 text-center'>
    <div class="container">
      <% if !(user_signed_in? && current_user.newsletter) %>
        <h2>Sign up to our newsletter stay updated</h2>
        <p>We respect your privacy.</p>
        <!-- Begin Mailchimp Signup Form -->

        <div id="mc_embed_signup">
          <form action="https://theholisticpanda.us7.list-manage.com/subscribe/post?u=5a5d4ba10d9985a895c9fa80c&amp;id=882a915325" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <!-- <h2>Subscribe</h2> -->
              <!-- <div class="indicates-required"><span class="asterisk">*</span> indicates required</div> -->
              <div class="mc-field-group">
                <!-- <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label> -->
                <input class="form-control string email required" placeholder="someone@example.com" type="email" name="EMAIL" id="mce-EMAIL">
                <!-- <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"> -->
              </div>
              <!-- <div class="mc-field-group input-group"> -->
                <p><strong>Are you a practitioner or wellness seeker? </strong></p>
                <ul>
                  <li><input type="radio" value="1" name="group[80075]" id="mce-group[80075]-80075-0"><label for="mce-group[80075]-80075-0">Practitioner</label></li>
                  <li><input type="radio" value="2" name="group[80075]" id="mce-group[80075]-80075-1"><label for="mce-group[80075]-80075-1">Wellness Seeker</label></li>
                  <li><input type="radio" value="4" name="group[80075]" id="mce-group[80075]-80075-2"><label for="mce-group[80075]-80075-2">Both</label></li>
                </ul>
              <!-- </div> -->
            <!-- <div id="mergeRow-gdpr" class="mergeRow gdpr-mergeRow content__gdprBlock mc-field-group">
                <div class="content__gdpr">
                    <label>Marketing Permissions for EU Users</label>
                    <p>Please select all the ways you would like to hear from The Holistic Panda:</p>
                    <fieldset class="mc_fieldset gdprRequired mc-field-group" name="interestgroup_field">
                <label class="checkbox subfield" for="gdpr_58607"><input type="checkbox" id="gdpr_58607" name="gdpr[58607]" value="Y" class="av-checkbox gdpr"><span>Email</span> </label><label class="checkbox subfield" for="gdpr_58615"><input type="checkbox" id="gdpr_58615" name="gdpr[58615]" value="Y" class="av-checkbox gdpr"><span>Customized Online Advertising</span> </label>
                    </fieldset>
                    <p>You can unsubscribe at any time by clicking the link in the footer of our emails. For information about our privacy practices, please visit our website.</p>
                </div>
                <div class="content__gdprLegal">
                    <p>We use Mailchimp as our marketing platform. By clicking below to subscribe, you acknowledge that your information will be transferred to Mailchimp for processing. <a href="https://mailchimp.com/legal/" target="_blank">Learn more about Mailchimp's privacy practices here.</a></p>
                </div>
            </div> -->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5a5d4ba10d9985a895c9fa80c_882a915325" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-flat"></div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            </div>
          </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        <!--End mc_embed_signup-->
        <!-- <%#= simple_form_for([@newsletter], remote: true) do |f| %>
          <div class='d-flex justify-content-center text-center my-5'>
            <div class="form-group email required newsletter_email">
              <input class="form-control string email required input-newsletter" placeholder="someone@example.com" type="email" name="newsletter[email]" id="newsletter_email">
            </div>
            <%#= f.button :submit, 'Submit', class: 'btn-flat btn-newsletter' %>
          </div>
        <%# end %> -->
      <% end %>
    </div>
  </div>
</section>
<!-- <section id='bottom-banner'>
  <%#= render 'bottom_banner' %>
</section>
 -->
