<h1><%= @event_attendee.full_name %> has registered for the event</h1>

<p>First name: <%= @event_attendee.first_name %></p>
<p>Last name: <%= @event_attendee.last_name %></p>
<p>Email: <%= @event_attendee.email %></p>
<p>Event: <%= @event_attendee.event.name %></p>
