<h1><%= @user.full_name %> has applied as practitioner</h1>

<p>First name: <%= @practitioner.user.first_name %></p>
<p>Last name: <%= @practitioner.user.last_name %></p>
<p>Email: <%= @practitioner.user.email %></p>
<p>Country code: <%= @practitioner.country_code %></p>
<p>Country: <%= @practitioner.country_name %></p>
