<h1><%= @user.full_name %>'s Stripe attempt has failed</h1>

<p>Request: <%= @request %> </p>
<p>Type: <%= @type if @type %></p>
<p>Code: <%= @code if @code %></p>
<p>Message: <%= @message if @message %></p>
