<div class="form-group">
  <input type="hidden" name="practitioner[language_id][]" value="">
  <div class="language-choices" style="margin: 0">
    <% languages.sort_by(&:name).each do |language| %>
      <% if practitioner.languages.exclude?(language) %>
        <input type="radio" class="hidden" value="<%= language.id %>" name="practitioner[language_id]" id="practitioner_language_id_<%= language.id %>">
        <label class="language-choice" for="practitioner_language_id_<%= language.id %>">
          <%= language.name %>
        </label>
      <% end %>
    <% end %>
   </div>
</div>
<button type="submit" data-toggle="tooltip" data-placement="bottom" data-original-title="Save"><i class='fas fa-check'></i></button>
<button id='languages-cancel' data-toggle="tooltip" data-placement="bottom" data-original-title="Cancel"><%= link_to '', '', class: 'fas fa-times' %></button>
