<% provide :head_tags do %>
  <style>
    <% PostCategory.all.order(:id).each do |cat| %>
      .blog-banner-<%= cat.id %> {
        background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url('<%= cdn_for(cat.banner) %>');
      }
    <% end %>
    @media (max-width: 767.98px) {
      <% PostCategory.all.order(:id).each do |cat| %>
        .blog-banner-<%= cat.id %> {
          background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url('<%= cdn_for(cat.mobile_banner) %>');
        }
      <% end %>
    }
  </style>
<% end %>
<div class="blog-navbar">
  <div class="blog-navbar-header">
    <%= link_to 'The Holistic Panda Blog', posts_path %><i class="fas fa-caret-down mobile ml-4" id="expand-nav"></i>
  </div>
  <div class="blog-navbar-links desktop">
    <% PostCategory.all.order(:id).each do |cat| %>
      <%= link_to cat.name.upcase, post_category_path(cat), class: 'mr-4' %>
    <% end %>
  </div>
  <%= simple_form_for :search, url: posts_path, method: "GET", html: { id: 'search-post-form', class: 'simple_form search desktop' } do |f| %>
    <div class="search-box-wrapper">
      <input id="search-box" name="s" placeholder="Search"><i class="fas fa-search" id="search-button"></i>
    </div>
  <% end %>
  <div class="mobile">
    <div class="blog-navbar-links">
      <% PostCategory.all.order(:id).each do |cat| %>
        <%= link_to cat.name.upcase, post_category_path(cat), class: 'mr-4' %>
      <% end %>
    </div>
    <%= simple_form_for :search, url: posts_path, method: "GET", html: { id: 'search-post-form' } do |f| %>
      <div class="search-box-wrapper">
        <input id="search-box" name="s" placeholder="Search"><i class="fas fa-search" id="search-button"></i>
      </div>
    <% end %>
  </div>
</div>
<div class="blog-banner-swiper">
  <div class="swiper-container" id="blog-banner-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="blog-banner-space"></div>
        <div class="blog-banner">
          <h1>WELCOME TO OUR WELLNESS LIBRARY</h1>
          <p class="desktop">Now sit back, relax, and explore our diverse range of topics to help you feel inspired and incorporate self-care practices into your lives.</p>
          <p class="mobile">Explore our wellness content to help you feel inspired and incorporate self-care practices into your lives.</p>
        </div>
      </div>
      <% PostCategory.all.order(:id).each do |cat| %>
      <div class="swiper-slide">
        <div class="blog-banner-space"></div>
        <div class="blog-banner blog-banner-<%= cat.id %>">
          <h1><%= cat.name.upcase %></h1>
          <p class="desktop"><%= cat.description %></p>
          <p class="mobile"><%= cat.mobile_description %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
<div class="container blog-page">
  <% if user_signed_in? && current_user.admin? %>
    <div class="text-center">
      <%= link_to 'Create new post', new_post_path, class: 'btn btn-flat mb-3' %>
    </div>
  <% end %>
  <h2>Recent articles</h2>
  <div class="posts-container">
    <% if params[:s] && params[:s] != '' && @posts.count == 0 %>
      <div class="posts" style="display: block;">
        <p><em>No result. Please try another keyword to search.</em></p>
      </div>
    <% else %>
      <div class="posts">
        <% @posts.each do |post| %>
          <div class="post">
            <a href="/blog/<%= post.short_title %>">
              <% if post.photo.attached? %>
                <img src="<%= cdn_for(post.photo) %>" alt="<%= post.title %>">
              <% else %>
                <%= image_tag 'virtual-min.png' %>
              <% end %>
            </a>
            <div class="post-detail">
              <div class="d-flex justify-content-between">
                <p class="category-name"><%= post.post_category.name.upcase %></p>
                <p class="post-minutes">
                  <% if post.minutes %>
                    <%= post.minutes %> minutes read
                  <% end %>
                </p>
              </div>
              <h2><%= link_to post.title, post_path(post) %></h2>
              <div class="post-summary"><%= (post.body.split('</p>')[0] + '</p>').html_safe %></div>
              <div class="post-author">
                <% if post.post_author.photo.attached? %>
                  <img src="<%= cdn_for(post.post_author.photo) %>" class="post-author-image" alt="<%= post.post_author.full_name %>">
                <% else %>
                  <% if post.post_author.practitioner %>
                    <img src="<%= cdn_for(post.post_author.practitioner.user.photo) %>" class="post-author-image" alt="<%= post.post_author.full_name %>">
                  <% else %>
                    <%= image_tag 'profile.png', class: "post-author-image" %>
                  <% end %>
                <% end %>
                <div class="post-author-detail">
                  <% if post.post_author.practitioner %>
                    by <%= link_to post.post_author.full_name, practitioner_url(post.post_author.practitioner) %><br />
                    <%= post.post_author.practitioner.title %>
                  <% else %>
                    by <%= link_to post.post_author.full_name, post.post_author.link %><br />
                    <%= post.post_author.title %>
                  <% end %>
                </div>
              </div>
              <div class="text-center">
                <% if user_signed_in? && current_user.admin? %>
                  <% if post.published %>
                    <%= simple_form_for(post) do |f| %>
                      <%= f.button :submit, "Unpublish", class: 'btn-ghost' %>
                    <% end %>
                  <% else %>
                    <%= simple_form_for(post) do |f| %>
                      <%= f.button :submit, "Publish", class: 'btn-flat' %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="blog-newsletter">
      <h3>Newsletter</h3>
      <p>Subscribe to receive latest content updates, invitations to wellness events, and more!</p>
      <!-- Begin Mailchimp Signup Form -->
      <div class="w-100" id="mc_embed_signup" style="font-size: 0.875rem;">
        <form action="https://theholisticpanda.us7.list-manage.com/subscribe/post?u=5a5d4ba10d9985a895c9fa80c&amp;id=882a915325" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <div class="mc-field-group">
              <input class="form-control string email required" placeholder="someone@example.com" type="email" name="EMAIL" id="mce-EMAIL">
            </div>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5a5d4ba10d9985a895c9fa80c_882a915325" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-flat"></div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
          </div>
        </form>
      </div>
      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    </div>
  </div>
</div>
<script>
  document.getElementById('search-button').addEventListener('click', (e) => {
    document.getElementById('search-post-form').submit();
  });
  document.getElementById('expand-nav').addEventListener('click', (e) => {
    if (e.currentTarget.classList.contains('fa-caret-down')) {
      document.querySelector('.mobile .blog-navbar-links').style.display = 'grid';
      document.querySelector('.mobile #search-post-form').style.display = 'block';
      e.currentTarget.classList.remove('fa-caret-down');
      e.currentTarget.classList.add('fa-caret-up');
    } else {
      document.querySelector('.mobile .blog-navbar-links').style.display = 'none';
      document.querySelector('.mobile #search-post-form').style.display = 'none';
      e.currentTarget.classList.remove('fa-caret-up');
      e.currentTarget.classList.add('fa-caret-down');
    }
  });
</script>
