<div class="blog-navbar mt-0">
  <div class="blog-navbar-header">
    <%= link_to 'The Holistic Panda Blog', posts_path %><i class="fas fa-caret-down mobile ml-4" id="expand-nav"></i>
  </div>
  <div class="blog-navbar-links desktop">
    <% PostCategory.all.order(:id).each do |cat| %>
      <%= link_to cat.name.upcase, post_category_path(cat), class: 'mr-4'  %>
    <% end %>
  </div>
  <%= simple_form_for :search, url: posts_path, method: "GET", html: { id: 'search-post-form', class: 'simple_form search desktop' } do |f| %>
    <div class="search-box-wrapper">
      <input id="search-box" name="s" placeholder="Search"><i class="fas fa-search" id="search-button"></i>
    </div>
  <% end %>
  <div class="mobile">
    <div class="blog-navbar-links">
      <% PostCategory.all.order(:id).each do |cat| %>
        <%= link_to cat.name.upcase, post_category_path(cat), class: 'mr-4' %>
      <% end %>
    </div>
    <%= simple_form_for :search, url: posts_path, method: "GET", html: { id: 'search-post-form' } do |f| %>
      <div class="search-box-wrapper">
        <input id="search-box" name="s" placeholder="Search"><i class="fas fa-search" id="search-button"></i>
      </div>
    <% end %>
  </div>
</div>
<div class="container" style="margin-top: 68px; padding: 4rem 0;">
  <h2>Create new post</h2>
  <%= simple_form_for(@post) do |f| %>
    <%= f.input :title, required: true %>
    <%= f.input :short_title, required: true, label: 'Short title for URL' %>
    <%= f.input :body, as: :ckeditor, required: true %>
    <%= f.input :post_author_id, collection: PostAuthor.all.map { |author| [author.full_name, author.id] }, include_blank: false %>
    <label for="post_sub_category">Category</label>
    <select class="form-control select optional mb-4" name="post[post_sub_category_id]" id="post_sub_category" required="">
      <% PostCategory.all.order(:id).each do |cat| %>
        <optgroup label="<%= cat.name.split.map(&:capitalize).join(' ') %>">
          <% cat.post_sub_categories.each do |sub| %>
            <option value="<%= sub.id %>"><%= sub.name.split.map(&:capitalize).join(' ') %></option>
          <% end %>
        </optgroup>
      <% end %>
    </select>
    <%= f.input :minutes %>
    <%= f.input :photo, as: :file, input_html: {  }, label_html: { class: 'upload-photo'} %>
    <%= f.submit :Create, class: 'btn btn-flat' %>
    <%= link_to 'Cancel', '', class: 'btn btn-ghost ml-3', id: 'go-back' %>
  <% end %>
</div>
<script>
  document.getElementById('search-button').addEventListener('click', (e) => {
    document.getElementById('search-post-form').submit();
  });
  document.getElementById('expand-nav').addEventListener('click', (e) => {
    if (e.currentTarget.classList.contains('fa-caret-down')) {
      document.querySelector('.mobile .blog-navbar-links').style.display = 'grid';
      document.querySelector('.mobile #search-post-form').style.display = 'block';
      e.currentTarget.classList.remove('fa-caret-down');
      e.currentTarget.classList.add('fa-caret-up');
    } else {
      document.querySelector('.mobile .blog-navbar-links').style.display = 'none';
      document.querySelector('.mobile #search-post-form').style.display = 'none';
      e.currentTarget.classList.remove('fa-caret-up');
      e.currentTarget.classList.add('fa-caret-down');
    }
  });
  document.getElementById('go-back').addEventListener('click', (e) => {
    e.preventDefault();
    window.history.back();
  });
</script>
