<% content_for :blog_navbar do %>
  <%= render 'shared/blog_navbar' %>
<% end %>
<div class="blog-navbar mt-0">
  <%= link_to 'The Holistic Panda Blog', posts_url(subdomain: 'blog') %>
  <div>
    <% PostCategory.all.order(:id).each do |cat| %>
      <%= link_to cat.name.upcase, post_category_path(cat), class: 'mr-4'  %>
    <% end %>
  </div>
  <%= simple_form_for :search, url: posts_path, method: "GET", html: { id: 'search-post-form' } do |f| %>
    <div class="search-box-wrapper">
      <input id="search-box" name="s" placeholder="Search"><i class="fas fa-search" id="search-button"></i>
    </div>
  <% end %>
</div>
<div class="post-image">
  <% if @post.photo.attached? %>
    <img src="<%= cdn_for(@post.photo) %>" alt="<%= @post.title %>">
  <% else %>
    <%= image_tag 'virtual-min.png' %>
  <% end %>
  <h1><%= @post.title %></h1>
</div>
<div class="container post-page my-4">
  <% if user_signed_in? && current_user.admin? %>
    <div class="d-flex mb-3">
      <%= link_to 'Edit', '', data: { toggle: "modal", target: "#editPostModal" }, class: 'btn btn-flat mr-4' %>
      <div class="modal fade" id="editPostModal" tabindex="-1" role="dialog" aria-labelledby="editPostModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="min-width: 80vw;">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editPostModalLabel">Create new post</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= simple_form_for(@post) do |f| %>
                <%= f.input :title, require: true %>
                <%= f.input :short_title, require: true, label: 'Short title for URL' %>
                <%= f.input :body, as: :ckeditor, require: true %>
                <%= f.input :post_author_id, collection: PostAuthor.all.map { |author| [author.full_name, author.id] }, include_blank: false, require: true %>
                <label for="post_sub_category">Category</label>
                <select class="form-control select optional mb-4" name="post[post_sub_category_id]" id="post_sub_category" required="">
                  <% PostCategory.all.each do |cat| %>
                    <optgroup label="<%= cat.name.split.map(&:capitalize).join(' ') %>">
                      <% cat.post_sub_categories.each do |sub| %>
                        <option value="<%= sub.id %>"><%= sub.name.split.map(&:capitalize).join(' ') %></option>
                        <% end %>
                    </optgroup>
                  <% end %>
                </select>
                <%= f.input :minutes %>
                <%= f.input :photo, as: :file, input_html: {  }, label_html: { class: 'upload-photo'} %>
                <%= f.submit :Update, class: 'btn btn-flat' %>
                <%= link_to 'Cancel', '', class: 'btn btn-ghost ml-3' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% if @post.published %>
        <%= simple_form_for(@post) do |f| %>
          <%= f.button :submit, "Unpublish", class: 'btn-ghost mr-4' %>
        <% end %>
      <% else %>
        <%= simple_form_for(@post) do |f| %>
          <%= f.button :submit, "Publish", class: 'btn-flat mr-4' %>
        <% end %>
      <% end %>
      <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: "Are you sure?"}, class: 'btn btn-ghost' %>
    </div>
  <% end %>
  <div class="post-author">
    <% if @post.post_author.photo.attached? %>
      <img src="<%= cdn_for(@post.post_author.photo) %>" class="post-author-image" alt="<%= @post.post_author.full_name %>">
    <% else %>
      <% if @post.post_author.practitioner %>
        <img src="<%= cdn_for(@post.post_author.practitioner.user.photo) %>" class="post-author-image" alt="<%= @post.post_author.full_name %>">
      <% else %>
        <%= image_tag 'profile.png', class: "post-author-image" %>
      <% end %>
    <% end %>
    <div class="post-author-detail">
      <div>
        <% if @post.post_author.practitioner %>
          by <%= link_to @post.post_author.full_name, practitioner_url(@post.post_author.practitioner) %><br />
          <%= @post.post_author.practitioner.title %>
        <% else %>
          by <%= link_to @post.post_author.full_name, @post.post_author.link %><br />
          <%= @post.post_author.title %>
        <% end %>
      </div>
    </div>
  </div>
  <p><strong><%= @post.created_at.strftime('%B %d, %Y') %></strong></p>
  <%= social_share_button_tag(@post.title, url: post_path(@post), desc: @post.title) %>
  <p><%= @post.body.html_safe %></p>
  <%= social_share_button_tag(@post.title, url: post_path(@post), desc: @post.title) %>
</div>
<script>
  document.getElementById('search-button').addEventListener('click', (e) => {
    document.getElementById('search-post-form').submit();
  });
</script>
