<% if @post.published %>
  <% content_for :meta_title, "#{@post.title} on #{DEFAULT_META["meta_product_name"]}" %>
  <% content_for :meta_description, strip_tags(@post.body.gsub('"', '\'').gsub(/\n/, '<br/>').split('<br/>')[0]) %>
  <% if @post.photo.attached? %>
    <% content_for :meta_image, cdn_for(@post.photo) %>
  <% end %>
<% end %>
<div class="blog-navbar mt-0">
  <div class="blog-navbar-header">
    <%= link_to 'The Holistic Panda Blog', posts_path %><i class="fas fa-caret-down mobile ml-4" id="expand-nav"></i>
  </div>
  <div class="blog-navbar-links desktop">
    <% PostCategory.all.order(:id).each do |cat| %>
      <%= link_to cat.name.upcase, post_category_path(cat), class: 'mr-4'  %>
    <% end %>
  </div>
  <%= simple_form_for :search, url: posts_path, method: "GET", html: { id: 'search-post-form', class: 'simple_form search desktop' } do |f| %>
    <div class="search-box-wrapper">
      <input id="search-box" name="s" placeholder="Search"><i class="fas fa-search" id="search-button"></i>
    </div>
  <% end %>
  <div class="mobile">
    <div class="blog-navbar-links">
      <% PostCategory.all.order(:id).each do |cat| %>
        <%= link_to cat.name.upcase, post_category_path(cat), class: 'mr-4' %>
      <% end %>
    </div>
    <%= simple_form_for :search, url: posts_path, method: "GET", html: { id: 'search-post-form' } do |f| %>
      <div class="search-box-wrapper">
        <input id="search-box" name="s" placeholder="Search"><i class="fas fa-search" id="search-button"></i>
      </div>
    <% end %>
  </div>
</div>
<div class="post-image">
  <% if @post.photo.attached? %>
    <img src="<%= cdn_for(@post.photo) %>" alt="<%= @post.title %>">
  <% else %>
    <%= image_tag 'virtual-min.png' %>
  <% end %>
  <h1><%= @post.title %></h1>
</div>
<div class="container post-page my-4">
  <% if user_signed_in? && current_user.admin? %>
    <div class="d-flex" style="flex-wrap: wrap;">
      <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-flat mr-4 mb-3' %>
      <% if @post.published %>
        <%= simple_form_for(@post) do |f| %>
          <%= f.button :submit, "Unpublish", class: 'btn-ghost mr-4 mb-3' %>
        <% end %>
      <% else %>
        <%= simple_form_for(@post) do |f| %>
          <%= f.button :submit, "Publish", class: 'btn-flat mr-4 mb-3' %>
        <% end %>
      <% end %>
      <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: "Are you sure?"}, class: 'btn btn-ghost mb-3' %>
    </div>
  <% end %>
  <div class="post-author">
    <% if @post.post_author.photo.attached? %>
      <img src="<%= cdn_for(@post.post_author.photo) %>" class="post-author-image" alt="<%= @post.post_author.full_name %>">
    <% else %>
      <% if @post.post_author.practitioner %>
        <img src="<%= cdn_for(@post.post_author.practitioner.user.photo) %>" class="post-author-image" alt="<%= @post.post_author.full_name %>">
      <% else %>
        <%= image_tag 'profile.png', class: "post-author-image" %>
      <% end %>
    <% end %>
    <div class="post-author-detail">
      <div>
        <% if @post.post_author.practitioner %>
          by <%= link_to @post.post_author.full_name, practitioner_url(@post.post_author.practitioner) %><br />
          <%= @post.post_author.practitioner.title %>
        <% else %>
          by <%= link_to @post.post_author.full_name, @post.post_author.link %><br />
          <%= @post.post_author.title %>
        <% end %>
      </div>
    </div>
  </div>
  <p><strong><%= @post.created_at.strftime('%B %d, %Y') %></strong></p>
  <%= social_share_button_tag(@post.title, url: post_path(@post), desc: @post.title) %>
  <p><%= @post.body.html_safe %></p>
  <%= social_share_button_tag(@post.title, url: post_path(@post), desc: @post.title) %>
</div>
<script>
  document.getElementById('search-button').addEventListener('click', (e) => {
    document.getElementById('search-post-form').submit();
  });
  document.getElementById('expand-nav').addEventListener('click', (e) => {
    if (e.currentTarget.classList.contains('fa-caret-down')) {
      document.querySelector('.mobile .blog-navbar-links').style.display = 'grid';
      document.querySelector('.mobile #search-post-form').style.display = 'block';
      e.currentTarget.classList.remove('fa-caret-down');
      e.currentTarget.classList.add('fa-caret-up');
    } else {
      document.querySelector('.mobile .blog-navbar-links').style.display = 'none';
      document.querySelector('.mobile #search-post-form').style.display = 'none';
      e.currentTarget.classList.remove('fa-caret-up');
      e.currentTarget.classList.add('fa-caret-down');
    }
  });
</script>
