<div style='background-color: #faf2f2; padding: 20px; max-width: 600px; margin: 0 auto; border-radius: 6px;'>
  <div style='max-width: 300px; margin: 0 auto;'>
    <a href="https://www.theholisticpanda.com" target="_blank" style="text-decoration: none;"><img src="https://<%= ENV['CDN_URL'] %>/logo.png" alt="TheHolisticPanda" style="width: 300px;"></a>
  </div>
  <h3>Dear <%= @resource.first_name %>,</h3>

  <% if @resource.try(:unconfirmed_email?) %>
    <p>We're contacting you to notify you that your email is being changed to <%= @resource.unconfirmed_email %>.</p>
  <% else %>
    <p>We're contacting you to notify you that your email has been changed to <%= @resource.email %>.</p>
  <% end %>

  <p>Yours,</p>
  <p>The Holistic Panda Team</p>
  <div style='margin: 32px auto 16px; text-align: center;'>
    <p>© <%= Time.current.year %> HolisticPanda, Inc. All rights reserved</p>
    <a href="https://www.theholisticpanda.com/terms" target="_blank" style='margin-right: 16px;'>Terms of use</a>
    <a href="https://www.theholisticpanda.com/privacy" target="_blank">Privacy policy</a>
  </div>
</div>
