<style type="text/css">

</style>

<div style='background-color: #faf2f2; padding: 20px;'>
  <div style='max-width: 300px; margin: 0 auto;'>
    <a href="https://www.theholisticpanda.com" target="_blank" style="text-decoration: none;"><img src="https://<%= ENV['CDN_URL'] %>/logo.png" alt="TheHolisticPanda" style="max-width: 300px;"></a>
  </div>
  <h3>Dear <%= @practitioner.user.first_name %>,</h3>
  <h4>Your session with <%= @session.user.full_name %> is confirmed.</h4>
  <p>Here is a summary of your session:</p>
  <p>Service: <%= @session.service.name %></p>
  <p>Starting time: <%= @session.start_time.in_time_zone(@practitioner.timezone).strftime('%a, %b %d, %Y %l:%M %p %Z') %></p>
  <p>Duration: <%= @session.service.duration %>m</p>
  <p>Session Type: <%= @session.session_type %></p>
  <p>Total Price: CA$ <%= @session.estimate_price.round(2) %></p>
  <% if @session.session_type == 'Virtual' %>
    <p>Link for the session: <a href="<%= @session.link %>" target="_blank"><%= @session.link %></a></p>
  <% elsif @session.session_type == 'In-person' %>
    <p>Session location: <%= @session.address %> <a href="https://www.google.com/maps/place/<%= @session.address %>" target="_blank">Open on Google Map</a></p>
  <% end %>
  <% if @session.message && (@session.message != '') %>
    <p><%= @session.user.first_name %>’s note on reason for attending the session: <%= @session.message.gsub(/\n/, '<br/>').html_safe %></p>
  <% end %>
  <br>
  <%= link_to 'Review your session detail', session_url(@session), target: "_blank", style: 'text-decoration: none; background-color: #e57850!important; color: white; padding: 8px 24px; border-radius: 3px;' %>
  <br>
  <br>
  <% if @session.service.default_service %>
    <p>If you are no longer able to make this session, please cancel it at least <strong>24 hours before</strong> the session and send a courtesy message to your client.</p>
  <% else %>
    <p>If you are no longer able to make this session, please cancel it at least <strong>24 hours before</strong> the session and send a courtesy message to your client. Failure to do so will result in a <strong>late cancellation fee of 35% of the session price</strong>. If you have to late cancel due to extenuating circumstances, please do let us know at <a href="mailto:hello@theholisticpanda.com" style="text-decoration: none; color: #366735;">hello@theholisticpanda.com</a>.</p>
  <% end %>
  <p>If your client loved the session, please encourage them to leave you a review and rating so others in the community can learn more about your services!</p>
  <br>
  <p>Yours,</p>
  <p>The Holistic Panda Team</p>
  <div style='margin: 32px auto 16px; text-align: center;'>
    <p>© <%= Time.now.year %> HolisticPanda, Inc. All rights reserved</p>
    <a href="https://www.theholisticpanda.com/terms" target="_blank" style='margin-right: 16px;'>Terms of use</a>
    <a href="https://www.theholisticpanda.com/privacy" target="_blank">Privacy policy</a>
  </div>
</div>
