<style type="text/css">

</style>

<h2>Dear <%= @session.practitioner.user.full_name %>,</h2>
<br>
<h3>Summary of your session with <%= @session.user.full_name %></h3>
<br>
<p>Service: <%= @session.service.name %></p>
<p>Starting time: <%= @session.start_time %></p>
<br>
<%= link_to 'Check your session detail', session_url(@session), target: "_blank" %>
<br>
<p>Yours,</p>
<p>The Holistic Panda</p>
