<style type="text/css">

</style>

<div style='background-color: #faf2f2; padding: 20px;'>
  <div style='max-width: 300px; margin: 0 auto;'>
    <a href="https://www.theholisticpanda.com" target="_blank" style="text-decoration: none;"><img src="https://<%= ENV['CDN_URL'] %>/logo.png" alt="TheHolisticPanda" style="max-width: 300px;"></a>
  </div>
  <h3>Dear <%= @session.user.first_name %>,</h3>
  <h4>This is a notice to let you know that the following session request with <%= @practitioner.user.full_name %> has been declined.</h4>
  <p>Service: <%= @session.service.name %></p>
  <p>Total price: CA$ <%= @session.estimate_price.round(2) %></p>
  <% if @session.decline_reason && @session.decline_reason != '' %>
    <p>Message from practitoner: <%= @session.decline_reason %></p>
  <% end %>
  <br>
  <p>If you would like to reschedule or book another service, please visit our booking site:</p>
  <br>
  <%= link_to 'Find another service', services_url, target: "_blank", style: 'text-decoration: none; background-color: #e57850!important; color: white; padding: 8px 24px; border-radius: 3px;' %>
  <br>
  <br>
  <br>
  <%= link_to 'Book this service again', service_url(@session.service), target: "_blank", style: 'text-decoration: none; background-color: #e57850!important; color: white; padding: 8px 24px; border-radius: 3px;' %>
  <br>
  <br>
  <p>Yours,</p>
  <p>The Holistic Panda Team</p>
  <div style='margin: 32px auto 16px; text-align: center;'>
    <p>© <%= Time.now.year %> HolisticPanda, Inc. All rights reserved</p>
    <a href="https://www.theholisticpanda.com/terms" target="_blank" style='margin-right: 16px;'>Terms of use</a>
    <a href="https://www.theholisticpanda.com/privacy" target="_blank">Privacy policy</a>
  </div>
</div>
