<!DOCTYPE html>
<html>
  <head>
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="a4150210-a87d-49b9-b868-5af609754368" data-blockingmode="auto" type="text/javascript"></script>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'application/favicon' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key='+ENV['GOOGLE_API_KEY']+'&libraries=places' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true  %> <!-- from app/assets/javascripts/application.js -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_include_tag GoogleAnalytics::JS_URL, async: true %>
    <%= yield(:head_tags) %>
  </head>
  <body>
    <% if content_for?(:navbar) %>
      <%= yield(:navbar) %>
    <% elsif content_for?(:home_navbar) %>
      <%= yield(:home_navbar) %>
    <% else %>
      <%= render 'shared/navbar' %>
    <% end %>
    <div id="flashes">
      <%= render 'shared/flashes' %>
    </div>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= render 'shared/newsletter' %>
    <%= render 'shared/referral_modal' %>
  </body>
</html>
